[2020-02-03 16:04] jbalsas commented on #2843
Added to https://github.com/liferay/clay/milestone/15 so we can prioritize it :)

[2020-02-03 16:06] jbalsas commented on #2738
Added to https://github.com/liferay/clay/milestone/15 so we can prioritize it :)

[2020-02-03 16:07] jbalsas commented on #2526
Closing for now as expected based on @matuzalemsteles's comment

[2020-02-03 16:07] #2526 closed

[2020-02-03 16:08] jbalsas commented on #2053
Added to https://github.com/liferay/clay/milestone/15 so we can prioritize it :)

[2020-02-03 16:08] jbalsas commented on #2037
Added to https://github.com/liferay/clay/milestone/15 so we can prioritize it :)

[2020-02-03 16:09] jbalsas commented on #2029
Added to https://github.com/liferay/clay/milestone/15 so we can prioritize it :)

[2020-02-03 16:09] jbalsas commented on #2102
Added to https://github.com/liferay/clay/milestone/15 so we can prioritize it :)

[2020-02-03 16:09] jbalsas commented on #2422
Added to https://github.com/liferay/clay/milestone/15 so we can prioritize it :)

[2020-02-03 16:11] jbalsas commented on #1203
Added to https://github.com/liferay/clay/milestone/15 so we can prioritize it :)

[2020-02-03 16:11] jbalsas commented on #1221
Added to https://github.com/liferay/clay/milestone/15 so we can prioritize it :)

[2020-02-03 16:36] jbalsas commented on #2896
I've created the LEXI request so we can have definition and start working on this once that's done. See https://issues.liferay.com/browse/LEXI-804 for more details.

[2020-02-03 17:24] boton opened #2897 "@clay-ui/data-provider -> useResource lack of default method (GET) in fetchOptions"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?
Nope but we have a Portal Issue [LPS-106556](https://issues.liferay.com/browse/LPS-106556) and the [fix](https://github.com/brianchandotcom/liferay-portal/pull/84073)

## What are the steps to reproduc

[2020-02-03 17:38] #2780 closed

[2020-02-03 18:11] bryceosterhaus commented on #2891
Thanks for opening this @wincent, this is a great issue to investigate on a rainy day. I would suspect that the `clayui.com` and `@clayui/css` package are two main culprits. I'll look into this in the next few weeks.

[2020-02-03 18:36] bryceosterhaus commented on #2102
Fixed in https://github.com/liferay/clay/pull/2839

[2020-02-03 18:36] #2102 closed

[2020-02-03 18:37] bryceosterhaus commented on #2422
Fixed by https://github.com/liferay/clay/pull/2847

[2020-02-03 18:37] #2422 closed

[2020-02-04 15:11] brunofarache commented on #2888
@wincent thank you, I will remove it.

we are not using `initialActivePage` in master:
https://github.com/liferay/liferay-portal/blob/master/modules/apps/app-builder/app-builder-web/src/main/resources/META-INF/resources/js/components/table/TableWithPagination.es.js#L35

you were referencing some old commit.

[2020-02-04 19:08] pat270 opened #2900 "Clay CSS add support for `.nav-item .dropdown`"
https://issues.liferay.com/browse/LPS-107262

[2020-02-04 23:30] pat270 commented on #2763
@jaredgorski I just sent a pr at https://github.com/liferay/clay/pull/2902. If this gets merged you can enable it by setting `$enable-c-inner: true;` in `_clay_variables.scss` or wherever your variable overwrites are placed.

The pattern is:
[code]

The only places where focus styles will show on click are in `<input type="">`, `<select>`, checkboxes, radios, toggle switches, and `dropdown-toggle`

[2020-02-05 13:03] jbalsas opened #2903 "[New] Application Sidebar Component"
This is a formal request to **implement [Application Sidebar](https://issues.liferay.com/browse/LEXI-806)**  as a Clay Component.

We currently lack documentation proper Lexicon definition and documentation for this component, so this task should start by involving @drakonux and @laugardie in analysis and definition tasks. This is already requested in [LEXI-806](https://issues.liferay.com/browse/L

[2020-02-05 16:32] bryceosterhaus commented on #2903
@jbalsas is this already an existing component via clay-css?

[2020-02-05 16:35] jbalsas commented on #2903
I don't think so, but @pat270 might know best. I think @eduardoallegrini and @marcoscv-work can work on this with @pat270 or he can use the linked POC as a base.

[2020-02-05 16:48] bryceosterhaus commented on #2774
see https://github.com/liferay/clay/pull/2779

[2020-02-05 16:49] #2774 closed

[2020-02-05 18:16] pat270 commented on #2903
@jbalsas @bryceosterhaus @marcoscv-work @eduardoallegrini
We will need to add a base component for the skinny toolbar with icons. I'm thinking `.tbar-stacked`? We will also need to create variations for each, `.tbar-product-menu` and `.tbar-journal-sidebar`?

The Product Menu and Journal Sidebar can be Sidebar variations. I think we should name them `.sidebar-product-menu` and `.sidebar-journal`.

[2020-02-05 20:36] diegonvs commented on #2903
I think these sidebar looks the same, only differs by the content. May We could create `dark` and `light` variations.

[2020-02-05 23:35] pat270 commented on #2891
To me `@clayui/css` test site is important, maybe I can keep a local copy for development then we can be done with this issue.

[2020-02-06 07:41] eduardoallegrini commented on #2903
Can't we use general names instead of dedicated one? E.g. `.tbar-left`, `.tbar-previous`, `.tbar-before` in this way we can use the same tbars without worry about the misunderstandings the names could create. The same goes for the sidebars `.sidebar-left` etc..

[2020-02-06 08:42] jbalsas commented on #2903
Yeah, these are not application specific. We're likely to have:
- Color schemes: Dark/Light
- Positioning: Left/Right

But they can be used in different apps other than journal and product menu, so we should make them as generic as possible

[2020-02-06 10:16] drakonux opened #2905 "Include this new icon: books"
Please include this new icon. Find the .SVG in [LEXI-801](https://issues.liferay.com/browse/LEXI-801)

![books 1](https://user-images.githubusercontent.com/21216422/73927662-10c68880-48d2-11ea-9020-e4be1cdcec3f.png)

Thanks!

[2020-02-06 10:24] jbalsas commented on #2891
Hey @pat270! If the test site is important, it's important for everyone :)

At the same time, it's also important for everyone that the project is light, easy to build and contribute, so we need to find ways to bridge both worlds.

@bryceosterhaus, since we're already using Gatsby to generate the new site... why don't we just migrate the test site to Gatsby? That might help reduce dependencies whi

[2020-02-06 16:02] eduardoallegrini commented on #2903
I'm going to work on it

[2020-02-06 17:53] bryceosterhaus commented on #2891
@jbalsas  When you say test site, are you referring to storybook?

[2020-02-06 18:06] jbalsas commented on #2891
No, @pat270’s test site... the thing is not clayui.com nor storybook

[2020-02-06 18:21] bryceosterhaus commented on #2891
ah gotcha. i didnt realize that was in the repo. @pat270 how do you typically run it?

[2020-02-06 18:30] pat270 commented on #2903
Going forward, I'm trying to address some of the concerns expressed in https://github.com/liferay/clay/issues/1104. We should refrain from being too generic because modifying `sidebar-dark` would cause changes on admin related UI. It seems that is an unwanted behavior for a lot of folks. We really should free up the generic namespaces for devs and scope our stuff to something a little more specifi

[2020-02-06 18:37] pat270 commented on #2891
@bryceosterhaus `packages/clay-css/` then `gulp serve`

[2020-02-06 18:50] pat270 opened #2906 "Clay CSS New Styles for Kbd"
<img width="229" alt="kbd-lexicon" src="https://user-images.githubusercontent.com/788266/73968404-7fa1e280-48ce-11ea-8418-819798576be5.png">

https://issues.liferay.com/browse/LEXI-727

[2020-02-06 19:29] diegonvs commented on #2903
Hey folks, considering that inside an sidebar we can use collapses or anything I created this draft:

[code]

Where buttons.id can be used to display the sidebar content.

What are you thoughts on this?

[2020-02-06 19:35] bryceosterhaus commented on #2903
@diegonvs how do you see the `id` being used to display/hide the content? Generally I think we should avoid ids as a required prop since they must be unique on the page.

[2020-02-06 19:42] diegonvs commented on #2903
It just tells to the ClaySidebar.Contents component:
"- Hey, the user selected this button, so, render me a sidebar body with this component."

The logic to show and hide the Sidebar will be handled by ClaySidebar component.

We could rename this property.

[2020-02-06 20:09] pat270 commented on #2843
@drakonux do we need to implement this number input in Clay or is it just the image section they need?
<img width="81" alt="number-input" src="https://user-images.githubusercontent.com/788266/73974632-913cb780-48d9-11ea-93e2-d76d8ce117c9.png">

[2020-02-06 21:11] pat270 opened #2907 "[New] Clay Number Input + Product Card Number Variation"
https://github.com/liferay/clay/issues/2843 requires a number input that we don't have. It looks like:
<img width="147" alt="clay-number" src="https://user-images.githubusercontent.com/788266/73976288-d7474a80-48dc-11ea-9e11-672dc8ac511c.png">
I'm leaning toward using the native `input[type="number"]`, but has some issues:

Pros:
- Native element
- Mobile devices displays number keyboard by defaul

[2020-02-07 06:33] drakonux commented on #2843
Hey, @pat270 for now no. That's a custom text group Commerce made and they can build it if they want with the components Clay provides.

We should have a friendly request for a new numeric input (we have to review the design, accessibility, etc) and study the benefits to use it instead of the native one.

[2020-02-07 08:28] jbalsas commented on #2843
Hey @pat270, we should allow the card layout in markup.

That is, header/body where:
- The header can have a background and an image and elements can be positioned in the 4 corners
- The body takes arbitrary HTML (we don't need to provide this, just make sure it's possible to do it)

Then we can build the necessary low-level pieces to make it possible to assemble such a card

[2020-02-07 08:31] jbalsas commented on #2907
Lexicon's [Text Input Variations](https://liferay.design/lexicon/core-components/forms/text-input-variations) already define how numeric inputs should look like, so I don't think we should take this, unless Lexicon works on this and adopts it. It should be fine as long as commerce can build that component.

If we ever have an increasing demand for the component, we should clear it out with @drakon

[2020-02-07 08:31] #2907 closed

[2020-02-07 09:09] jbalsas commented on #2903
Hey @pat270, I think this is both the beauty and the curse of CSS, isn't it? :)

In general, we need to carefully analyze such reports so we don't put the bandaid where it's not needed. There's a lot of things to be considered and same way people expect some things not to change, other people expect the exact opposite.

In this case, as we move to SaaS, it's critical that we have a coherent set of

[2020-02-07 21:03] fcodias opened #2909 "ClayDropdown positions"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?
No =(

## What are the steps to reproduce?
The position TopLeft TopRight is not supported, passing it through props works, but without offset as a side effect.

## What is the expected result?
It will

[2020-02-07 21:09] fcodias opened #2910 "Is not possible to define onSubmit on ClayDropdownSearch"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?
No =(

## What are the steps to reproduce?
onSubmit property is not defined, so, when the user press enter key, submits the form causing a reload and there isn’t an API to customize it.

## What is the

[2020-02-10 13:42] #2900 closed

[2020-02-10 18:47] pat270 commented on #2907
@jbalsas
Sounds good. I don't think it's a bad idea to include this as a Clay Component. The `input[type="number"]` behavior between browsers are inconsistent. Normalizing them via CSS + JS is a time saver. I was thinking it would be nice if we could normalize the number input behavior and allow passing in some kind of html template where the increment and decrement buttons could be enabled via a

[2020-02-10 19:19] pat270 commented on #2903
@jbalsas
`.c-` prefix is good, anything that will differentiate those. I still think we need specific classes for each bar. Clay doesn't need to add them, but whoever is making those specific `tbar` and `sidebar` should include them.

[2020-02-10 22:03] jbalsas commented on #2907
Hey @pat270, as we discussed a while ago, our approach is to build things based on real/specific needs. That is, if we have several teams that request to build something, then we get Lexicon to look into it, come up with the proper proposal (after studying design and interaction patterns) and we'll implement whatever comes out of their work. What we can't do is take 1 isolated request and elevate

[2020-02-10 22:40] #2897 closed

[2020-02-11 16:34] wincent opened #2916 "Avoidable DOM thrash in ClayCard"
Not sure if this is a React bug or we were just doing it wrong, but using [the `<Content>` component inside the `ClayCard` implementation](https://github.com/liferay/clay/blob/1fbdfa21e64e623f9470fa50e5d242c0743a0809/packages/clay-card/src/Card.tsx#L56-L60) was causing React to remove one of the descendent elements from the DOM and re-insert it, even though there was no actual diff. When the desce

[2020-02-11 18:06] #2893 closed

[2020-02-11 21:07] jbalsas opened #2918 "Performance Budget Strategy"
Just an RFC for now to explore what we want to do regarding Perf. Budgets. As we keep adding more and more components to the mix, it's important that we look at how that affects our final output so we keep the impact of using our library is contained.

We currently have 2 main deliverables in Clay:
- **@clayui/css**: It's "statically" added through a css link but accounts to most of the css we loa

[2020-02-12 16:45] #2905 closed

[2020-02-12 16:55] #2916 closed

[2020-02-12 17:08] victorvalle commented on #2905
Hi guys! when is the next release of clay so we can use it DXP?

[2020-02-12 17:16] bryceosterhaus commented on #2905
@victorvalle I was planning to make a release tomorrow for clay components. @pat270 do we typically also just release `@clayui/css` with each component release as well?

[2020-02-12 17:52] pat270 commented on #2905
@bryceosterhaus Yes I think that's been the trend.

/cc @matuzalemsteles

[2020-02-12 17:54] matuzalemsteles commented on #2905
Yes, that's correct. @jbalsas is the master already using the `@clayui/css` package?

[2020-02-12 18:01] jbalsas commented on #2905
I think so, yes!!

[2020-02-12 22:02] plhnk commented on #2837
hey @john-co do you mind to make the gdoc open for anyone to edit? I found a couple others :)

[2020-02-12 22:57] #2910 closed

[2020-02-13 00:10] john-co commented on #2837
Hi @plhnk, of course! permission granted. :)

[2020-02-13 11:27] kresimir-coko commented on #833
I'll take this one!

[2020-02-13 22:15] #2909 closed

[2020-02-13 23:31] bryceosterhaus commented on #2905
@victorvalle should be available in `@clayui/css@3.6.0`

[2020-02-13 23:31] bryceosterhaus commented on #2910
@fcodias just released in `@clayui/drop-down@3.2.0`

[2020-02-13 23:31] bryceosterhaus commented on #2909
@fcodias just released in `@clayui/drop-down@3.2.0`

[2020-02-14 16:13] marco-leo opened #2934 "Add Drag and Drop capabilities to ClayTableRow"

[2020-02-14 19:35] #2738 closed

[2020-02-14 20:33] bryceosterhaus opened #2935 "@clayui/alert Not possible to use autoClose and not display the close icon"
https://codesandbox.io/s/inspiring-glade-t38n1

[2020-02-17 16:37] #2763 closed

[2020-02-17 18:20] diegonvs opened #2938 "ClayVerticalNav low-level composition example is missing on storybook"
-   [✅] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

An example showing how to use ClayVerticalNav with .Item and .Link composition is missing on our Storybook.

## Environment

| Tech  | Version |
| ----- | ------- |
| Clay  | latest(v 3.0.6) |
| React |         |

[2020-02-18 14:28] 4lejandrito opened #2939 "Clay label doesn't support icons inside"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?

https://codesandbox.io/s/nostalgic-diffie-yck1g

## What are the steps to reproduce?

Create a ClayLabel with a ClayIcon + text inside.

## What is the expected result?

The icon is on the left of the

[2020-02-18 16:43] bryceosterhaus commented on #2939
@4lejandrito we can get this added for the next release. How urgent of a need is this? Our next scheduled release is Feb 27th.

[2020-02-18 17:03] 4lejandrito commented on #2939
Hi @bryceosterhaus,

It is not urgent.

Thanks!

[2020-02-19 08:43] ethib137 opened #2941 "Tabs flash when fade is enabled"
## Is there an example you can provide via codesandbox.com?
https://clayui.com/docs/components/tabs.html

## What are the steps to reproduce?
Go here: https://clayui.com/docs/components/tabs.html

Click between tabs in the example on the page. The tab content flashes when switching.

## What is the expected result?

Tab content should fade in smoothly.

## Environment

https://clayui.com/docs/comp

[2020-02-19 20:07] bryceosterhaus commented on #2868
@jbalsas any update on this? Not a huge rush, but I was hoping to configure the clayui site a bit so that it doesn't build from upstream and would only build based on the newest released version of the site.

[2020-02-19 20:25] jbalsas commented on #2868
Hey @bryceosterhaus! I was talking to @matuzalemsteles about this the other day. We hit a bit of a block because we don't have a proper engineering operations budget. Jorge was going to look into it but he's on PTO this week, so we'll need to wait at least for a week until I can provide an update.

[2020-02-19 20:59] matuzalemsteles commented on #2868
hey @bryceosterhaus this would be cool, I had this in mind but I didn't find anything like that to configure, I can only change the branch but we don't have a `master-stable` anymore... Did you see anything about it?

[2020-02-19 22:32] bryceosterhaus commented on #2868
@matuzalemsteles I havent actually looked into it yet, but I'm sure we could configure a GH action to deploy on certain tag names or something. Once we get the service accounts I will dig into it more.

[2020-02-20 09:33] kresimir-coko commented on #1203
Can I get some more details on this task? On top of which page, somewhere in the [header](url
![image](https://user-images.githubusercontent.com/24564752/74920454-77689d80-53cc-11ea-8e7c-fad878bfbea0.png)
) of clayui.com? ? Which versions should be included?

[2020-02-20 09:50] kresimir-coko commented on #1221
Can we get some clarification on this task? I don't see a version selector/publication date/status on [the Lexicon site](https://lexicondesign.io/). Also, https://lexiconcss.wedeploy.io/, is down, so I can't reference it to even figure out what this task is supposed to achieve.

[2020-02-20 09:58] esanzp commented on #2029
Closing is as it is already merged

[2020-02-20 09:58] #2029 closed

[2020-02-20 09:59] chrberndt commented on #1221
@kresimir-coko perhaps an example from a more reliable documentation:

https://docs.gradle.org/current/userguide/userguide.html

With regard to a more agile release cycle, I think it would be very useful to have a version switcher similar to the one of the gradle docs.

With regard to partner- and community-developers an explanation of which version of clay / lexicon applies to which version of ou

[2020-02-20 10:01] chrberndt commented on #1203
@kresimir-coko please see my comment at https://github.com/liferay/clay/issues/1221#issuecomment-588881128

[2020-02-20 10:04] kresimir-coko commented on #1203
So, @chrberndt is this task the same as #1221 ? It sounds like it

[2020-02-20 10:08] kresimir-coko commented on #1221
You're referring to this part of the UI?
![image](https://user-images.githubusercontent.com/24564752/74923487-2d35eb00-53d1-11ea-9d71-7f02d55ebc87.png)

Which versions would we have and what would they link to, can you be specific?

[2020-02-20 10:52] chrberndt commented on #1203
That's my understanding, yes.

[2020-02-20 11:56] chrberndt commented on #1221
Yes, exactly. I'm aware of https://v2.clayui.com/ and next.clayui.com (3.x). And what I like about the gradle docs as well is the alias for the current version and the link to the archive ("All versions").

@jbalsas and @plhnk - maybe you want to get in touch with each other since the documentation requirements for lexicon and clay seem very similar. From a developer point of view, I'd very much a

[2020-02-20 12:31] kresimir-coko commented on #1221
It seems that https://next.clayui.com/ === https://clayui.com/
So the only version other than the default (clayui.com) would be v2.clayui.com.
Does that warrant a dropdown, or just a link next to the logo to the v2 version, and vice versa, link to v3 on the v2.clayui.com?

[2020-02-20 12:39] chrberndt commented on #1221
Well - with currently two options, you're right. But I'd expect more versions in the future and since we offer support for at least four years, customers should have easy access to the documentation that applies to their respective version.

[2020-02-20 14:04] kresimir-coko commented on #1221
So perhaps we should wait on confirmation by @jbalsas or @bryceosterhaus whether to pursue this and in what manner.

[2020-02-20 23:13] bryceosterhaus commented on #1221
I'm not totally sold on the idea of adding a dropdown for different versions. This might be helpful in the future, but right now I think the technical limitations on this would be a bit much. It would require us to cut releases of docs for each package, and we just haven't been doing that. This grows even more difficult since we now have different versions for each package(button vs alert). This m

[2020-02-21 06:11] kresimir-coko commented on #2896
I'll take this one!

[2020-02-21 08:30] FabioDiegoMastrorilli opened #2945 "Clay paginations buttons break inside forms"
Sometimes we need to wrap a table inside a form so we can select some items ticking a checkbox in the row and submitting the form.

The problem is that buttons in paginations don't have `type="button"` as attribute, so they submit the form when clicked.

We can't use an `event.preventDefault()` inside a callback because we don't receive an event as parameter:
[code]

[2020-02-21 18:02] bryceosterhaus commented on #2945
@FabioDiegoMastrorilli thanks for filing this, I'll add those button types and should be able to have this released next week.

For a work around until then, are you able to use `preventDefault` on the form's `onSubmit` event?

[2020-02-21 18:11] bryceosterhaus commented on #2945
@FabioDiegoMastrorilli check out this test and let me know if this is what you would expect.

https://github.com/liferay/clay/pull/2946/files#diff-c3787f5289231be9569122215cf5ba56R115

[2020-02-21 18:57] #2935 closed

[2020-02-21 20:20] corbinmurakami commented on #2843
I see this issue is still open so I just wanted to check in and see if anyone needs anything from the Commerce team. Want to make sure no one's blocked by us. Thanks

[2020-02-24 09:05] FabioDiegoMastrorilli commented on #2945
Hi @bryceosterhaus , the pagination is included in a component which we use often inside a form rendered server side.
`e.preventDefault()` actually works but we can't replicate it in all the JSPs that use our component.

[2020-02-24 23:26] bryceosterhaus commented on #2938
@diegonvs did you have a specific example you needed the low-level API for? I don't think we ever exposed a lower level than the storybook. Is there a circumstance that the existing `ClayVerticalNav` component doesn't cover?

[2020-02-24 23:30] bryceosterhaus commented on #2918
I read through the articles you mentioned and they all seemed to speak of a performance budget in regards to a specific webapp or site. Since Clay is a library, I am wondering what the best way to measure performance is since we can't really use something like lighthouse. Perhaps we could do something similar to material-ui, where they have a CI that analyzes the bundle size on each PR. [example](

[2020-02-25 12:37] georgel-pop-lr commented on #1056
Hi, after fixing another two issues reported while doing 'yarn build':
packages/clay-autocomplete/package.json and packages/clay-autocomplete/package.json has duplicated of "metal-dom": "^2.16.0", and another one in dev dependencies "metal-dom": "^2.13.2", I added same versions for both, but I think it can be removed from dev dependencies.

After this in the branch of 2.x this issues is still pres

[2020-02-25 16:03] pat270 commented on #2918
@jbalsas is there a specific size for @clayui/css we are trying to target?

[2020-02-26 15:20] laugardie opened #2953 "$dark card is not displaying the right color"
The $dark card in Clay is not displaying the right color. The color properties are right, but it displays a different color. It should display the following color:
<img width="110" alt="Screenshot 2020-02-26 at 16 18 56" src="https://user-images.githubusercontent.com/56547676/75358779-bbb7da00-58b3-11ea-8611-4baea4598fd8.png">

<img width="1680" alt="Screenshot 2020-02-26 at 16 04 36" src="https:/

[2020-02-26 19:04] pat270 opened #2954 "Clay CSS add variable $component-focus-inset-box-shadow for inner focus styles"
@drakonux says that is interesting to have [inner focus styles] to fix possible [overflow] issues, and they, as a designer, are not using it because they are not aware that they can use it.

![inner-focus](https://user-images.githubusercontent.com/788266/75377963-aaf16f00-5887-11ea-9455-fa11655e0849.png)

[2020-02-27 09:51] marcoscv-work commented on #2954
That's great!

@pat270 do you think it could be interesting to have a helper class to overwrite the focus? For example: `.inner.-focus` wich is added to a button or link and it changes its focus

[2020-02-27 09:55] #2953 closed

[2020-02-27 14:27] matuzalemsteles commented on #2918
I think trying to impose a performance budget inside Clay can be a bit much for a library, it would be difficult as Bryce said to measure the size of our packages. We do not deliver our processed packages with minification, dead code removal or more refined optimizations. I think this part is really up to the application to add these steps, since they can apply it in the best way.

Perhaps what we

[2020-02-27 15:01] laugardie opened #2960 "Replace $indigo value"
[Lexi-750](https://issues.liferay.com/browse/LEXI-750)
As clay plans to overwrite the default colors from bootstrap with Lexicon chart colors, Lexicon wants to provide the $indigo color too as Clay already provides that. We have made a small adjustment to the color so it adapts to Lexicon and complies with accessibility standards when combined with text.
Could you replace the $indigo value to `#77

[2020-02-27 15:04] wincent commented on #2918
I am surprised that you would classify this as "difficult"; how hard can it really be? And doesn't it seem like something worthwhile even if it requires a little effort?

I've been [looking at using Lighthouse to measure performance in liferay-portal](https://github.com/liferay/liferay-npm-tools/pull/396) and it looks pretty straightforward to gather some basic data even in a complex environment l

[2020-02-27 15:29] matuzalemsteles commented on #2918
Not that this is difficult, I think it would be much easier than in an application.  But I don't see an advantage in measuring the size of the package in our components, this is why we didn't spoil them minified, so we would be measuring a value maybe higher than what would be expected, maybe we will make sense by measuring in that value but we will be seeing values ​​higher than it could be  when

[2020-02-27 16:51] julien commented on #2918
I think we could just try to use Lighthouse and Chrome's devtools until we find a way to "automate" this testing.

A while back I watched this https://www.udacity.com/course/browser-rendering-optimization--ud860 and it gave me good tips on how to measure performance.

If we had a way to test components invidually it would be a good start.

[2020-02-27 16:54] matuzalemsteles commented on #2918
Hm yeah, makes sense. 🤔

Yeah I agree with you, I'm thinking that our main focus should be on `@clayui/css`, we could have a policy to reduce the bundle...

[2020-02-27 17:32] pat270 commented on #2918
Although we don't have a way to magically exclude unused CSS, it's possible, in the theme, to prevent specific @clayui/css components from being output to the final css file by creating `/css/clay/_components.scss`, then copy/paste contents of https://github.com/liferay/liferay-portal/blob/master/modules/apps/frontend-theme/frontend-theme-styled/src/main/resources/META-INF/resources/_styled/css/cl

[2020-02-27 19:21] pat270 commented on #2954
@marcoscv-work we can add it. I think it will be called `.c-focus-inset`. Do you have some examples just for reference?

[2020-02-27 19:44] bryceosterhaus opened #2965 "Add CI analysis for package size"
Stems from https://github.com/liferay/clay/issues/2918

[2020-02-27 19:45] bryceosterhaus commented on #2918
Oh I was actually trying to say the opposite. I think we _should_ measure the size of our packages per PR.

Totally agree with this and I think it would be an easy next step. And especially if we bundle dependencies as well, we will have a realistic glimpse of how large it is for the client.

I'm also just going to create a ticket for this. https://github.com/liferay/clay/issues/new

[2020-02-27 19:45] #2945 closed

[2020-02-27 19:46] #2941 closed

[2020-02-27 22:10] #2960 closed

[2020-02-28 01:14] pat270 commented on #2954
@marcoscv-work I added the utility `.c-focus-inset` to the pr. I would say use it sparingly. It doesn't work on really specific selectors like `.nav-tab .nav-link`.

I think we should change focus styles on `nav-tab` and `nav-underline` to inset because I'm seeing them stuffed inside sidebars.

[2020-02-28 09:58] drakonux commented on #2811
Hey @pat270 @matuzalemsteles any update with this issue? is it done?

[2020-02-28 13:21] matuzalemsteles commented on #2811
hey @drakonux, I think we ended up missing this on the track for component corrections, sorry about that. I'll take care of that today.

[2020-02-28 14:03] drakonux commented on #2811
Thanks @matuzalemsteles

[2020-02-28 19:26] bryceosterhaus commented on #2945
@FabioDiegoMastrorilli  released at https://www.npmjs.com/package/@clayui/pagination/v/3.1.0

[2020-02-28 22:33] #2867 closed

[2020-03-02 09:40] jbalsas commented on #2918
This is easier said than done... it's very difficult, if not nearly impossible to do this from a theme. It requires an absurd level of knowledge on what we provide and what's used in general where a theme applies.

While it's definitely a valid tool, this can't be our to-go answer in the first place.

[2020-03-02 11:02] laugardie opened #2970 "Checking two SVG icons"
## What is your question?
We have updated icon-tablet-landscape and icon-tablet-portrait in [Lexi-742](https://issues.liferay.com/browse/LEXI-742) as they were not pixel perfect. Could you check if the SVGs in Clay are the same as in the ticket? If not, could you update it? Thanks 😄

<img width="250" alt="Screenshot 2020-03-02 at 11 59 32" src="https://user-images.githubusercontent.com/56547676/75

[2020-03-02 13:45] albinojunior opened #2971 "Date picker calendar position fixed on the right end of the page when using dir="rtl" in the liferay-portal"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?

A: Unable to reproduce this problem outside the liferay-portal.

## What are the steps to reproduce?

1 - Install @clayui/datepicker@3.0.7;
2 - Import "ClayDatePicker" on my component file;
3 - Load t

[2020-03-02 15:04] albinojunior opened #2972 "Implement internationalization with "moment.js" receiving only the locale as property in ClayDatePicker"
## What is your proposal?
Implement internationalization with "moment.js" receiving only the locale as property in ClayDatePicker

As suggestion:

Component API:

[code]

By default ClayDatePicker get dateFormat, firstDayOfWeek, months, timeFormat and weekdaysShort:

[code]

## Why would adopting this proposal be beneficial?
The solution prevents the use of a different version of the moment in use

[2020-03-02 19:24] pat270 commented on #2918
I'm unsure of what direction you're leaning towards regarding reducing the size of `@clayui/clay-css`. For `@clayui/clay-css@3.x` as a whole, we can cut a bit from Bootstrap's source. We can cut any styles we overwrite in Clay CSS, since Bootstrap isn't designed to be fully configured via Sass variables.

We can remove auto generating breakpoint styles for `sm`, `md`, `lg`, `xl` for large componen

[2020-03-02 20:02] #2811 closed

[2020-03-02 20:13] diegonvs commented on #2971
As @pat270, mentioned in some internal conversations, would be great check for `dir="rtl"` and reverse the positioning because clay-css doesn't provide a way to align a `dropdown-menu` when it's not relative to the `dropdown` element.

[2020-03-02 22:26] #2895 closed

[2020-03-02 22:32] bryceosterhaus commented on #2895
published at https://www.npmjs.com/package/@clayui/upper-toolbar

[2020-03-02 23:01] bryceosterhaus commented on #2906
fixed at https://github.com/liferay/clay/pull/2956

[2020-03-02 23:01] #2906 closed

[2020-03-02 23:05] bryceosterhaus commented on #1203
closing as duplicate https://github.com/liferay/clay/issues/1221

[2020-03-02 23:05] #1203 closed

[2020-03-02 23:06] bryceosterhaus commented on #1221
Going to close this for now since we don't see ourselves adding this. We may re-visit once we start to version our site based on our release cycle.

[2020-03-02 23:06] #1221 closed

[2020-03-02 23:50] bryceosterhaus commented on #2844
Looks like the markup is merged. I'll take this and add to the clay components as well.

[2020-03-03 09:59] jbalsas commented on #2918
Hey @pat270, for now, I'd be happy if we start monitoring the size and try to keep it contained.

Once we're aware of what's going on with it we can start thinking about strategies to reduce it.

[2020-03-03 23:00] bryceosterhaus commented on #2844
Looking into the clay component, it looks like it might require breaking changes if we want to add this to `<ClayModal.Header>` since we wrap the `children` prop with the `modal-title` class . One way around this might be to add a flag prop that would enable us to use the new API which we would create more low-level components of `<ClayModal.Title>`, `<ClayModal.Item>`, `<ClayModal.ItemGroup>` etc

[2020-03-04 11:35] laugardie opened #2975 "Can outline labels be change into bold labels?"
## What is your question?
I am working on [Lexi-786](https://issues.liferay.com/browse/LEXI-786) to differentiate statuses within the same screen. I would like to know if Clay labels can be modified from outline labels to bold labels as in the image below.

<img width="104" alt="Screenshot 2020-03-04 at 12 17 50" src="https://user-images.githubusercontent.com/56547676/75875148-734c6f00-5e13-11ea-9

[2020-03-04 13:18] matuzalemsteles commented on #2844
hey @bryceosterhaus I was thinking that we could create a new Header component to support this instead of adding a new API to change its entire context of use, maybe it would be better to depreciate this component that we created in `ClayModal.Header` and remove later, following the idea of ​​warnings first. And then we can introduce `ClayModal.HeaderBase`? What do you think?

[2020-03-04 16:29] pat270 commented on #2975
There is no modifier to change outline to bold. I can add a modifier like `label-inverse`, `label-alt`, or a better name. Wish I could go back in time so I could use `label-outline`.

[2020-03-04 19:42] bryceosterhaus opened #2976 "Add release to liferay-portal"

[2020-03-04 19:45] bryceosterhaus commented on #2854
Should be fixed by https://github.com/liferay/clay/pull/2892 and currently seen on clayui.com

Let me know if this doesn't meet your expectations, @drakonux.

[2020-03-04 19:45] #2854 closed

[2020-03-04 20:27] bryceosterhaus commented on #2844
I think our existing component still is useful, but in this paradigm we have created it should probably called something like `ClayModal.HeaderWithTitle` to signify it is more than just a wrapper. I am also a little hesitant to just add `Base` at the end of the component name to make it seem more low-level. I am trying think what would be an appropriate pattern for us when we want add new API that

[2020-03-04 20:31] diegonvs opened #2977 "ClayLabel don't have an option for truncating texts inside"
-   [✅] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?

There isn't a way to truncate the text inside the ClayLabel component just using a property like `trucated` on 2.x(https://github.com/liferay/clay/pull/2858)

## What is the expected result?

An option for truncating text in

[2020-03-04 21:42] matuzalemsteles commented on #2844
@bryceosterhaus Hmm yeah, I'm not sure if we should follow a pattern for a name when we want the component to be lower level, I think it will depend on each case. For now we are trying to find good names 😁, although it is difficult.

I like your idea, I think we can go with that. We can also create a signed ticket for a major version of ClayModal so that we can remember to remove this internal API

[2020-03-04 23:01] bryceosterhaus commented on #2844
It is a little odd, however I don't think we will be making a major change for awhile so its probably fine. And really we won't be getting rid of the API in the future, but instead extracting it to its own component.

[2020-03-05 09:19] laugardie commented on #2975
Yes, it will be great if you can add a modifier to customize the text color, the background color, and the border to change the label into a bold one. :)

[2020-03-05 13:13] matuzalemsteles commented on #2844
Yeah no problem, we can continue with this.

[2020-03-06 10:19] #2970 closed

[2020-03-06 10:20] #2954 closed

[2020-03-09 21:26] pat270 commented on #1092
Closing with `map-deep-merge` this is no longer an issue

[2020-03-09 21:26] #1092 closed

[2020-03-09 21:38] pat270 opened #2990 "@clayui/css Compile time slowing due to `clay-css` mixin"
Instead of listing every css property, we should only print properties passed in by the Sass map

[2020-03-10 20:50] kienD opened #2991 "@clayui/breadcrumb Replace anchor tag in Breadcrumb Item with a ClayLink component"
## What is your proposal?
Replace anchor tag in Breadcrumb `Item` with a `ClayLink` component

https://github.com/liferay/clay/blob/master/packages/clay-breadcrumb/src/Item.tsx#L40-L47

## Why would adopting this proposal be beneficial?
Since we now have `ClayLinkContext`, we can provide the context with a different rendering function for `ClayLink`.

This would allow us to use the `Link` componen

[2020-03-11 08:06] eduardoallegrini opened #2992 "[ClayCssUtilities classes for"
Hi guys, recently I've been working on the Questions project https://issues.liferay.com/browse/LPS-109146 During this project I had to restyle the app and I had to choose between custom classes and Bootstrap's utility classes.

I started with the custom classes and then I switched to ultilities because we had a short deadline and the project was oriented towards a POC. The difference of working wi

[2020-03-11 08:07] eduardoallegrini opened #2993 "[ClayCss] Enable utilities classes for a better development experience"
Hi guys, recently I've been working on the Questions project https://issues.liferay.com/browse/LPS-109146 During this project I had to restyle the app and I had to choose between custom classes and Bootstrap's utility classes.

I started with the custom classes and then I switched to ultilities because we had a short deadline and the project was oriented towards a POC. The difference of working wi

[2020-03-11 08:44] #2975 closed

[2020-03-11 09:31] kresimir-coko opened #2994 "ClayModal: Status prop not defined in the API"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
Go to ClayModal page on clayui.com and navigate to the API section. The `status` prop that's used in the component's implementation isn't listed in the props
## What is the expected result?
The `status` prop to be defined in

[2020-03-11 19:48] #2844 closed

[2020-03-11 21:08] pat270 commented on #2993
I don't see the problem with `!important` if we are using this for POC's. If you want utilities without `!important` we can try adding it and see how much weight it adds to the final css file. I think it should gzip pretty well, but who knows. What we can't do is backport from Bootstrap 5 (unless we are ok with breaking other people's implementations) and set the flag not to use `!important` since

[2020-03-11 21:13] pat270 commented on #2992
Closing, this is a duplicate of https://github.com/liferay/clay/issues/2993

[2020-03-11 21:13] #2992 closed

[2020-03-12 07:57] laugardie opened #2996 "Update Flag of Slovakia"
Due to [LEXI-815](https://issues.liferay.com/browse/LEXI-815), we have updated the flag of Slovakia. Could you update it in Clay? You can find the SVG on the ticket. Thanks! 😄

<img width="141" alt="Screenshot 2020-03-12 at 08 52 30" src="https://user-images.githubusercontent.com/56547676/76499346-d4d99280-643e-11ea-95dd-c7d4dd12d63c.png">

[2020-03-12 11:52] laugardie opened #2997 "Workflow icons are not shown in Clay"
Working on [LEXI-837](https://issues.liferay.com/browse/LEXI-837) we have discovered that there are some missing icons in Clayui.com. They were already added to Clay in this issue - [#2264](https://github.com/liferay/clay/issues/2264) but they are not displayed on the site.
This is the list of icons:

- diamond

- arrow-end

- arrow-split

- arrow-xor

- circle

- arrow-join

- arrow-start

- squa

[2020-03-12 14:00] wincent opened #2998 "ClayTooltipProvider throws due to use of "matches" method"
Description here:

- https://issues.liferay.com/browse/PTR-1576
- https://issues.liferay.com/browse/LPS-107924

We're using [`matches()` here](https://github.com/liferay/clay/blob/a17ee449be5dc95a173a3595e263a8e7fa6a84e9/packages/clay-tooltip/src/TooltipProvider.tsx#L88).

It's [suggested](https://caniuse.com/#feat=matchesselector) that via the non-standard `msMatchesSelector` alternative we can g

[2020-03-12 14:05] albinojunior opened #2999 "ClayTooltipProvider isn't it working on IE11 browser"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?

## What are the steps to reproduce?
1 - When mouse over the trigger element, we are getting this error: 
[code]
2 - The same happens when trying on Clay storybook examples.

## What is the expected re

[2020-03-12 14:07] albinojunior commented on #2999
Duplicated [issue](https://github.com/liferay/clay/issues/2998).

[2020-03-12 14:07] #2999 closed

[2020-03-12 16:13] wincent commented on #2998
Just echoing something from Slack here. We are using `matches` in liferay-portal ([example](https://github.com/liferay/liferay-portal/blob/master/modules/apps/frontend-js/frontend-js-web/src/main/resources/META-INF/resources/liferay/side_navigation.es.js#L201)), but note that it is guarded and also the comment above it about SVG, so maybe that same thing is at issue here.

[2020-03-12 17:34] bryceosterhaus opened #3001 "Improvements for package build stats GH action"
Currently we build ever package and get its size. This means we include all dependencies and peer dependencies such as `react` and `react-dom`. Below are a few improvements we can make to add more benefit.

- [x] Exclude `react` and `react-dom` from the build sizes. (included in size-limit)
- [x] Add build stats for `clay-css`
    - Add stats for both base and atlas themes
- [x] Only run build sta

[2020-03-12 19:22] #2991 closed

[2020-03-12 19:34] #2996 closed

[2020-03-12 21:58] #2998 closed

[2020-03-12 22:43] bryceosterhaus commented on #2976
https://issues.liferay.com/browse/LPS-110292

[2020-03-12 22:59] bryceosterhaus commented on #2976
https://github.com/brianchandotcom/liferay-portal/pull/86213

[2020-03-12 23:53] pat270 opened #3011 "@clayui/time-picker scrolls page when changing time with arrow keys"
## What are the steps to reproduce?
https://clayui.com/docs/components/time-picker.html
Focus input and use down arrow to change time

## What is the expected result?
Page shouldn't scroll

## Environment

| Tech  | Version |
| ----- | ------- |
| Clay  | v3.x  |

[2020-03-13 08:02] jbalsas commented on #3001
Just as a reminder of something we did in the past... not saying we should do this, but just in case.

In `2.x` we created a `clay` package that acted as a wrapper of all-things-clay. See https://github.com/liferay/clay/blob/2.x/packages/clay/src/clay.js

This allowed us to recommend a fairly basic initial setup such as:

[code]

Not sure when that file was last updated or if it has everything...

[2020-03-13 09:16] #1179 closed

[2020-03-13 18:22] #2976 closed

[2020-03-13 18:24] bryceosterhaus opened #3014 "Isolated release for @clayui/tooltip"
in regards to https://github.com/liferay/clay/pull/3007#issuecomment-598643306

[2020-03-13 18:45] bryceosterhaus commented on #3014
merged in clay: https://github.com/liferay/clay/pull/3012
updated portal: https://github.com/brianchandotcom/liferay-portal/pull/86270

[2020-03-13 18:45] #3014 closed

[2020-03-16 08:00] laugardie opened #3017 "Add the Flag of Malaysia"
Due to [LEXI-831](https://issues.liferay.com/browse/LEXI-831), we have included the flag of Malaysia. Could you add it to Clay? You can find the SVG on the ticket. Thanks!

<img width="259" alt="Screenshot 2020-03-16 at 08 59 00" src="https://user-images.githubusercontent.com/56547676/76735063-7412c880-6764-11ea-927c-65b372c14aaa.png">

[2020-03-17 09:21] #2990 closed

[2020-03-17 14:57] drakonux opened #3019 "Add a Design Tokens section"
##  What is your proposal?

Lexicon is the experience language, however, the fact is the design system/implementation is Clay. So I suggest adding a page with the variables that are currently in use as other design systems do (e.g. [lightning](https://www.lightningdesignsystem.com/design-tokens/))

At least we could check quickly which are currently in use, which not, which are wrong... and sugges

[2020-03-17 15:22] matuzalemsteles commented on #3019
hey @drakonux I would find it a little strange to put "Design Tokens" I would have the idea that we could configure Clay to be used on other platforms, such as Mobile, Desktop and etc... although Clay is fully configurable as CSS I think could generate some confusion with the term "Design Tokens". At least I when I see this term I think I can configure the variables for any platform other than the

[2020-03-17 15:37] marcoscv-work commented on #3019
This could help establish a closer relationship between Lexicon and Clay, and their structure would be better understood.
Clay would still be usable in multiple proposes and devices, If I didn't understand wrong it wouldn't change that fact.

[2020-03-17 15:43] matuzalemsteles commented on #3019
At least when I look at Design Tokens, I think that the structure that is providing this through a configuration JSON or in this case the Sass variables allow to generate colors, dimensions ... for different platforms, for example for native platforms either mobile or desktop (without HTML and CSS with Electron or React Native for mobile applications). What I mean is that in the case of Lexicon it

[2020-03-17 16:09] marcoscv-work commented on #3019
I think designers already using our SASS variables to get information and in the past, we have been finding out some inconsistencies, If I don't understand wrong their purpose is improving that part, not to use literally the system of salesforce design tokens, think salesforce is only an example of a design system which share the variable names and values from the technical side

[2020-03-17 16:14] matuzalemsteles commented on #3019
@marcoscv-work yeah, I agree with that, I'm not disagreeing with putting Sass variables, I think maybe we can just clarify in the session our reasons for calling it Design Tokens so as not to cause confusion.

[2020-03-17 16:18] drakonux commented on #3019
Marcos is right. I'm a simple person and my proposal too 😊.

My requirement is just to expose all the variables ($dark, $secondary, etc.) on a page in Clayui.com in a way Lexicon can review it faster than now. For now, that's enough.

ps. In short, if "Design Tokens" doesn't fit as a valid name use a more familiar name. For me it's ok.

[2020-03-17 16:55] pat270 commented on #3019
We already have colors at https://clayui.com/docs/css/color.html.

There are a TON of variables. I'm not sure if you really want to see it all or maybe you do? I've been keeping Sass api docs at http://pat270.github.io/lexicon/v2.16.2/content/api/docs/ and variables at https://pat270.github.io/clay-paver-2/2.15.1/.

Just let me know what you want to see and we can add it.

[2020-03-17 22:29] bryceosterhaus commented on #2971
@albinojunior I think we figured out the main issue here. Check out this PR for reference, https://github.com/liferay/clay/pull/3022.

If you need a quick work around, go ahead and add a custom style for `.dropdown-menu` so that `right` is set to `auto`. Note that when liferay-portal does the rtl transform, it takes all the "left" properties and calls them "right".

[2020-03-18 11:50] #2997 closed

[2020-03-18 12:52] #3017 closed

[2020-03-18 13:41] drakonux commented on #3019
I didn't know theses things exist and wow, yes! there are a TON of variables 😇. Nice work Patrick. We will study them and see what we find interesting to expose on a page (we will open a new ticket).

For now, I close this suggestion because we didn't know that within the CSS Framework section is "Colors" and more stuff.

In addition, from our point of view: colors, typography, grid, and some impo

[2020-03-18 13:41] #3019 closed

[2020-03-18 15:41] victorg1991 opened #3025 "Indigo color has an incorrect hex code in the documentation"
The indigo color has an incorrect hex code set in the page, it should be #7785ff but #6610F2 is shown

https://clayui.com/docs/css/color.html

[2020-03-18 17:57] drakonux opened #3026 "Why checkboxes and radio buttons are 17x17px?"
## Why checkboxes and radio buttons are 17x17px?
![image](https://user-images.githubusercontent.com/21216422/76991144-65d1d180-6949-11ea-9ddb-7a77d7c27721.png)

This is a friendly question. Reviewing the checkbox/radio button size in [Clay](https://clayui.com/docs/components/forms/checkbox.html) is 17px. In our [Foundations ](https://liferay.design/lexicon/foundations/grid/) page we encourage to u

[2020-03-18 19:49] #2971 closed

[2020-03-18 20:02] pat270 commented on #3026
@drakonux even numbered widths and heights made it difficult to center icons. I can revisit to see if this still is the case (I think it is).

[2020-03-19 01:03] pat270 commented on #3026
ok nm what I said, the reason why it was 17px is because I was trying to get the measurements as close as possible to https://liferay.design/lexicon/core-components/forms/radio-check-toggle/#checkbox-group.  We can make it 18px if you want.

[2020-03-19 01:14] pat270 opened #3029 "@clayui/css Date Picker RTL icons are backwards"
Related to #2971, I noticed next month and previous month button icons are pointing the wrong direction.

<img width="276" alt="date-picker-icons" src="https://user-images.githubusercontent.com/788266/77021508-1b018b00-6944-11ea-980e-c0cb08e97e9d.png">

[2020-03-19 10:18] bakayattila opened #3030 "multiselect Issue on labels with special characters"
-   [✅]  I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
Special characters escaped in _defaultAutocompleteItemSelected while not escaped in _addLabelItem at the filter.
## What is the expected result?
Consistent behavior with the HTML escape in _addLabelItem like:
`filteredItem =

[2020-03-19 10:39] bakayattila commented on #3030
Other question related to the issue:  Is it not better to use the value to compare at the filter instead of label comparison?

[2020-03-19 11:24] drakonux commented on #3026
Well, I was thinking more on a 16px checkbox/radio to use a multiple of 8.

We can create a new icon if it's needed and helps or update the current one.

ps. I think years ago, Lexicon & Clay handled problems to align icons because of the way they are created (512x512px) I'm going to talk with the previous team to understand better that problem.

[2020-03-19 12:51] matuzalemsteles commented on #3030
hey @bakayattila I think that comparing the label is a matter of experience for the user, where he is seeing the label, essentially the label must be more user friendly as the value may not be in some cases.

[2020-03-19 12:57] jbalsas commented on #3030
Hey @bakayattila, @matuzalemsteles is right. Take for example one of our usages: `Category Selector`
- Label: Animals
- Value: 408102 (`categoryId`)

That being said... @matuzalemsteles, @bryceosterhaus, don't we support some type of `filterFn` so this can be customized for different needs?

[2020-03-19 13:10] matuzalemsteles commented on #3030
@bakayattila on second thought i think i'm confusing what you were saying 😅, when you refer to the filter to be compared it is the autocomplete or when adding a new label, we do this filter when adding the label to check if the value already exists, if it exists in the data it will take the data values ​​otherwise it will create a new label.

@jbalsas yeah, maybe it's a good one, we can check the

[2020-03-19 13:24] bakayattila commented on #3030
@matuzalemsteles Yes in a particular situation where only the autocomplete future is allowed. Where the suggestions contain unescaped special characters while the autocomplete passes the item with HTML escaped label content,

[2020-03-19 13:25] bakayattila commented on #3030
@matuzalemsteles what do you think about the possible fix I recommended?

[2020-03-19 13:32] kresimir-coko commented on #2671
Hey @matuzalemsteles
One thing that's unclear to me is that in the linked [ticket](https://issues.liferay.com/browse/LEXI-377) the drilldown happens on hover, whereas on @pat270 [test site](http://pat270.github.io/lexicon/v2.16.2/content/dropdowns-drill-down/) the interaction happens on click.

Which interaction should the component support?

[2020-03-19 13:37] matuzalemsteles commented on #2671
Oh @kresimir-coko I didn't notice this, @drakonux can you clarify this for us?

[2020-03-19 13:40] matuzalemsteles commented on #3030
hey @bakayattila yeah, I think this solves the problem. We just need to test to make sure of the other cases.

[2020-03-19 14:07] pat270 commented on #3026
16px works too, I can update it. Don't worry about the icons.

[2020-03-19 14:13] drakonux commented on #3026
😍 Thanks @pat270 !!

[2020-03-19 18:43] drakonux commented on #2671
Hey guys, that ticked I made doesn't have a solid definition. It was a basic proposal I made when I was working on lima-team. In fact, in that time I was requesting a **cascading menu** and Lexicon decided to go for a **drill-down** menu instead.

Anyway, the right interaction for a drill-down menu is **on click** as Patrick did on the test site.

[2020-03-20 10:40] jbalsas commented on #2671
Hey @drakonux, I've created https://issues.liferay.com/browse/LEXI-871 so you can properly study and define the pattern. @kresimir-coko, @bryceosterhaus, let's hold off implementation until we have a final say on the pattern definition.

[2020-03-20 10:52] drakonux commented on #2671
👍 Thanks, @jbalsas we will work on it the next sprint.

[2020-03-20 12:20] kresimir-coko opened #3036 "Add documentation for the Dual List Box and Select Box components"
The [Dual List Box](https://github.com/liferay/clay/issues/2896) component requires documentation on clayui.com

[2020-03-20 18:18] bryceosterhaus opened #3041 "Release clay v2.21.0"
https://github.com/liferay/clay/releases/tag/v2.21.0

[2020-03-20 18:19] #3041 closed

[2020-03-20 18:19] bryceosterhaus commented on #3041
created for tracking tasks

[2020-03-20 19:49] pat270 opened #3042 "Use c-inner for better focus styles"
Blue focus outline should only show on keyboard tab, not click

[2020-03-20 20:06] #2896 closed

[2020-03-20 20:38] bryceosterhaus commented on #3030
@bakayattila could you provide a snippet of how to demo and test this?

[2020-03-20 22:34] bryceosterhaus commented on #2972
Hey @albinojunior, can you check out this fix and see if it would be sufficient for you? The goal for this is so that you don't have to import and use moment yourself, but you can just utilize the helper function to get the props needed. https://deploy-preview-3043--storybook-clayui.netlify.com/?path=/story/components-claydatepicker--w-getlocaleprops

Making this into a helper function rather than

[2020-03-22 20:04] #3026 closed

[2020-03-22 20:07] #3025 closed

[2020-03-23 08:26] bakayattila commented on #3030
hi @bryceosterhaus,

Environment info:
Liferay dxp-2-7210

Reproduction steps:
1. Create a vocabulary with name CITIES
2. Create two categories in the vocabulary CITIES: ROMA and CANNETO SULL'OGLIO
3. Create a Web Content with a model Basic Web Content
4. In the box of the section METADATA, CITIES, type R, or RO, or ROM.
5. The category ROMA will appear under the box
6. If you click on the tip ROM

[2020-03-23 15:52] matuzalemsteles opened #3045 "DatePicker: Make it possible to disable the DatePicker and listen to onFocus and onBlur events"
I'm migrating from DDM to use the new DatePicker in Clay's React, but we need some features like disabling DatePicker and listening for input events.

[2020-03-23 18:13] matuzalemsteles opened #3047 "DatePicker: Add forwardRef to the input and add callbacks for change events for the year and maybe month"
## What is your proposal?

The idea is to access the input of the DatePicker, apply masking cases, for example. We listen the navigation changes in the date picker:

- Change the year
- Navigate between months
- Change the month

[2020-03-23 18:16] matuzalemsteles commented on #3047
@bryceosterhaus what do you think? I can work on it. I'm going to use this to apply the changes to the DDM migration 😅.

[2020-03-23 20:07] bryceosterhaus opened #3048 "Update to Prettier v2.0.0"
copied from https://github.com/liferay/liferay-npm-tools/issues/418

[2020-03-23 20:14] #3011 closed

[2020-03-23 20:23] bryceosterhaus commented on #3047
I think this makes sense, especially in the case where users might need to change something in their app in response to the non-selected values changing.

[2020-03-24 03:17] justingolden21 opened #3051 "Getting Started Link is Broken"
## The Problem

The "Getting Started" link in the README, the basic starting point for most people who arrive at this repository, is a link to a completly empty page.

It links to [the introduction page](https://next.clayui.com/docs/get-started/introduction.html) which is blank:

![image](https://user-images.githubusercontent.com/30274440/77384568-fa21a700-6d42-11ea-866c-2c1effdd97a6.png)

## Step

[2020-03-24 05:56] #3051 closed

[2020-03-24 05:56] bryceosterhaus commented on #3051
@justingolden21 thanks for opening this issue! Should be updated now

[2020-03-24 14:17] kresimir-coko commented on #2271
I've investigated this issue, checked all components and their variations in storybook and here's what I came up with - [Accessibility violations in Clay Storybook](https://docs.google.com/spreadsheets/d/1rrzP_H9XBF9pW6omBLpI22NYLjB7JO-6ZvM2P260Z44/edit#gid=0)

Requesting feedback as to how to proceed.

[2020-03-24 18:06] bryceosterhaus commented on #3030
merged https://github.com/liferay/clay/pull/3031

[2020-03-24 18:06] #3030 closed

[2020-03-24 18:25] pat270 opened #3054 "clayui.com: Table React Component headingCell color should be Secondary (#6b6c7e)"
https://issues.liferay.com/browse/LEXI-868

[2020-03-24 18:55] bryceosterhaus commented on #2271
@kresimir-coko looks like the doc is private. I'm unable to access it

[2020-03-24 18:56] #3042 closed

[2020-03-24 18:59] bryceosterhaus opened #3056 "Add parent pages for sidebar"
Currently on the sidebar, we don't have an overview page for each of the sections. I think it would probably be helpful to have short descriptive pages for each of these categories. This would also allow us to have better links, rather than having to go to a specific page right away. For example, if you want to link to the components as a whole, you would likely link straight to Alerts

![Screen S

[2020-03-24 19:18] #2972 closed

[2020-03-24 21:28] #3054 closed

[2020-03-24 21:28] justingolden21 commented on #3051
No problem, thank you for fixing it so quickly.

[2020-03-24 21:35] #3045 closed

[2020-03-24 21:43] bryceosterhaus opened #3059 "Cant add element attributes to inner element of label"

[2020-03-24 22:01] #3047 closed

[2020-03-25 03:35] pat270 opened #3063 "@clayui/css Button Group Vertical with Btn Monospaced shrinks too small inside an autofit-col"
<img width="705" alt="btn-group-vertical-btn-monospaced" src="https://user-images.githubusercontent.com/788266/77499282-ecd1ee80-6e0e-11ea-874e-bb046e06588b.png">

[2020-03-25 07:18] kresimir-coko commented on #2271
@bryceosterhaus Should be fine now, I've edited the sharing permissions.

[2020-03-25 12:50] kresimir-coko commented on #2939
@4lejandrito Hey, I've got a question about this issue. Currently the way ClayLabel works is that it allows the user to define the `children` of the component like. It also accepts a `className` prop that will allow the user to style the component however they want.
[code]
Why not leave the component as is and leave the responsibility on the user to add the icon and style it the way they want?

Ot

[2020-03-25 13:05] 4lejandrito commented on #2939
Hi @kresimir-coko,

I agree with you that it is possible to achieve now. But I also think it is not expected to put an icon and a text inside and have them behave like "block" elements.

I think it would be much more natural to have them one next to the other. Same with any other kind of elements you put inside.

But it is up to you guys.

Thanks!

[2020-03-25 13:06] kresimir-coko commented on #2939
Alright, that helps clarify it a bit, thanks @4lejandrito

[2020-03-25 14:01] pat270 commented on #3056
I think this would fix https://github.com/liferay/clay/issues/2793.

[2020-03-25 14:46] matuzalemsteles commented on #3056
I support 😁, I had done this in the beginning. But they will remove 😞I had an idea at the beginning of using these pages of the session to try to "sell" Clay, explain how it works...

[2020-03-25 18:11] bryceosterhaus commented on #2271
@kresimir-coko thanks! After looking at the doc, I think a good first step would be to address any accessibility issues we are able to just through the stories. I think a handful of these could be fixed on the story side first and that any that rely on changes to the source of the components, we can add those next. That sound good to you?

[2020-03-25 18:22] #2837 closed

[2020-03-25 18:27] bryceosterhaus commented on #2868
@jbalsas any update on this? I was waiting on this before I work on some versioning and release process stuff for clayui.com

[2020-03-25 18:29] bryceosterhaus opened #3067 "Add release versions and release process for clayui.com"
Currently, clayui.com is updated off of master, but ideally we would release it based off of versions so that the docs are are always in-sync with the current available releases of the components.

Steps:
- Add proper versions for clayui.com package
- Only publish clayui.com when new version is released

[2020-03-25 18:32] bryceosterhaus opened #3068 "Move component docs from clayui.com to their respective packages"
Instead of having all of our component docs in the clayui.com directory, I think it would make more sense to co-locate the docs with each package. This way the docs get versioned in the same manner as the component itself. This also would provide a lower barrier of entry to updating the docs when we update components. And ideally this move would not change the site at all, but instead clayui.com w

[2020-03-25 22:03] pat270 opened #3070 "@clayui/css remove old jquery plugins"
Is it safe to remove the old clay-css jquery plugins from 3.x?

https://github.com/liferay/clay/blob/master/packages/clay-css/src/js/collapsible-search.js
https://github.com/liferay/clay/blob/master/packages/clay-css/src/js/nav-tabs-scroll-dropdown.js
https://github.com/liferay/clay/blob/master/packages/clay-css/src/js/side-navigation.js

[2020-03-25 22:39] bryceosterhaus commented on #3070
yeah I don't see why not, unless you are using them for the clay-css site or dependent on them in any way. We don't use them in any components

[2020-03-26 07:41] bakayattila opened #3071 "clay multiselect fix release"
Hi Team,
Is it possible to release this #3030 fix in v2.21.1?

Best,
Attila

[2020-03-26 07:46] justingolden21 opened #3072 "Alert Page Typo"
## Steps to Reproduce

The Alert component page at [clayui.com](https://clayui.com/docs/components/alerts.html) displays the following under "Embedded":

![image](https://user-images.githubusercontent.com/30274440/77622217-1a946180-6efb-11ea-8469-0068470d24fb.png)

## Expected Result

I believe this is a typo and "one" should be replaced with "once".

[2020-03-26 07:46] kresimir-coko commented on #2271
@bryceosterhaus will do!

[2020-03-26 08:15] jbalsas commented on #3068
![hellyeah](https://user-images.githubusercontent.com/905006/77624561-4981f600-6f42-11ea-8402-1f00c5f20fae.gif)

[2020-03-26 08:16] jbalsas commented on #3070
@markocikos, @carloslancha, can you confirm we got rid of usages for all these plugins?

[2020-03-26 08:17] jbalsas commented on #2868
We got approval from Legal and Security... waiting for IT to make it final. I'll ping them again today.

[2020-03-26 08:39] jbalsas opened #3073 "RTL Strategy"
First brought to our attention with [Date picker calendar position fixed on the right end of the page when using dir="rtl" in the liferay-portal](https://github.com/liferay/clay/issues/2971) and [@clayui/css Date Picker RTL icons are backwards](https://github.com/liferay/clay/issues/3029)

We should come up with a proper RTL strategy to account for Clay in RTL environments both in and out of DXP t

[2020-03-26 08:40] jbalsas commented on #3029
I'm closing this so we can discuss a more generic approach as part of [RTL Strategy](https://github.com/liferay/clay/issues/3073)

[2020-03-26 08:40] #3029 closed

[2020-03-26 09:39] wincent commented on #3070
At least for side-navigation, I can confirm we moved [*a copy of it* into `frontend-js-jquery-web`](https://github.com/liferay/liferay-portal/blob/e4a8566ba9add6f6093029581845d16c831b6934/modules/apps/frontend-js/frontend-js-jquery-web/src/main/resources/META-INF/resources/jquery/side_navigation.js) for use by clients, and we moved all internal issues to [the jQuery-less implementation](https://gi

[2020-03-26 18:46] bryceosterhaus commented on #3071
@bakayattila yep! I should be able to release it tomorrow(March 27th).

[2020-03-26 18:46] #3071 closed

[2020-03-26 18:53] pat270 opened #3075 "@clayui/css Convert mixins to use generic clay-css mixin"
Mixins like `clay-button-variant`, `clay-close`, and `clay-dropdown-menu-variant` should leverage the `clay-css` mixin so we won't need to repeat property declarations for each mixin. It also allows for a wider range of css properties to be passed in.
- [x] clay-sticker-variant #3160
- [x] clay-tbar-variant #3162
- [x] clay-autofit-row #3163
- [x] clay-panel-variant #3159
- [x] clay-modal-variant

[2020-03-26 21:21] justingolden21 commented on #1649
Updated link to Lexicon Colors: [https://liferay.design/lexicon/foundations/color/](https://liferay.design/lexicon/foundations/color/)

In case someone stumbles upon this post and finds it useful.

[2020-03-27 08:04] laugardie opened #3080 "Add new icon: disk"
Please, include this new icon. Find the SVG in [LEXI-793](https://issues.liferay.com/browse/LEXI-793).
**disk**: floppy, save
<img width="69" alt="Screenshot 2020-03-23 at 17 16 25" src="https://user-images.githubusercontent.com/56547676/77734475-0d659880-7009-11ea-9049-6520bcabd9fd.png">

Thanks!

[2020-03-27 08:27] wincent commented on #3080
I know this is probably not the right forum for this kind of feedback, it's probably to late, and the representation here is supposed to be iconic and not literal, but the floppy disk in the icon wouldn't actually work in the physical world:

![floppy](https://user-images.githubusercontent.com/7074/77736586-c37eb180-700c-11ea-9a0e-4d1d43d54dd0.png)

The metal piece needs to slide to the left in or

[2020-03-27 08:31] jbalsas commented on #3080
![nerdalert](https://user-images.githubusercontent.com/905006/77737200-c6c66d00-700d-11ea-91af-495a1e9ad650.gif)

[2020-03-27 09:04] jbalsas commented on #3059
(Having some issues with our sync in JIRA... reopening to see if I can fix it manually)

[2020-03-27 09:14] #3059 closed

[2020-03-27 11:39] laugardie commented on #3080
hahaha, no worries. @wincent I completely see your point. Thanks for the feedback. We have taken a look into it and we have decided to make some changes as never is too late 😂Don't get used to this! 😏

<img width="134" alt="Screenshot 2020-03-27 at 12 31 09" src="https://user-images.githubusercontent.com/56547676/77752192-63493900-7027-11ea-9614-28d248138e07.png">

[2020-03-27 13:09] #3063 closed

[2020-03-27 14:38] wincent commented on #3080
❤️  the new one!

[2020-03-27 19:43] albinojunior opened #3082 "ClayPaginationBar is missing padding/margin top"
## What is your question?

I recently saw that the ClayPaginationBar is missing a padding/margin top, and consequently is very close to the element above it.

**The question is:**
Was the padding/margin removal intentional?
I need to know so that I can correct my component if necessary, or wait for a possible correction in clay.

Thanks!

[2020-03-27 20:15] bryceosterhaus opened #3083 "Update clay dependencies in liferay-portal"
cross reference to https://issues.liferay.com/browse/LPS-111005

[2020-03-27 20:16] #3036 closed

[2020-03-27 20:17] bryceosterhaus opened #3084 "Update clay dependencies in liferay-portal"
Jira issue to be created at end of sprint

[2020-03-27 20:42] bryceosterhaus commented on #3082
@albinojunior  I was looking over the [lexicon definition](https://liferay.design/lexicon/core-components/pagination/) and there is no specified border or padding so I believe this is intentional.

cc: @drakonux can you verify this?

[2020-03-30 08:16] drakonux commented on #3082
It was intentional 😉. The Pagination component can be used in different contexts, so it is designed without a top border or padding.

The designer/developer using the component needs to decide the distance between it and other components. By default, we recommend distance multiples of 8 but it depends on the context.

[2020-03-30 10:25] kresimir-coko commented on #2977
Fixed in [feat(@clayui/label): add prop for inner element attributes #3060
](https://github.com/liferay/clay/pull/3060)

[2020-03-30 10:25] #2977 closed

[2020-03-30 10:46] laugardie opened #3085 "Update cog icon"
Please, update this icon. Find the SVG in [LEXI-850](https://issues.liferay.com/browse/LEXI-850).
**cog**: settings, change, gear
<img width="58" alt="Screenshot 2020-03-24 at 17 23 15" src="https://user-images.githubusercontent.com/56547676/77904050-26c64900-7284-11ea-897a-eecc549af57b.png">

Thanks!

[2020-03-30 13:01] pat270 commented on #3082
Just for clarification, I think the CSS properties that we are talking about is `margin-top` or `padding-top`.

[2020-03-30 13:50] albinojunior commented on #3082
Thanks for clarification guys.

I've decided to put the padding/border top inside my component, but I was just ask because bottom padding/border of ClayPaginationBar keep there.

**My last question is:**
There is reason to building the component without a top padding/border but with a bottom padding/border?

I'm just asking this because when I was began use the component on my project the padding/

[2020-03-30 15:10] eduardoallegrini commented on #2863
https://github.com/liferay/clay/pull/3089

[2020-03-30 15:10] #2863 closed

[2020-03-30 15:12] pat270 commented on #3082
@albinojunior The reason there is no `padding-top` or `margin-top` on the component is because we don't know if the component before it will use `padding-bottom` or use `margin-bottom` but is wrapped in something that is `display: flex`. There is no fixed size that would get it correct in all situations, so we left it to be set by the component before it.

Also if the pagination bar was also inclu

[2020-03-30 15:29] #3082 closed

[2020-03-30 15:42] pat270 commented on #3073
Here is the list of Lexicon icons that should be flipped in RTL:
align-image-left
align-image-right
align-left
align-right
angle-left
angle-right
arrow-end
arrow-start
breadcrumb
caret-left-l
caret-left
caret-right-l
caret-right
indent-less
indent-more
list-ol
list-ul
list
order-arrow-left
order-arrow-right
video ? not sure if play triangle is supposed to be flipped

[2020-03-30 16:30] laugardie opened #3091 "Add new icon: Search-plus"
Include this new icon. Find the SVG in [LEXI-855](https://issues.liferay.com/browse/LEXI-855). There are 2 SVG on the ticket, search-plus.svg is the one that should be used.
**search-plus**: lens, inspect, zoom

<img width="83" alt="Screenshot 2020-03-30 at 18 23 29" src="https://user-images.githubusercontent.com/56547676/77936710-93a50780-72b3-11ea-9319-0fc7d1dc9eeb.png">

Thanks!

[2020-03-30 17:11] #3072 closed

[2020-03-30 21:32] bryceosterhaus opened #3094 "Documenting ideas that require a breaking change."
Goal: Consolidate ideas/info for future breaking changes.

@matuzalemsteles and I were talking and realized we don't currently have a way to consolidate any information on future changes we want to make that would require a breaking change. I am thinking we should actually store these thoughts with code itself. Two ideas come to mind for this.

1. Add a markdown file(perhaps BREAKING.md) per packa

[2020-03-30 22:11] pat270 opened #3096 "@clayui/css Buttons, Close, and links using anchor tag should have cursor: not-allowed"
Bootstrap sets `pointer-events: none` on the `.disabled` class. We need to undo that and only apply `pointer-events: none` on `.disabled:active`.

[2020-03-31 07:43] jbalsas commented on #3082
This reminded me about [Layout util components](https://github.com/liferay/clay/issues/2421). I think it's about time we tackle that. Providing layout utils might alleviate this pain since we might account for some of these spacing in those containers (when reasonable) to simplify creating Lexicon layouts...

@bryceosterhaus, @matuzalemsteles, thoughts?

[2020-03-31 08:30] wincent commented on #3094
`1.` is better than `2.` because you can't mark things up in `TODO` comments.

Other options:

3. One `BREAKING.md` for all packages instead of one per package (most packages shouldn't have breaking changes anyway).
4. In an issue (like this one).
5. On the wiki.
6. By creating issues for proposed changes and labeling them with some label that means "proposed breaking change for 4.x" (I don't know

[2020-03-31 08:34] jbalsas commented on #3094
On the risk of having many long-lived issues, this sounds like a good option to me.

[2020-03-31 10:38] jbalsas commented on #2421
I've added this to the https://github.com/liferay/clay/milestone/19

[2020-03-31 10:54] kresimir-coko commented on #3056
I did some digging around this issue and I couldn't wrap my head around it entirely. I'd like to tackle it but I need some information before I do that.

1. Is the behaviour expected to be the same as [Lexicon's](https://liferay.design/lexicon/foundations/) where the link to the parent page is the same that has the dropdown functionality (eg. clicking on  `Foundation` opens the parent page)?
2. Th

[2020-03-31 10:55] jbalsas commented on #3073
I think the easiest way might be to generate an additional `icons.svg` spritemap that swaps the symbol names.

Some are probably not necessary like `align-image-left` since they represent an action and the code might do exactly that... but won't hurt double-checking..

[2020-03-31 13:34] #3085 closed

[2020-03-31 13:44] #3091 closed

[2020-03-31 14:53] matuzalemsteles commented on #3056
hey @kresimir-coko  if I understood Bryce's idea, if we keep the same behavior that I had thinking at the beginning too, we will probably continue like this:

1. Yes, we will follow this behavior.
2. To create a section page we can use the `index.md` files, you can access them via `index.html`, they are already being created but the navigation menu is not linking to it. For example https://clayui.

[2020-03-31 14:56] matuzalemsteles commented on #3094
I also like the idea of ​​creating issues and adding labels and also gathering the issues in a `BREAKING.md`. 👍

[2020-03-31 16:10] matuzalemsteles commented on #2421
hey @jbalsas as comment from https://github.com/liferay/clay/issues/3082#issuecomment-606457343. I will leave some ideas that I have about this.

I follow a design system from Seek that Mark Dalgleish talks a lot about where he works, he presented some of his characteristics and it is very interesting how they approached the creation of primitive components only. They did a great job with the harm

[2020-03-31 17:50] bryceosterhaus commented on #3094
This was the reason I thought actually committing to a markdown file might be appropriate since its sort of "resolved" via PR discussion. Sometimes issues seem to drag on and its not super clear that the discussion is resolved and finished.

[2020-03-31 18:00] bryceosterhaus commented on #3068
https://github.com/liferay/clay/pull/3092#issuecomment-606451143

[2020-03-31 18:03] #2802 closed

[2020-03-31 19:44] pat270 commented on #3068
Since we are releasing each package individually, I was wondering how we were going to unify the docs to make it easy to consume by Portal users? I'm visioning having to comb through Portal's source to see what version of Clay Autocomplete it's using and matching it to the same Clay CSS version.

[2020-03-31 19:55] bryceosterhaus commented on #3083
https://github.com/bryceosterhaus/liferay-portal/pull/64#issuecomment-606800748

[2020-03-31 19:55] #3083 closed

[2020-03-31 19:58] bryceosterhaus commented on #3056
Totally agree to what @matuzalemsteles said.

Overall, the goal is have some landing pages for those tabs so that we don't throw people directly into a sub-category yet

[2020-03-31 21:29] #2939 closed

[2020-03-31 22:18] bryceosterhaus opened #3104 "Add docs for localized-input"
We need to add docs for the new `@clayui/localized-input` component

[2020-03-31 22:18] #2894 closed

[2020-03-31 22:27] bryceosterhaus commented on #3068
@pat270 Ideally portal should be on the latest release of clay and whatever is latest on clayui.com. The primary goal initially is for the site not to contain docs for features that aren't released yet. As of now, we can't update the site without having it go live. Also by co-locating the docs, we can at least see the history of the docs in the same context of the history of the source code.

[2020-04-01 08:14] eduardoallegrini commented on #3056
Are we sure we really need these overview pages?

The target of Clay is pretty much devs (Liferay's devs) and they are use to having the information they are looking for right away, so I think we should keep these content light and simple.

When I navigate the website I skip the main page and got directly to what I need using either the Clay website's search bar or the browser search function beca

[2020-04-01 08:31] eduardoallegrini commented on #2421
I took a look at the design system and I think it's great, and even if it's too soon to decide what we need (since we don't know for sure what we have yet) I will link your comment in the results of the spike we are working on.

My only concern is that it seems to have some limits, for example: what happens if we need different spaces between the elements inside the container? (but again, I didn't

[2020-04-01 12:20] matuzalemsteles commented on #2421
Hey @eduardoallegrini yeah, I think this is one of the main problems that we may have, I think it will be difficult to correct this, even if we have much smaller spacing patterns it will still be a problem in cases when some layout does not respect this. I think the best thing to do is for Lexicon to impose a spacing rule every n px...

[2020-04-01 12:34] drakonux opened #3105 "ClayInput and ClayButton Small: Wrong border-radius"
Talking with Juan Antón from echo-team, we noticed that small inputs and buttons use border-radius: **3px**

## Current values
![image (1)](https://user-images.githubusercontent.com/21216422/78136537-18af2e80-7424-11ea-97c1-ae1379672321.png)

![image](https://user-images.githubusercontent.com/21216422/78137429-99baf580-7425-11ea-9e2b-9f7996beb4e8.png)

## What are the steps to reproduce?
Inspect C

[2020-04-01 13:25] markocikos opened #3107 "ClayModal size CSS class is applied twice"
See `['modal-${size}']: size`, [here](https://github.com/liferay/clay/blob/2f5b60bb897cf1c6d4530af8167921a58d563a1d/packages/clay-modal/src/Modal.tsx#L92) and [here](https://github.com/liferay/clay/blob/2f5b60bb897cf1c6d4530af8167921a58d563a1d/packages/clay-modal/src/Modal.tsx#L99).

This is probably not intended. The effect is that is causes double padding, and awkward overriding in implementatio

[2020-04-01 13:34] matuzalemsteles commented on #3107
hey @markocikos this was intentional to solve the problem of Modal being closed when the modal aggregates several portals inside it, it is common that it aggregates portals inside it, there may be many DropDowns and we need to check if the click is inside the modal body, I I remember I had problems with the CSS, the way it was done prevented us from checking if the click was really being inside th

[2020-04-01 14:03] markocikos commented on #3107
@matuzalemsteles If I understood you correctly, portal aggregation explains why we need two container `<div>`s, the top one containing aggregate content. `modal-dialog` is important to be in inner container. But, why do we need duplicate size CSS classes, `['modal-${size}']`?

[2020-04-01 14:12] matuzalemsteles commented on #3107
@markocikos yeah, we need it so that `<div />` occupies only the space to give the body width, so we kind of simulate with this class, without it the `div` will occupy all the edges, this is because we want to know if I click it was outside the body of the modal, if so we will close the modal when the click happens.

I agree that it was not the best solution but I had to do this to circumvent some

[2020-04-01 14:26] markocikos commented on #3107
Maybe we could have a different inner class, that adds the same padding? I got some annoyingly unexpected results overriding this class, and probably won't be the last one.

[2020-04-01 14:41] matuzalemsteles commented on #3107
We could even but we would have to adjust the chosen size accordingly, in the end we would have the same result as `modal-{size}` but I think it would not be ideal to add a class to cover an "error" of component.

Out of curiosity what did you find?

[2020-04-01 16:11] markocikos commented on #3107
There is a clash of styles if AUI modal and ClayModal are on the same page, see more [here](https://github.com/wincent/liferay-portal/pull/192#issue-395804787). Both are using `modal-dialog` class. When I tried

[code]
it fixed the default behavior but broke full screen behavior. It is not a blocker, there is a way around it. It is just annoying because I tested by modifying one div, did not know

[2020-04-01 16:40] drakonux opened #3110 "ClayInput Small: Wrong padding"
Reviewing the values of padding for Clayinput, we found this in Clay Site:

![image](https://user-images.githubusercontent.com/21216422/78160724-a3078a80-7444-11ea-8347-eb17398b4090.png)

Besides, we saw that adding manually _sm_ to _form-group_ is working well...  😕

![image](https://user-images.githubusercontent.com/21216422/78161218-6ab47c00-7445-11ea-8db2-add3527e1f7e.png)

## What are the ste

[2020-04-01 16:57] markocikos opened #3111 "Add iframe onload handler to ClayModal API"
Proposal:
[code]
or
[code]

I'm working on [Update Modal Patterns to match Lexicon Definition](https://issues.liferay.com/browse/LPS-101984). I have now encountered two cases where this kind of a handler would be useful:
1. We need to [add a loading indicator to modal](https://issues.liferay.com/browse/LPS-111118). This loading indicator would start when ClayModal containing iframe is rendered, an

[2020-04-01 17:30] bryceosterhaus commented on #3056
@eduardoallegrini I think they are needed for introductory pages for new users or people who don't frequent clay often. I agree with you in that they need to be light and simple though. I think as long as we have a simple overview of that content, it will help people who havent used clay before.

Yeah I think regular users will often go this route, so I wouldn't expect those users to make much use

[2020-04-02 08:34] jbalsas commented on #3111
Hey @laugardie, @drakonux, could you take a look at this from a UX perspective? What would be the desired default behaviour?

I think @marcoscv-work and @eduardoallegrini worked on some CSS solution for the Modals heigh/scroll... can you guys dig that up?

IMHO... a height-changing modal is a terrible experience. Unless done with a "cool" transition (which soon gets repetitive and unnecessary...),

[2020-04-02 08:35] jbalsas commented on #3111
Ah, another thing... it feels like modals with iframe should always have the loading indicator... so that might be something worth baking in even if we also provide an external API to hook into the `load` event.

[2020-04-02 10:53] markocikos commented on #3111
Maybe we could extend [Lexicon size recommendation](https://liferay.design/lexicon/core-components/modals/#size) to include not only width, but height as well. To have all modals in 16:9 ratio for example. If the content height is too big, you could choose a bigger size, topping up with full screen.

Fixed ratio also has additional benefit of making it possible to have responsive iframe with only

[2020-04-02 11:35] laugardie commented on #3111
As @jbalsas said, height-changing modal when loading content is not a good experience and we should avoid that transition. We do recommend having as default, a full-screen size for iframes so that the content would be loaded on the screen avoiding that jumping effect.

[2020-04-02 12:36] markocikos commented on #3111
@laugardie  Sounds good! I will add that default in the code. This should be also added to [iframe section of modals docs](https://liferay.design/lexicon/core-components/modals/#iframe-in-the-body).

This resolves the size issue. This proposal in this ticket still makes sense for the loading indicator.

[2020-04-02 13:43] matuzalemsteles commented on #3107
Oh I'm sorry that you spent a lot of time debugging this because of these changes 😞.

Hmm I see, what effects did `modal- {size}` have?

[2020-04-02 16:47] bryceosterhaus commented on #3111
Yeah this seems like a good idea. I think we can also provide an `iframeProps` prop for modal so that users can also add any other params or behaviors as needed to that element.

[2020-04-03 13:37] #3105 closed

[2020-04-03 18:57] #3110 closed

[2020-04-06 12:13] markocikos commented on #3107
@matuzalemsteles [This](https://i.imgur.com/eDS90bV.png) is what the bug looks like, [this](https://github.com/wincent/liferay-portal/pull/198/commits/fe2617898f0bdc6059955e047eca3e1443dbf9c6) is my solution, in review.

[2020-04-06 14:57] matuzalemsteles commented on #3107
Thanks @markocikos, I will leave this issue open so that we can find a better solution for this. I'll mark this as an enhancement!

[2020-04-07 18:29] #2037 closed

[2020-04-07 18:33] diegonvs opened #3115 "ClayLocalizedInput Storybook example isn't showing flag icon"
-   [X] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?
https://storybook-clayui.netlify.com/?path=/story/components-claylocalizedinput--default

## What are the steps to reproduce?
Open the ClayLocalizedInput example

## What is the expected result?
We can

[2020-04-07 18:47] pat270 opened #3116 "Clay CSS: Base Theme select element has no icon"
Need to backport https://github.com/liferay/clay/commit/27241af8bdf91c0a18a06e2735781399f440a277#diff-13b427ae5e1d2af8c44850f982a080f3R295 to 2.x.  See https://github.com/twbs/bootstrap/commit/3b990b4b4ea06e72494244caccff28235db6c78a. We will bypass their `escape-svg` function and use the old style since we already have those functions.

[2020-04-08 18:31] pat270 opened #3118 "Is there an easy way to find a list of releases for a Clay component?"
At the time of this issue, there are 500 releases ordered by date released. https://github.com/liferay/clay/tags also is ordered by release date and we have a tag for each component@version. It would be nice to have a curated list of releases by component if it doesn't exist already.

[2020-04-08 18:36] bryceosterhaus commented on #3094
What do you think about doing the BREAKING.md and then adding labels to the PRs? Itd be sort of mix.

[2020-04-08 18:41] bryceosterhaus commented on #3118
Are you thinking like a list per-component? Each component has its own changelog, https://github.com/liferay/clay/blob/master/packages/clay-modal/CHANGELOG.md. Unless you are looking for something else

[2020-04-08 18:51] pat270 commented on #3118
@bryceosterhaus yes that's kind of what I'm looking for. I want to be able to browse the source for a specific release. So for 3.4.0, it would be nice to have a link to https://github.com/liferay/clay/commit/7484d77a10f6c03b2359018bc3d95408456bfb04.

I also noticed that the links in the changelog aren't pointing to the right url.

links to https://github.com/liferay/clay/tree/master/packages/clay-

[2020-04-08 18:54] pat270 commented on #3118
One more thing, maybe we could update https://github.com/liferay/clay/blob/master/CHANGELOG.md to contain a link to each component's changelog and update `README.md` with a link to the changelog.

[2020-04-08 22:57] oliv-yu opened #3119 "Received warning 'Can't perform a React state update on an unmounted component' when using TabPane"
Our component in Search `portal-search-rankings-web` has been experiencing a console warning when running the react tests (https://issues.liferay.com/browse/LPS-110329), perhaps involved with the TabPane component?

[code]

We've been trying to reproduce the warning using a sandbox, but this seems to only occur when running two or more of our tests at the same time, involved with cases like switch

[2020-04-09 15:44] matuzalemsteles commented on #3119
hey @oliv-yu this probably must be because of the delay we have to create the animation https://github.com/liferay/clay/blob/master/packages/clay-tabs/src/TabPane.tsx#L46. You will probably have to use `jest.useFakeTimers()` with `jest.runAllTimers()`, this gives you control over setTimeout and other asynchronous things in your testing environment. Let me know if it helps you.

[2020-04-09 22:38] oliv-yu commented on #3119
Thank you! That was exactly what we needed to stop seeing the warning!

[2020-04-09 22:38] #3119 closed

[2020-04-13 13:30] diegonvs opened #3122 "ClayPanel/Collapse markup documentation is missing"
-   [X] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?

When opening the Panel docs, documentation of component markup is missing.

[2020-04-13 14:49] diegonvs opened #3123 "ClayPanel Header renderProps"
## What is your proposal?

There are at least two specific cases where ClayPanel is being discarded to be used due to a limitation of the component to just add a title and not append more items to the Panel's header

Here is the examples:

#### On App Builder:
![App Builder](https://user-images.githubusercontent.com/7663513/79128731-67d95580-7d7a-11ea-9129-72a7d90f5e64.png)

#### On DataEngine:
<i

[2020-04-13 15:02] kevenleone commented on #3123
This feature will help a lot here on App Builder.
This way we could remove the manual adaptation to the first image be possible directly on ClayPanel.

Great idea @diegonvs

[2020-04-13 17:59] #3115 closed

[2020-04-13 18:09] bryceosterhaus commented on #3123
Hmm yeah this makes sense. This seems like another component where we went sort of in-between high and low level. I think we can make this more low level to provide more flexibility.  We made a similar change in Label recently, https://github.com/liferay/clay/commit/deffd0e09a4a1a274eba4077c6458dd28e62e3ff.

[2020-04-13 21:21] bryceosterhaus commented on #2965
Having some issues figuring out the best means for accomplishing this.

Currently the main roadblock is permissions and getting the github actions bot to comment on PRs that come from forked repositories. This issues primarily arises due to the limitations of the token generated for gh actions from forks. Currently they only receive a "read" token and are unable to create comments on the PR with t

[2020-04-13 22:13] #3104 closed

[2020-04-14 11:35] wincent commented on #2965
Can we just treat this like any other binary ("yes"/"no") CI job? In other words, forget about adding comments. Run the size comparison, and if it goes up by more than some predefined threshold (which could be as little as 0, or something else like 1%, 5% etc) you "fail" the build and dump an ASCII table of the results into the console output.

We can still merge at our discretion if the size-chec

[2020-04-14 17:34] bryceosterhaus commented on #3118
@pat270 check out these changes and let me know what you think. https://github.com/liferay/clay/pull/3127

[2020-04-14 18:19] bryceosterhaus commented on #2965
This is a great idea and token issues shouldnt be an issue. 🥇🥇🥇

[2020-04-14 22:50] #2934 closed

[2020-04-15 07:19] #2271 closed

[2020-04-15 13:57] kresimir-coko commented on #3123
Hey @bryceosterhaus I've done a little bit of research on this task today and here's some questions I came up with:

1. Do we want both `ItemBefore` and `ItemAfter` like in Label?
2. Do we need to make a wrapper for [immediate children](https://github.com/liferay/clay/blob/master/packages/clay-panel/src/index.tsx#L106-L137) of the root component like `ItemExpand` in Label?
3. This prop is supposed

[2020-04-15 14:37] diegonvs commented on #3123
Sorry, I wrote "Header" just for being more comprehensive but It didn't work 😂
But the main idea is having a more flexible way to edit the ClayPanel button and his title.

<img width="629" alt="Screen Shot 2020-04-15 at 11 36 22" src="https://user-images.githubusercontent.com/7663513/79350048-570d1900-7f0d-11ea-975b-9afc519d7a4d.png">

Notice that before the angle down icon, We have a plus button.

[2020-04-15 15:48] #2201 closed

[2020-04-15 17:13] #3118 closed

[2020-04-15 21:27] bryceosterhaus commented on #3123
@kresimir-coko I am thinking we need to account for the following uses for the `displayTitle` props.

### not collapsable
[code]

### collapsable
[code]

We also should probably export the panel title as a component as well `ClayPanel.Title`

By doing this we give flexibility to the end user to really do whatever they want with `displayTitle` while also keeping it simple and usable for strings and

[2020-04-16 08:29] laugardie opened #3131 "Update angle icons"
We have reduced anchor points in angle icons. Please, update these icons: angle-right, angle-left, angle-up and angle-down. Find the SVGs in [LEXI-888](https://issues.liferay.com/browse/LEXI-888).
<img width="520" alt="Screenshot 2020-04-16 at 10 27 52" src="https://user-images.githubusercontent.com/56547676/79433055-f1806180-7fcc-11ea-8124-2910117e7190.png">

Thanks!

[2020-04-16 10:34] drakonux opened #3132 "Review active state for menu items"
![nav-item active](https://user-images.githubusercontent.com/21216422/79446086-fbf72700-7fdd-11ea-90e7-00ce66cfa089.png)

## What are the steps to reproduce?
1. Go to http://clayui.com/
2. Click Blog

## What is the expected result?
I would expect some kind of feedback to know in which section I am in Clay site (e.g. text in bold, a different color, a colored line below, etc.) something different

[2020-04-16 16:27] #3122 closed

[2020-04-17 08:16] kresimir-coko opened #3135 "docs(clayui.com): Documentation for the new ClayPanelTitle component"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
Go to https://clayui.com/docs/components/Panel.html

## What is the expected result?
Expect to see a section and examples of ClayPanelTitle

[2020-04-17 13:12] kresimir-coko commented on #3111
Hey @bryceosterhaus, I've spent some time familiarising myself with the Modal component before i tackle this on Monday. So I've got one question about it, should I use `useEffect` or do you know from the top of your head if `useModal` could be leveraged for this use case.

[2020-04-17 13:28] matuzalemsteles commented on #3111
hey @bryceosterhaus and @kresimir-coko I think this should not be in the `useModal` hook nor in the `ClayModal` main component, who takes care of rendering the iframe content is `<ClayModal.Body>`, I think we just pass `...otherProps` to the element would be enough here to cover this case and other properties that they wish to pass.

[2020-04-17 17:48] #2965 closed

[2020-04-17 20:52] bryceosterhaus commented on #3111
Yeah I agree with @matuzalemsteles. I think right now, it makes the most sense to add `...otherProps` or specifically `iFrameProps` to the `<ClayModal.Body>` component. So no need to add anything within the hooks.

[2020-04-20 14:25] #3131 closed

[2020-04-20 17:14] #3132 closed

[2020-04-20 20:06] bryceosterhaus opened #3142 "Create storybook example for product card"
We need to add a storybook example of this implementation, https://github.com/liferay/clay/pull/2914.

[2020-04-20 21:24] bryceosterhaus commented on #2676
fixed by https://github.com/liferay/clay/pull/3127

[2020-04-20 21:24] #2676 closed

[2020-04-21 18:46] #3123 closed

[2020-04-21 22:05] pat270 opened #3149 "Removing Bootstrap 4 Dependency"
Integrating Bootstrap in DXP has caused some issues for developers wanting to create custom sites based on Bootstrap. DXP's admin controls are tightly coupled with Bootstrap and presents a problem for devs that want to style Bootstrap's components directly without affecting admin control styles. See https://github.com/liferay/clay/issues/1104.

There is no solution to this issue because of the glo

[2020-04-22 16:51] bryceosterhaus opened #3150 "Add link back to lexicon in component docs"
Comes from this discussion, https://github.com/liferay/clay/pull/3117#issuecomment-614511918

[2020-04-22 16:51] #3068 closed

[2020-04-22 20:24] bryceosterhaus commented on #3094
See example of this at https://github.com/liferay/clay/pull/3152

[2020-04-22 22:43] pat270 commented on #2392
Reopening this issue. I think the bug in Portal was fixed. Let me know if I'm incorrect.

[2020-04-23 08:36] jbalsas commented on #2903
Removing from the milestone for now, since this will likely take additional time

[2020-04-23 08:37] jbalsas commented on #2671
Removing from milestone, will take it for a later tour when definition is done

[2020-04-23 12:03] laugardie commented on #3080
hey @bryceosterhaus @pat270 [LEXI-793](https://issues.liferay.com/browse/LEXI-793) has been reopened as we were suggested to add some adjustments to the save icon. I have included in the ticket the new SVG with the icon adjusted. Could you update it, please?

Thank you guys :)

[2020-04-23 12:32] laugardie opened #3156 "Add new icons: angle-small"
Due to [LEXI-886](https://issues.liferay.com/browse/LEXI-886) we have made a small version of the angle icons:
<img width="172" alt="Screenshot 2020-04-23 at 14 31 07" src="https://user-images.githubusercontent.com/56547676/80099649-18133f00-856f-11ea-9e46-de21228bba20.png">
- icon-angle-down-small
- icon-angle-up-small
- icon-angle-left-small
- icon-angle-right-small

Could you add them? The SVGs

[2020-04-23 16:32] pat270 commented on #3156
@laugardie I know we currently have icons like `caret-bottom-l` that are smaller, but we can achieve smaller icons by adding padding around the svg. The code:
[code]
will make the chevron right 14px. `padding: 2px;` will make it 12px and still maintain a box of 16px. Let me know if this is something you guys would consider, otherwise I can add these.

[2020-04-23 17:36] #3080 closed

[2020-04-23 17:37] #3142 closed

[2020-04-23 17:37] bryceosterhaus commented on #3111
added in https://github.com/liferay/clay/pull/3139

[2020-04-23 17:37] #3111 closed

[2020-04-23 17:42] bryceosterhaus opened #3158 "Milestone Summary: Data visualization"
In summary for next steps forward in data visualization. People can still use `@clayui/charts` which relies on the billboard API. People can also use `recharts` and follow some of our [demos](https://storybook.clayui.com/?path=/story/demos-recharts--line) for styling them for lexicon. Overall I think we should push people to use `recharts` since its composability API falls more in-line with Clay.

[2020-04-23 17:42] #3158 closed

[2020-04-23 17:47] #3150 closed

[2020-04-23 18:13] #3135 closed

[2020-04-23 19:53] pat270 opened #3164 "@clayui/css Mixins deprecated keys should win to preserve backward compatibility"
The Sass `map-merge` function prioritizes the 2nd map's values over the 1st. These mixins have the deprecated keys passed in the first parameter of `map-merge` causing deprecated key value pairs to be overwritten by the new ones. This causes themes relying on the old names to break.

- [x] clay-input-group-stacked #3165
- [x] clay-input-group-text-variant #3165
- [x] clay-after-highlight-variant #

[2020-04-24 07:16] laugardie commented on #3156
I see what you mean @pat270 . My main concern with this icon is to keep the visual weight equal to the regular one. So the main problem that I see in that approach for this icon specifically is that the icon is visually adjusted so that it has the same thickness as the regular one. I think if we add the extra padding to the icon, it will lose that thickness.
<img width="746" alt="Screenshot 2020-0

[2020-04-24 08:42] #3075 closed

[2020-04-24 13:07] pat270 commented on #3156
Thanks @laugardie, I'll send these in today.

[2020-04-24 13:52] pat270 commented on #3156
@laugardie I added the icons and see no visual difference between Small with padding and Small visually adjusted.

<img width="175" alt="angle-icon-diff" src="https://user-images.githubusercontent.com/788266/80220063-29545e00-85f8-11ea-9ecc-e8d7e640ccbf.png">

[2020-04-24 18:31] bryceosterhaus commented on #3084
sent at https://github.com/bryceosterhaus/liferay-portal/pull/65

[2020-04-27 06:31] kresimir-coko commented on #2938
Hey @diegonvs what's the state on this? Can you clarify by answering what @bryceosterhaus asked above?

[2020-04-27 13:29] kresimir-coko commented on #2994
Hey @bryceosterhaus I've investigated this a bit today and I didn't come to a satisfactory conclusion. Here's a couple things I tried:

- Using `[APITable "clay-modal/src/Context.ts"]` which yielded the [error](https://github.com/liferay/clay/blob/master/clayui.com/plugins/gatsby-remark-api-table/index.js#L104-L113) from the gatsby remark plugin, I investigated a bit but didn't come up with anythi

[2020-04-27 13:40] matuzalemsteles commented on #2994
@kresimir-coko this is a known problem with the Table API generator, he uses react-docgen to parse the files and get the API. He has problems with the components in React to look for inherited interfaces and also this case of Context. So I would say that we can try to dribble but we still see many other pages out there with this problem. I had thought if we could use the typescript analyzer and do

[2020-04-27 13:49] kresimir-coko commented on #3056
What is the state of this issue @bryceosterhaus, should I pick it up again? I think I forgot about it while waiting for a conclusion.

[2020-04-27 17:17] bryceosterhaus commented on #3056
@kresimir-coko yeah feel free to pick this up again

[2020-04-27 17:33] bryceosterhaus commented on #3084
merged https://github.com/brianchandotcom/liferay-portal/pull/87993

[2020-04-27 17:33] #3084 closed

[2020-04-27 18:31] #3048 closed

[2020-04-27 18:32] bryceosterhaus commented on #3094
@matuzalemsteles @wincent, this look okay with you guys? This way we get both a static doc to track, and also can see PRs with labels to track a discussion around changes.

[2020-04-27 18:34] matuzalemsteles commented on #3094
@bryceosterhaus looks good for me, I think it's a good step, we can refine best practices as we use them.

[2020-04-27 20:11] #3094 closed

[2020-04-27 22:10] bryceosterhaus opened #3175 "Update dependencies in CSB builds"

[2020-04-27 22:30] bryceosterhaus commented on #2843
I think we can go ahead and close this. We provided a demo of this [here](https://storybook.clayui.com/?path=/story/components-claycard--productcard)

[2020-04-27 22:30] #2843 closed

[2020-04-27 22:32] bryceosterhaus commented on #2918
Does the current build stats satisfy this issue for now? We have a 5% threshold currently and show the size of all packages, including both base and atlas theme of clay-css.

[2020-04-27 23:00] bryceosterhaus opened #3178 "Move docs demos to respective packages"
We should move everything in `clayui.com/src/components/clay` to their respective packages

[2020-04-28 07:08] jbalsas commented on #2918
Hey @bryceosterhaus, before closing this, I'd say we need to at least set an upper boundary. We could easily double our current size 4.99% at a time :)

Could you maybe collect a summary of current sizes and make an upper-boundary proposal to track it? Maybe a 5-10% of our current baseline. My main goal with this would be to give us some pause if/when we hit that limit so we can re-evaluate our st

[2020-04-28 07:31] wincent commented on #3094
👍 — When there are lots of options on the table sometimes you just have to pick one and move forward.

[2020-04-28 13:42] kresimir-coko opened #3181 "We should have a custom 404 page on clayui.com"
## What is your proposal?
I propose that we have a dedicated 404 page on clayui.com

## Why would adopting this proposal be beneficial?
It would display an insightful error to our users instead of the Gatsby's default 404 page which is pretty bad.

## What are the alternatives to this proposal?
Not having a custom 404 page.

[2020-04-28 17:01] pat270 commented on #2392
Going to close this as won't fix. This tries to solve an edge case in browsers where focus outline is shown on click when using `button` but not when using `a` with browser default focus styles. The `c-inner` pattern is more consistent and provides a better experience for managing focus on click.

[2020-04-28 17:01] #2392 closed

[2020-04-28 17:02] bryceosterhaus commented on #2918
Yeah that makes sense, I'll look into that and also look into adding a way to track the growth over time. Possibly a file that gets updated once a week with build size, we could automate it with gh.

[2020-04-28 17:05] bryceosterhaus commented on #3181
Sounds good to me! Feel free to get creative with it.

For inspiration, we did something like this on Loop.
![Screen Shot 2020-04-28 at 10 05 17 AM](https://user-images.githubusercontent.com/6843530/80516063-c6383380-8937-11ea-98a3-b1c5abd58e9d.png)

[2020-04-28 20:33] #3175 closed

[2020-04-29 08:45] gianmarcobrunialti opened #3185 "ClayMultiSelect with AutoComplete not showing when used in ClayModal"
-   [ X ] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
Simply use a ClayMultiSelect component enabling the AutoComplete functionality via `sourceItems` prop, and nest it within the Body of a ClayModal component.

## What is the expected result?
The AutoComplete should show up o

[2020-04-29 09:03] laugardie commented on #3156
Sorry @pat270 I was on a moving house leave permit on Monday and Tuesday. In the image that you have attached in your comment, small and regular arrows seem the same. There should be a bigger difference in size between the regular and the small icon but keeping the same weight/thickness aspect.
<img width="353" alt="Screenshot 2020-04-29 at 09 28 20" src="https://user-images.githubusercontent.com/

[2020-04-29 12:10] #3164 closed

[2020-04-29 15:46] pat270 commented on #3185
I believe this is a `z-index` issue. Dropdown Menus have `z-index: 1000` and modals have `z-index: 1050`. We place our `dropdown-menu` as a direct child of `body` which means modals will always win over `dropdown-menu`.

I think we can fix this with:
a) Allow passing a custom `z-index` to the `dropdown-menu`
b) A parameter that renders the `dropdown-menu` wherever it was called instead of placing

[2020-04-29 15:49] pat270 commented on #3156
No problem @laugardie hope everything went well. In the image I posted, the `-small` icons are from https://issues.liferay.com/browse/LEXI-886. I added padding to the normal icons as a comparison and there is no difference.

[2020-04-29 15:51] laugardie commented on #3156
Sorry, I completely misunderstood your comment. If they are completely the same visually adjusted or adding the padding, you can go for it then. We just need the icon to keep the same weight no matter how.

[2020-04-29 16:15] jbalsas commented on #3156
As usage goes, it’s probably easier to just have different symbols, si developers have a uniform way of getting icons not a variant of the common case...

[2020-04-29 16:29] pat270 commented on #3156
I was just going to ask in the slack chat. Just wanted to see if it would be worth to save on the spritemap file size.

[2020-04-29 17:43] gianmarcobrunialti commented on #3185
@pat270 Thanks for your reply. At the moment my solution for that of actually altering the `z-index` once the ClayMultiSelect is focus, but it felt a little sketchy as the HTML structure doesn't actually reflect what's in view. For as much as my opinion could count, I'd second option *b*. :)

[2020-04-29 22:55] bryceosterhaus commented on #3185
Hey @gianmarcobrunialti I am unable to reproduce in codesandbox. Take a look at the demo, https://codesandbox.io/s/romantic-pine-or0cm?file=/src/index.js.

[2020-04-29 22:58] #3178 closed

[2020-04-30 15:46] #3096 closed

[2020-04-30 22:35] bryceosterhaus opened #3190 "Migrate travis.ci related jobs to github actions"

[2020-05-01 16:47] pat270 opened #3191 "Clay CSS move components aspect-ratio, buttons, icons, and type earlier in the import chain"
See https://github.com/liferay/clay/blob/master/packages/clay-css/src/scss/_components.scss.

These components are reused in other components and should be easier to overwrite. For example, we should be able to overwrite `.btn` styles from Alerts with one class (`.alert-btn`) instead of two (`.alert .alert-btn`). The order should be:
[code]

[2020-05-01 17:13] pat270 opened #3192 "Clay CSS import Bootstrap 4 components independently for `base.scss` and `atlas.scss`"
Create a new Sass partial `_bs4.scss` or equivalent to import Bootstrap 4's components instead of relying on `bootstrap/bootstrap.scss`. This allows us to remove Bootstrap 4 imports as we absorb them into Clay CSS. This also allows `bootstrap.scss` to remain intact for those who use it.

See [base.scss](https://github.com/liferay/clay/blob/master/packages/clay-css/src/scss/base.scss) and [atlas.sc

[2020-05-01 17:38] pat270 opened #3193 "Clay CSS move `_global-functions` import to the top of `atlas.scss`, `base.scss`, `atlas-variables.scss`, and `base-variables.scss`"
The `_global-functions.scss` file contain functions to be used in variables or components. The file `_clay_variables.scss` in Portal should have access to it without having to declare the import.

Note: We can't do the same for Bootstrap's `_functions.scss` because it relies on their variables file.

[2020-05-01 20:33] jacobcerda commented on #2790
I am also having this issue on IE11. This also happens when searching from https://v2.clayui.com/docs/get-started/introduction.html, no search suggestions are showing up.

[2020-05-04 07:19] kresimir-coko opened #3196 "Clayui.com should have documentation about the Demos found in Storybook"
I propose we document our demos found in Storybook and add them under an `Examples` or `Demos` page in the main clayui.com navigation.

So far we have the following demos:

- Multiple Graph Demos, which could be their own page
- List Page, File Page, Form Page, which I assume are examples of some DXP pages where a Clay component is the main focus point
- Drag & Drop tables
- Drag & Drop List

We c

[2020-05-04 07:29] kresimir-coko opened #3197 "Documentation is lacking for some components in clayui.com"
We created some new components this year but we haven't taken time to properly document them. I propose we set some time aside and document any components that are lacking proper documentation to get them up to the standard already set by older components.

Here's an example of a well-documented component: [Card](https://clayui.com/docs/components/card.html) vs a not-so-well-documented component:

[2020-05-04 18:34] #3190 closed

[2020-05-04 18:58] bryceosterhaus commented on #3197
Great idea! Would you want to pick up this task and start to create some docs? You could gather ideas form lexicon and other docs sites so that we know what content to include.

[2020-05-04 19:01] bryceosterhaus commented on #3196
Great idea, I think that could help generate visibility.

[2020-05-04 22:36] bryceosterhaus commented on #2421
I spent some time looking into this today and I really like the approach that Seek went with. At first I was thinking we might go the route of just implementing low-level components from bootstraps layout system, but I think that might be a bit too granular. If we go the approach of Seek's design system, it would give us more control in how we recommend that the layout flows.

I think if we could

[2020-05-05 06:30] kresimir-coko commented on #3197
Yea @bryceosterhaus I'll pick this up when I finish what's in my current queue. I think assigning it to myself isn't the correct play here because it'll make it look like it's in progress and mess with Exalate.

[2020-05-05 06:30] kresimir-coko commented on #3196
I'll pick this up when my queue clears

[2020-05-05 07:30] jbalsas commented on #2421
Hey @bryceosterhaus!

I think this is the expectation with low-level components and the philosophy we set out to follow in Clay. As with everything else, the failure in delivering low-level and granular components results in developers using whatever escape hatch they can find (directly bootstrap's html in this case) when the higher-level abstractions don't leave room to wiggle.

I think that by a

[2020-05-05 08:57] wincent commented on #2421
I'd be sad if we adopted completely different terminology ("Stack" etc) in the Clay React components from what we [just started rolling out](https://github.com/brianchandotcom/liferay-portal/pull/88326) for taglibs in liferay-portal (`clay:container`, `clay:row`, `clay:col`). It would be suboptimal if we had to ask developers using the two flavors of Clay layout components to learn two different n

[2020-05-05 09:50] #3156 closed

[2020-05-05 10:00] #3193 closed

[2020-05-05 12:40] marcoscv-work commented on #2421
I think to use more common vocabulary closer to what designers use sounds great.
But on the other hand, I'm not sure if this really helps developers, or instead of that, we would confuse them.

My concern is that in case of using a new grid naming probably most of the developers who want to work with our grid would need to figure out our grid naming and match them with something they already know,

[2020-05-05 15:21] drakonux commented on #2421
Hello everyone,

Well from my point of view, the naming should be oriented to the users that are going to consume this information. In this case, **front-end developers** isn't it?.

However, what's the intent of all these changes? Having that defined it will help you to describe where you want to go...

Thus, you should consider the direction of all these changes. For example, if developers have

[2020-05-05 15:23] matuzalemsteles commented on #2421
Yeah, a few thoughts: I think that delivering the low-level layout components may not be of much value because they will just be wrappers over simple markups for `cols` and `containers`, something that developers can do very well with just a simple HTML...

I think that's why I like the `Stack` approach because it is different from having a component for `Column`, `Row` and `Container`, it looks s

[2020-05-05 15:35] wincent commented on #2421
So this is pretty much exactly the question that was discussed extensively in [the analysis of currently used layout strategies in DXP](https://docs.google.com/document/d/1-kvwx9sXxLhMCWHMl5hWX91HPWkHHIXH-dNFI2zbvcM/edit) and the resulting [proposal for new Clay taglibs](https://docs.google.com/document/d/1g9rUTwpjKbG0Dmpn-v7wCOIzLh7EIuXSISAosWpAddQ/edit#heading=h.j9vsq2956f23).

It would be very

[2020-05-05 15:36] jbalsas commented on #2421
One key point to note is that we can't do for JSP tags what is proposed for `Stack`, because we can't easily parse the inner HTML to distribute direct children inside nested rows/cols...

[2020-05-05 15:50] matuzalemsteles commented on #2421
Yeah I'm aware of that, I read the documents but what I saw is that we are trying to solve problems more focused on taglib or kill the old taglibs. A wish: If I could I would kill the taglibs 😛...

An important point: maybe the same developers who use taglibs will not be the same ones who are developing in React, of course there are some developers who are working on both, but we agree that most o

[2020-05-05 22:03] fapires opened #3199 "Modal With A Glitch On Its Shadow"
Hi guys,

I was designing a functionality that is using Clay's modal when I noticed that there is a glitch on the `box-shadow` rendering on the implemented modal on Liferay DXP.

Expected style:
<img width="649" alt="Screen Shot 2020-05-05 at 18 59 48" src="https://user-images.githubusercontent.com/8724228/81120241-a9d16380-8f02-11ea-87c0-b59bd8565037.png">

Current style:
<img width="1163" alt="S

[2020-05-05 22:47] pat270 commented on #3199
@fapires is there a box-shadow on `.modal-dialog` or a parent element? Adding a shadow on the parent is the only way I could recreate it.

[2020-05-06 07:29] laugardie opened #3200 "Add icon-desktop"
Hi guys!
I am working on[ LEXI-882](https://issues.liferay.com/browse/LEXI-882) to include _icon-desktop_ in Clay.
<img width="44" alt="Screenshot 2020-05-06 at 09 16 39" src="https://user-images.githubusercontent.com/56547676/81147313-526eda00-8f7a-11ea-861b-0db1f6802923.png">
Checking the icons in Clay, I have found another icon called desktop.
<img width="232" alt="Screenshot 2020-05-06 at 09 2

[2020-05-06 08:04] laugardie commented on #3200
I have just found this icon being used in Portal: Control Panel > System Settings. I will leave this ticket open and I will update it with the SVG and all the info today so we can update and add the icons.

[2020-05-06 08:43] laugardie commented on #3200
I will update the title of the issue to Add icon-desktop.
We will need to:
1. Change the icon-desktop name in Clay to icon-display-content so it matches the Lexicon library.
<img width="196" alt="Screenshot 2020-05-06 at 10 39 26" src="https://user-images.githubusercontent.com/56547676/81156087-e2fee780-8f85-11ea-8000-5f5a9b577924.png">

2. Add new icon: desktop to Clay. Find the .SVG in [LEXI-882

[2020-05-06 14:33] matuzalemsteles commented on #3199
hey guys, this is apparently not a problem with Clay this is a problem with Liferay's old modals...

I know @markocikos was working on their migration, @markocikos can you tell if this is in conflict with Liferay's css?

[2020-05-06 15:16] pat270 commented on #3199
@matuzalemsteles is correct. The markup of the Liferay modals is off. The fix is to update the markup or add `.modal-open .dialog-iframe-modal { overflow: visible; }` in Portal.

[2020-05-06 17:28] fapires commented on #3199
thank you guys for clarifying!

[2020-05-06 20:11] bryceosterhaus commented on #2421
So sounds like we want to offer both approaches of low-level bootstrap centric components and OOTB high-level layout structures(similar to Seeks implementaion).

Low-level would be consistent and uniform with the taglibs and bootstrap. This would include row, col, container, etc, named something like `ClayLayout.Row`.

And then additionally the more opinionated high-level components would center m

[2020-05-06 20:27] #3056 closed

[2020-05-07 13:32] laugardie opened #3203 "Update icons: Thumbs-up/down"
Due to [LEXI-855](https://issues.liferay.com/browse/LEXI-885) I have reviewed outline thumbs-up/down icons in order to create the full version of both icons. I have updated the icons reducing anchor points. Could you update both icons in Clay? Find SVGs on [LEXI-907](https://issues.liferay.com/browse/LEXI-907).
<img width="292" alt="Screenshot 2020-05-07 at 14 27 27" src="https://user-images.githu

[2020-05-07 14:06] pat270 commented on #3199
No problem. Closing.

[2020-05-07 14:06] #3199 closed

[2020-05-07 15:15] pat270 commented on #3200
In Lexicon CSS (1.x), the desktop icon is <img width="35" alt="1 x-desktop" src="https://user-images.githubusercontent.com/788266/81311824-b8bb3180-903a-11ea-941c-29ff74c82334.png" style="vertical-align:middle;">. In 2.x, it was changed to what it is now. In 3.x, we are trying to revert it back. Is it possible for Lexicon to name the desktop icon something else like `icon-display`?

[2020-05-07 15:50] marcoscv-work commented on #2421
When we speak about Design (I really love it) is really important the abstractions because it has to be abstracted from the development and its vocabulary, but speaking about development I still not having clear the improvement of using abstractions for technical layouts.

We already have some simpler grids in Clay like autofit, and if  everything go-ahead I think the result will be really messed,

[2020-05-07 20:09] bryceosterhaus commented on #2421
initial idea for the low-level components. Did I miss anything?
https://github.com/liferay/clay/pull/3204

[2020-05-08 08:02] jbalsas commented on #2421
So, basically this boils down to staying true to our [Philosophy](https://clayui.com/docs/foundations/composing.html#philosophy)

With **low-level**, devs can generate any layout thrown at them regardless of its adherence to rules. `Container`, `Row`, `Col` and other basic components we have fit perfectly fine here.

One key aspect of these is that they still provide a small abstraction. We're rig

[2020-05-08 08:15] laugardie commented on #3200
Hey @pat270, you are right and it shouldn't have been changed before in previous versions. But as both icons are going to coexist, in this case, I think that we need to be cautious with the naming. As names are chosen to clearly represent what icons are to simplify use. Using icon-display for the desktop icon and icon-desktop for the one that represents display content can be confusing. As this is

[2020-05-08 09:28] kresimir-coko opened #3205 "Add `nav-pills` to ClayNav as a prop and document it for clarity"
## What is your proposal?
The current implementation of [Nav Pills](https://clayui.com/docs/components/css-nav-pills.html) requires the user to manually add a `nav-pills` class to their `.nav`. That isn't consistent with the rest of Clay, so this is a proposal to add a `navPills` prop to `ClayNav`.

## Why would adopting this proposal be beneficial?
It would provide our users better documentation

[2020-05-08 14:53] pat270 commented on #3200
@laugardie I was thinking about having 3 icons:
<img width="35" alt="1 x-desktop" src="https://user-images.githubusercontent.com/788266/81417944-cf2bc080-9100-11ea-9d30-ba6e35ea4e6a.png"> icon-display
<img width="26" alt="icon-display-content" src="https://user-images.githubusercontent.com/788266/81417974-d81c9200-9100-11ea-8ab1-2952fc3f36e8.png"> icon-display-content
<img width="26" alt="icon-dis

[2020-05-08 16:06] pat270 commented on #3205
@kresimir-coko just wanted to say `nav-pills` is a Bootstrap component that isn't defined anywhere by Lexicon. I'm good with providing more options, but not sure what the rest of the team thinks about it.

[2020-05-08 17:14] #3181 closed

[2020-05-11 08:15] jbalsas commented on #3205
Based on this I'd simply remove that documentation page. Since it's not really a component and just an example on how to achieve a Bootstrap variant using classes.

[2020-05-11 08:23] kresimir-coko commented on #3205
This issue has grown a bit (in a good way) since I picked it up, I noticed that `ClayNav` isn't properly documented, so `nav-pills` is gonna end up as a sub-heading as an example of usage.
I think that having it as a prop is beneficial (while not adding complexity to the implementation) so I'm gonna propose that as a change in the PR I'm working on related to this issue

[2020-05-11 08:31] laugardie commented on #3200
That seems ok for us @pat270

[2020-05-11 08:34] jbalsas commented on #3200
I'd say we can simply change this to @laugardie suggestion in `3.x` and let the other branches as they are.

In `DXP`, the `desktop` icon is only used to display `display-content`:

[code]

So, maybe the first proposal makes even more sense... but I'm fine with whatever you agree on.

Really hope those metaphors are more stable from now on 😂

[2020-05-11 11:55] kresimir-coko commented on #3197
Here's a table of components that need more documentation.

Component | Comment
------------ | -------------
Application Bar | Missing React Component page
Badges | Missing content
Breadcrumbs | Missing content & API, also headings in Markup/CSS
Charts | Missing Markup/CSS and API
Checkbox | Missing headings in React Component
Dual List Box | Bug in Markdown & missing content
Form | API is mising

[2020-05-11 13:03] laugardie opened #3208 "Add new icons-thumbs-up/down-full"
Due to [LEXI-885](https://issues.liferay.com/browse/LEXI-885) we have included a filled version of the icons thumbs-up and thumbs-down. Could you add them too? Find .SVG in the tictet.
<img width="243" alt="Screenshot 2020-05-11 at 15 02 48" src="https://user-images.githubusercontent.com/56547676/81564727-7f672680-9398-11ea-8ba8-5fcbebbd1d51.png">
Thanks!

[2020-05-11 13:44] kresimir-coko opened #3209 "API missing from several components"
Some of our components are missing or have incomplete API tables as taken from #3197 .

Here's a list of the components that fall under this umbrella:

- Form
- Input
- Link

[2020-05-11 13:52] kresimir-coko opened #3210 "Several components need any or better documentation"
Here's a list of components that need better content as taken from #3197.

- [x] Badges
- [x] Breadcrumbs
- [x] Dual List Box
- [x] Loading Indicator
- [x] Localized Input
- [x] Multi Step Nav
- [x] Pagination
- [x] Popover
- [x] Progress Bar
- [x] Slider
- [x] Toggle Switch
- [x] Tooltip

[2020-05-11 13:58] kresimir-coko opened #3211 "Several components need better content structure i.e. headings"
Here's a list of components that need better content structure as taken from #3197.

- Checkbox
- Management Toolbar
- Select Box
- Sticker
- Table
- Tabs

[2020-05-11 14:11] kresimir-coko commented on #3197
@bryceosterhaus I made this shiny table to enable some kind of tracking for documentation related issues, I've tagged you in some so please let me know or take a look yourself as to what're your thoughts. Also I haven't opened issues for Adding Markup/CSS & React Component pages for  the components that are missing so that you can let me know if they are necessary.

[2020-05-11 17:49] pat270 commented on #3200
I'm trusting @jbalsas on this one.

<img width="19" alt="desktop" src="https://user-images.githubusercontent.com/788266/81593948-06a2a300-9375-11ea-8235-927aa0668615.png"> desktop
<img width="18" alt="display-content" src="https://user-images.githubusercontent.com/788266/81593959-0b675700-9375-11ea-9a70-2a0e561c390d.png"> display-content

[2020-05-11 17:53] jbalsas commented on #3200
Hahaha... @pat270! I actually saw @laugardie agree with you, so go for it!!

[2020-05-11 17:53] jbalsas commented on #3200
Or talk it through, there's likely no rush to get this in one day earlier. Both options are fine by me!

[2020-05-11 19:50] bryceosterhaus opened #3214 "What is Clay in relation to DXP"
This conversation keeps rearing its head in various threads(https://github.com/liferay/clay/pull/3034, https://github.com/liferay/clay/issues/2421, https://github.com/liferay/clay/pull/3204).

There seems to be a root problem of not knowing where clay ends and dxp begins.

We define Clay as "A Web Implementation of Lexicon Experience Language". Which really actually isn't that helpful since Clay i

[2020-05-11 21:00] bryceosterhaus commented on #3197
Table looks great! Feel free to pick up any of these issues, these will all be really helpful. In regards to your questions...

This is more of a guide of laying out forms. No need for a react specification on this.

Yeah I think It may have gotten accidentally removed in the mix of it all. Could you look into adding this back in?

No we currently don't provide this component, we are still waiting

[2020-05-11 21:52] bryceosterhaus commented on #2918
@jbalsas how to you feel about our current implementation for this? Currently we have a CI check for total size of packages(excluding clay-charts), https://github.com/liferay/clay/blob/master/package.json#L4.

Anything additional you would like to see for this issue?

[2020-05-11 21:55] bryceosterhaus commented on #2918
fyi, 150kb was completely arbitrary, we can lower if if you see fit. This is the most recent size check https://github.com/liferay/clay/pull/3213/checks?check_run_id=664368855#step:9:27

[2020-05-12 06:45] kresimir-coko opened #3215 "Icon is missing it's Markup/CSS page"
Something (probably co-locating) caused the Icon's Markup/CSS page to not be displayed properly.

[2020-05-12 06:51] kresimir-coko opened #3216 "Chart is missing it's Markup/CSS page"
Chart doesn't have it's Markup/CSS page.

@pat270 Do we have markup for the Chart component?

[2020-05-12 06:59] kresimir-coko opened #3217 "Radio Group is missing it's Markup/CSS page"
Radio Group doesn't have it's Markup/CSS page.

@pat270 Do we have markup for the Radio Group component?

[2020-05-12 07:01] kresimir-coko opened #3218 "Time Picker is missing it's Markup/CSS page"
Time Picker doesn't have it's Markup/CSS page.

@pat270 Do we have markup for the Time Picker component?

[2020-05-12 07:03] kresimir-coko opened #3219 "Upper Toolbar is missing it's Markup/CSS page"
Upper Toolbar doesn't have it's Markup/CSS page.

@pat270 Do we have markup for the Upper Toolbar component?

[2020-05-12 07:19] kresimir-coko opened #3220 "Application Bar is missing it's React Component page"
Application Bar doesn't have a React Component page.

[2020-05-12 07:59] jbalsas commented on #2918
Hey @bryceosterhaus, current implementation LGTM as a start! Nice job! 👏

Whatever number I said right now would also be completely arbitrary 😂. My suggestion to continue with this would be:
- Let's say I'd like to lower that boundary to 125KB and then 100KB.
- Right now we have something around 25% of leeway with the current size and limit... which seems like a safe enough cushion to work with. T

[2020-05-12 10:11] wincent commented on #3214
I think it's about achieving a practical, pragmatic balance between two things that both sound desirable in the abstract (ie. the two ends of the axis in your diagram: flexibility/generality vs specific/concrete).

"Balance" here doesn't mean that we have to shoot to be exactly in the middle; it just means that we need to be aware of the trade-offs involved, recognize that the optimal answer is se

[2020-05-12 14:28] jbalsas commented on #3214
I pretty much share @wincent's sentiment and that's what I've been trying to convey through different conversations.

I think we all mostly agree on principle on where we want Clay to stand and we just have some misalignment at times on where to draw the line or what that means in terms of implementation.

I'd like to hear from more people before being more vocal so everyone feels free to share.

[2020-05-12 17:26] brunobasto commented on #3214
I think @wincent pretty much summarised it well. The hard thing to do is to find where the balance point is. Like Greg also pointed out, the balance point is not static.

From my previous experiences, I would try to avoid being on the extreme right side (too thighed to DXP) because the reality is that we don't know what DXP will look like in the near future. I don't think designers see Lexicon as

[2020-05-12 17:35] bryceosterhaus commented on #3216
We don't have any markup for this other than clay-charts or references back to billboard, recharts, or lexicon. Going to close since we won't be adding chart specific markup

[2020-05-12 17:35] #3216 closed

[2020-05-12 17:37] bryceosterhaus commented on #3217
Radio group won't have any specific markup or css page. For the css, they woudl just use Radio. The Radio.Group component will be specific for the react components.

[2020-05-12 17:37] #3217 closed

[2020-05-12 18:07] bryceosterhaus commented on #3220
Since application bar doesn't have its own package or component, I don't think we need to make a page for this. I don't imagine we will make a component for it either since its only two classes `.application-bar` and `.application-bar-dark`

[2020-05-12 18:08] bryceosterhaus commented on #3219
I believe the css content would be similar to https://pat270.github.io/lexicon/v2.16.2/content/tbar/

[2020-05-12 18:23] matuzalemsteles commented on #3214
Hey guys, I'm still a little confused about this conversation, it seems that we have returned to the definitions of low-level and high-level... I don't understand why both would not solve these problems but I see that it may be a speech more aligned to Clay than the components in React but in the end, it always comes back to him.

In my view, we should always stick to what the Lexicon predicts and

[2020-05-12 18:34] bryceosterhaus opened #3222 "Removing moment.js to reduce total package size"
Stems from https://github.com/liferay/clay/issues/2918#issuecomment-627179814

We should aim to see how we can reduce the total size of what we are providing.

Most recent build shows our node_modules looking like
![Screen Shot 2020-05-12 at 11 20 19 AM](https://user-images.githubusercontent.com/6843530/81731896-7a5fb100-9444-11ea-8ebf-560c019e5415.png)

I think a major win would be in removing `m

[2020-05-12 18:41] bryceosterhaus commented on #2918
Updated how we run our checks in https://github.com/liferay/clay/pull/3223

I lowered the threshold to 140kb since the build was 119kb and adding the new layout component will likely raise it over 125kb.

https://github.com/liferay/clay/issues/3222

[2020-05-12 18:58] jbalsas commented on #3214
Just a quick intermission while the rest of the comments keep coming:

When we say that this is being used in DXP... we don't mean an old version of DXP. We mean an updated version (current) updated to faithfully recreate and implement Lexicon patterns in the web. That is, teams in DXP are implementing Lexicon pieces for real. Not legacy versions of it, but current actual versions. That's one plac

[2020-05-12 23:42] pat270 commented on #3214
Clay CSS stands closer to the DXP side of the scale. Most of the components were created because it was needed in DXP. This isn't bad. DXP's requirements are common across many apps. There was a real need for fluid containers that maxed out at a specific width so Bootstrap added `container-sm`, `container-md`, `container-lg`, etc in 4.4. We had already added something similar early on (`container-

[2020-05-13 07:45] kresimir-coko commented on #3214
Since the goal with Clay isn't to make a widely popular and used library we should focus on it's primary purpose, implementing Lexicon to be used by Liferay's products. If any new app starts getting built by Liferay, we should aim that Clay has enough to get them far enough so that Lexicon + Clay can develop new components that they request. Do we have people asking teams what they need from Clay,

[2020-05-13 08:31] wincent commented on #3222
[Bundlephobia is nice for visualizing this kind of thing too](https://bundlephobia.com/result?p=@clayui/date-picker@3.2.0):

![Screenshot 2020-05-13 -103005-VrCBG8PL@2x](https://user-images.githubusercontent.com/7074/81789756-b9edd200-9504-11ea-89c7-94d0f2afc4b9.png)

I know we talked about making an "omnibus" package (ie. that would basically contain all of Clay) in some other thread. If we point

[2020-05-13 12:42] #3220 closed

[2020-05-13 17:27] #3205 closed

[2020-05-13 22:52] bryceosterhaus commented on #3214
Any particular areas that have been hard about it? I really haven't heard much feedback from teams or other users other than a few one off bugs.

This actually makes me think, after reading through all these comments, one thing I've realized is that I don't actually have a ton of evidence to know whats working well for users and what isn't working well. This sort of comes across as **the biggest r

[2020-05-14 07:12] jbalsas commented on #3214
This is what I've been trying to convey... DXP is the main user of Clay... and DXP is more than just the new React Apps and components. It's all of them. One clear pitfall is that Clay is not easily usable from JSPs (which make up for a sizeable portion of the products). So, the lack of clay footprint is a proof itself of its shortcomings.

Spoiler alert... **they are**.

In its purest V2 form, al

[2020-05-14 08:58] wincent commented on #3214
I may be at risk of extrapolating from my own experience, and from the experience of those nearby me in the office (back when we used to actually be together in an office) that have made remarks about Clay, when talking about "teams working in liferay-portal". So reframing it in terms of personal exprience, *I personally* have found Clay to be difficult and painful to use:

- It feels verbose and

[2020-05-14 12:07] kresimir-coko commented on #3214
I get this so much, which is why I'm putting all of my time right now and in the near future to bring documentation up to a respectable point. IDK who worked on Clay before I joined the team, but if it was the same people as now, sans me, I can understand why the docs were so thin.

At the end of the day what's the point in having a component library if it has so much friction in order to use it t

[2020-05-14 12:59] #3200 closed

[2020-05-14 12:59] #3203 closed

[2020-05-14 13:02] #3208 closed

[2020-05-14 13:10] diegonvs commented on #3214
When we're creating these docs, We were thinking about first deliver the components(due to some delays in milestones) and then creating a simpler documentation for people(our Clay team and DXP product people) enhance it. I think we're on the right way, improving our docs day-by-day and turning clay docs more mature.

[2020-05-14 13:10] brunobasto commented on #3214
I can relate to that

[2020-05-14 13:40] naraandrade opened #3225 "Improvements on ClayCard, CardWithNavigation, AspectRatio to help customization"
## What is your proposal?
I would like to suggest some improvements on ClayCard and CardWithNavigation/InteractiveCard about their states props (which is missing at https://clayui.com/docs/components/card.html#states) and alignment of inner elements.

## Why would adopting this proposal be beneficial?
I had some issues trying to achieve a layout (see attached files below) because the InteractiveCa

[2020-05-14 14:24] matuzalemsteles commented on #3214
I think that in the face of all this it seems that we have something that came up and that I am very surprised, I think that before going ahead with Clay's future plans we should start to reflect on what would be the way forward, and first of all, to reap the feedbacks from people who use Clay to know if there is this same feeling shared among people I have the same view as Bryce I still haven't s

[2020-05-14 14:48] jbalsas commented on #3214
Yes.

- Commerce is built on top of DXP and heavily relies on most of its bundled applications. Supporting DXP supports Commerce.
- Insurance Portal (or other solution) is built on top of DXP and 100% relies on it. Supporting DXP supports this product too.
- Analytics Cloud would be a good testbed for our React components... but I don't see Clay gaining much traction there, and they seem comfortab

[2020-05-14 14:49] diegonvs commented on #3222
I would recommend using https://github.com/aholachek/bundle-wizard for detecting a more detailed report for our components :)

[2020-05-14 15:22] matuzalemsteles commented on #3214
😱I'm surprised to hear that, but how much are our Clay APIs not covering the cases, are they specific APIs? Specific components? It’s interesting because we don’t see many reports about it in issues, there are usually some exceptions to some APIs that we’ll work on and improve but that way it looks like it’s all components, and Clay doesn’t work for people 😞

I think that would be the perfect worl

[2020-05-14 17:28] jbalsas commented on #3214
So this is important feedback and in line with what we're seeing. We need to double down on this, go back to the teams and work with them. Figure out what's preventing bigger adoption of Clay, bring that back and work on fixing it.

I also want to make echo of @wincent's comment:

I think this is also true and not at odds with still needing to work on it. Clay's development experience, specially w

[2020-05-14 17:45] bryceosterhaus commented on #3214
So it sounds like the key point in this is JSP + Components. Which is more fundamentally a React+JSP issue and not a clay issue. I vaguely remember from our initial conversations of Clay+React pre v3.x, we kept pushing the react+JSP issue down the line saying it would just need to be a technical issue we work out and it wouldn't be an issue, which was probably a mistake for us to not figure that o

[2020-05-14 17:50] diegonvs commented on #3214
For Brazilian teams, these low-level components are very important for using Clay(verbosely, may not too productive) and not block them. We encourage them to make questions to design people about the usages but sometimes is not too easy.

[2020-05-14 18:09] bryceosterhaus commented on #3214
For what its worth, I think they already had a large set of base reusable components they were using before v3.x was even a thought. In order for them to go back and replace these components with clay, it just requires time that they don't have since their team recently got smaller.

[2020-05-14 19:32] pat270 commented on #3225
This is the markup I would use to achieve what you have from the screenshots.

[code]

You can replace the `a` tag with `<div class="my-component-card card card-interactive" tabindex="0" onclick="do stuff();">`.

From the Clay CSS side of things, I can probably add a new card variant and:
1) update `aspect-ratio` to allow forcing a specific ratio
2) update `component-text` color inside cards
3) up

[2020-05-14 19:56] naraandrade commented on #3225
Thank you :) but I already did the layout. The suggestion is just to make it easier to customize those components, in case someone else need it in the future.

[2020-05-14 21:35] bryceosterhaus commented on #3225
@naraandrade does this fix look right to you? Check out the second card example, https://5ebdb8354c7bc6000747e26c--storybook-clayui.netlify.app/?path=/story/components-claycard--cardwithnavigation

[2020-05-15 12:02] kresimir-coko opened #3228 "Links to API Table rows on clayui.com don't lead anywhere"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?
No

## What are the steps to reproduce?
Go to https://clayui.com/docs/components/button-group.html and click on `spaced` in `Use spaced property to create spacing between buttons.`

## What is the expe

[2020-05-15 12:41] jbalsas commented on #3214
No, I don't think so... at least it's not an issue, it's just what it is, and something we need to take in easy.

The key points to me from this conversation are:
- We should focus on building a highly composable library that speeds up building Lexicon-based UIs
- We should follow modern best practices and try to limit the impact legacy code has on our decisions while we push for a React approach

[2020-05-15 20:55] bryceosterhaus commented on #3214
Okay, so I think we all agree that DXP is our primary target and end user, and so we need to primarily build with that in mind. So no need to hash out that more.

As for my original question of "What is Clay in relation to DXP?", I think @jbalsas's points summarize this well of

I think points 1 & 2 we have already been doing pretty well. Clay is very composable and also follows modern practices.

[2020-05-15 21:18] brunobasto commented on #3214
the low-level component wasn't flexible enough to permit the required behavior

Actually, this was more like the case for me when using high level components. With low level components I feel they provide greater flexibility with the only drawback of being harder to understand (or to know they exist) sometimes.

Maybe @interaminense @brunofarache @alinedoleron @albinojunior (to mention a few) can

[2020-05-15 21:24] #3211 closed

[2020-05-16 14:44] brunofarache commented on #3214
Those are the most common high level components that I’ve been copying and pasting over some modules (App Builder, Forms Report, Workflow Metrics, Data Layout Builder):

- TableWithPagination

- EmptyState

- Loading (loading spinner)

- PermissionsModal is being used in app builder only but I can foresee it being used in other places.

- useRequest or something better that makes it easier consume

[2020-05-18 07:12] kresimir-coko opened #3229 "What kind of information is contained on component pages?"
As we've been updating [ClayUI](https://clayui.com/) documentation, specifically component documentations, we encountered a point of discussion that others should chime in as well.

The idea came up in #3226 and the point of it is to make it clear what kind of information is contained on component pages like [Badge](https://clayui.com/docs/components/badge.html).

Here are some of the questions th

[2020-05-18 07:29] jbalsas opened #3230 "Behaviour of autofit-float-end and autofit-col-end"
Hey @pat270, based on https://github.com/liferay/clay/pull/3204#discussion_r425918777

Could you try this in the [Clay CSS Playground](https://clayui.com/docs/css/playground.html)?

[code]

<img width="1092" alt="Screen Shot 2020-05-18 at 09 22 08" src="https://user-images.githubusercontent.com/905006/82185171-1bd57f80-98e9-11ea-98da-539c8a330dca.png">

Based on what you said, I assume the equival

[2020-05-18 08:51] jbalsas commented on #3214
Thanks @brunofarache! I think some of those usages are legit, and from some we could gather some inspiration if see repeated usage across DXP.

I want to make sure we answer this:

**YES**

As I think it must be clear by now, JSP tags are just a wrapper around the React components and our ClayCSS generated markup.

The reason why they live in `liferay-portal` is mainly technical. All the infrastru

[2020-05-18 09:00] jbalsas commented on #3229
Hey @kresimir-coko, @bryceosterhaus proposal looks good to me 👍

As I commented in the [What is Clay in relation to DXP](https://github.com/liferay/clay/issues/3214#issuecomment-630040543), this might be the time to add a `JSP` tab with JSP usage as well.

Keeping these docs up to date will be harder, but for as long as I've been thinking about it I don't see a better approach.

[2020-05-18 09:16] kresimir-coko commented on #3229
I agree with adding a `JSP` tab.

Allocating some time on a weekly or bi-weekly basis to go through the docs and noting down any discrepancies shouldn't be a problem once we get all of these issues regarding docs sorted.

[2020-05-18 09:51] wincent commented on #3229
I don't think we want duplicated content but we do want bi-directional linkage where possible to make it easy for people to consult both. And in the abstract, ideally components are designed in such a way that doing The Right Thing™ isn't a great feat of skill, but rather, the default outcome.

For me the most important and desirable property for the docs is that the description of the props/API i

[2020-05-18 10:16] drakonux commented on #3225
Hey, @naraandrade nice to meet you :)

Well, @pat270 we need a formal request in [Lexicon ](https://issues.liferay.com/secure/RapidBoard.jspa?rapidView=2953) (create request) to study the scenario from the product team that needs this variation.

It seems very similar to [Navigation card](https://liferay.design/lexicon/core-components/cards/cards-navigation/) as Bryce said it. Using it with some c

[2020-05-18 10:58] kresimir-coko commented on #3229
Looking at various component libraries I noted the following.

### Component sections/categories
Adding sections or categories to navigation under Components might clarify some of the component relations. See [screenshot](https://prnt.sc/siussh) for example. Something like placing all Form related components under a `Form` category.

### Style choices
We're doing a good job at documenting differen

[2020-05-18 12:11] naraandrade commented on #3225
@bryceosterhaus yes, it solves the problem with centering the icon, thank you.

[2020-05-18 12:11] marcoscv-work commented on #3230
We usually use this 'simulation of float behavior' for all cols in a row, I suppose that's the reason for changing this, but yes, we cannot do the same by a direct markup conversion, to get similar behavior (not the same) probably you would need something like:

[code]

[2020-05-18 13:51] matuzalemsteles commented on #3229
Hey just leaving my humble thoughts: I think that if we try to add too many explanations to the pages of the documents it will increase the maintenance on them, we have to remember that the documentation is very high cost and needs constant maintenance.

We tried to write more explanatory documentation at the beginning of v3 but it would take a long time to launch and it is also difficult to think

[2020-05-18 14:09] kresimir-coko commented on #3209
Fixed in #3221

[2020-05-18 14:09] #3209 closed

[2020-05-18 16:03] dgarciasarai opened #3231 "ClayAlert space between icon and text"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?
https://codesandbox.io/s/jolly-visvesvaraya-hlxcg?file=/src/App.js

## What are the steps to reproduce?
Create a default `ClayAlert` in a React app (it doesn't matter if the alert variant is stripe)

#

[2020-05-18 17:03] pat270 commented on #3231
Just leaving a note, we can remove `inline-item-before` and not output `<strong class="lead"></strong>` if there is no lead text. Those changes should provide the desired outcome.

[2020-05-18 18:38] pat270 commented on #3230
@jbalsas
With force expand, you don't need to use `autofit-float-end` just `autofit-float`. You can put `autofit-col autofit-col-expand` on the 3rd column and it should align things how you want. The only issue is when a column breaks to new line it will align it to the left which might not be what you want.

@marcoscv-work  example is the correct way to do it with `autofit-float-end`. Whatever yo

[2020-05-18 19:00] jbalsas commented on #3230
Hey @pat270, as I said in the description:

It's less than ideal that in order to float a specific col, you need to `expand` the col before that one. As I said, you may or may not have access "the one before", so implementing that markup might be really complicated.

@marcoscv-work solution would indeed work, but it's unfortunate that we need all that added markup :(

[2020-05-18 19:21] bryceosterhaus commented on #3231
@dgarciasarai just sent a PR for this fix. Release of this should be Thursday.

[2020-05-18 20:42] pat270 commented on #3230
<img width="878" alt="autofit" src="https://user-images.githubusercontent.com/788266/82257664-49342480-990d-11ea-8712-98fe5d7a88b1.png">

I just noticed Marcos' example doesn't fully mimic float right. When the 3's break to new line, the 4's and 5's also break to new line. I suppose we can keep `autofit-col-end` if you really like it. It's the only way to truly mimic the float right example. For t

[2020-05-18 20:54] pat270 commented on #3230
I'd like to add that the main concept behind autofit is expand to fit and thought it would be easier to remember how things worked if we kept it based on that rather than adding in `margin-left: auto` or `margin-right: auto` sometimes.

[2020-05-18 21:22] #3225 closed

[2020-05-18 21:22] bryceosterhaus commented on #3225
@naraandrade, just merged, this fix should be released on Thursday of this week.

[2020-05-18 23:25] bryceosterhaus commented on #3229
Totally agree. I think our aim is to communicate effectively while also doing so very simply. This could be as easy as a single example with a header. Often I think _less is more_ when it comes to component docs.

As for the categories I had noted, here is what I would expect in each of them.

**1. Overview**
This would likely be a brief explanation for the components purpose and bi-directional li

[2020-05-18 23:30] bryceosterhaus commented on #3229
Thinking of taglibs here...

I can see value and consistency for it to be a part of clay. If we add it to the docs, I could imagine us doing something like this in the future for our docs examples and each code snippet tab would be "React", "HTML", "JSP"
![Screen Shot 2020-05-18 at 4 28 28 PM](https://user-images.githubusercontent.com/6843530/82268751-9e2f6500-9924-11ea-86e4-22e8c0ac04cb.png)

I t

[2020-05-19 04:54] pat270 opened #3233 "Chrome 81 Card Interactive Primary Flicker"
Hover state on `card-interactive-primary` bugs out on Chrome 81. We need to change the transition to anything other than `ease-in-out` or `ease-in`. Original report: https://github.com/liferay/clay/pull/3204#discussion_r426512328

![82200524-67932380-98ff-11ea-935d-7b515d9765ab](https://user-images.githubusercontent.com/788266/82286207-0b0d2400-9952-11ea-973d-5d40d631e0c5.gif)

Also changing `box-

[2020-05-19 06:24] kresimir-coko commented on #3229
I agree with the categories you laid out @bryceosterhaus , and especially the part about having code collapsed by default, many of the libraries had either collapsed code or code that was under 10 lines long.

So the takeaway is to not force content where not required, good, I thought that we wanted content always, regardless of how descriptive the title

[2020-05-19 07:16] jbalsas commented on #3230
It's not that I **really** like it... just that we have usage of this across the board and the current solution doesn't exactly seem to cover what we had.

For reference, `git grep "autofit-col-end"` inside `module/apps` returns this:

[code]

[2020-05-19 09:22] veroglez opened #3234 "TabPanel name is incorrect in ClayTabs component"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?
It is in the [clayui](https://clayui.com/docs/components/tabs.html) documentation

## What are the steps to reproduce?
Use `ClayTabs` component

## What is the expected result?
`ClayTabs.TabPane` must

[2020-05-19 09:45] marcoscv-work commented on #3234
Bootstrap changed the name but It would make sense since 'HTML5 semantic' calls this item `role="tabpanel"`

[2020-05-19 14:16] dgarciasarai commented on #3231
Thanks!!!

[2020-05-19 15:37] pat270 commented on #3230
Ok let's keep it around, I can un-deprecate it?

[2020-05-19 15:44] jbalsas commented on #3230
I don't see why not... it's also not as you deprecating it had a devastating effect and caused a huge usage drop, did it? 😂

[2020-05-19 15:50] pat270 commented on #3230
Sounds good, it doesn't look like it did!

[2020-05-19 16:10] pat270 opened #3236 "Clay CSS Navbar, Application Bar, Management Bar, Navigation Bar only output `.navbar-expand` and `.navbar-expand-md` styles"
## What is your proposal?
This is a breaking change. Right now we output styles for `.navbar-expand`, `.navbar-expand-{sm|md|lg|xl}`. The same goes for `.application-bar.navbar-expand-{sm|md|lg|xl}`, `.management-bar.navbar-expand-{sm|md|lg|xl}`, `.navigation-bar.navbar-expand-{sm|md|lg|xl}`. We should only output the base `.navbar-expand` and `.navbar-expand-md` versions since we only use the `md

[2020-05-19 17:37] bryceosterhaus commented on #3234
We based our naming decision on the `.tab-pane` class. We probably want to avoid a rename here in v3.x, but I can add this to our notes for 4.x.

[2020-05-19 17:48] pat270 commented on #3234
Is it possible to make a TabPanel alias that maps to TabPane?

[2020-05-19 18:21] #3231 closed

[2020-05-19 19:37] bryceosterhaus commented on #2868
Got access to netlify account, in the process of migrating all sites and builds over

[2020-05-19 21:22] bryceosterhaus commented on #2868
Got netlify set up with the liferay account now:

|   Site  |   branch |
|-------|---------|
| clayui.com | stable |
| storybook.clayui.com | stable |
| next.clayui.com | master |
| next.storybook.clayui.com (still waiting on dns) | master |

And then all PRs to both stable and master will generate previews

[2020-05-19 21:23] bryceosterhaus commented on #2868
We no longer use travis and coveralls was migrated to GH actions. I think this issue is resolved. Feel free to re-open or comment if I missed something.

[2020-05-19 21:23] #2868 closed

[2020-05-19 21:25] bryceosterhaus commented on #3234
@pat270 yeah that is possible. I am curious though if this naming is actually a problem though. Does clay need to match semantic html naming patterns? I'm not totally opposed to it, but makes me wonder if we are putting ourself under an unnecessary constraint.

[2020-05-19 21:40] pat270 commented on #3234
@bryceosterhaus I didn't even think about following the `role` attribute. I was thinking calling `TabPanel` was a common mistake. It would be nice to have an alias? I agree with you that we should use Bootstrap's names since the markup is tightly coupled to the component.

[2020-05-20 07:31] #3230 closed

[2020-05-20 09:32] dgarciasarai opened #3246 "Add documentation about ClayEmptyState in clayui.com"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What is the expected result?

Read documentation about ClayEmptyState in clayui.com :)

https://storybook.clayui.com/?path=/story/components-clayemptystate--default

[2020-05-20 10:06] #3233 closed

[2020-05-20 11:35] marcoscv-work commented on #3234
of course, it's probably not a problem or a wrong name, but it seems to cause doubts sometimes, so it's something that needs to consider in some way

[2020-05-20 12:27] kresimir-coko commented on #3218
@pat270 this is a reminder to let me know if we have markup for the Time Picker component.

[2020-05-20 13:08] jbalsas commented on #3218
Hey @kresimir-coko, I'm not sure it makes any sense to have markup example for complex interactive components.

If you wanted, you can simply get the markup from the component itself, which would've been likely approved during development.

In this case, and in line with some other conversations I've seen, less might be more 😉

[2020-05-20 14:45] pat270 commented on #3218
Hey @kresimir-coko, sorry I missed this one. I have Time Picker markup at https://pat270.github.io/clay3-test-site/vclay-table-dd/content/form-elements-time/

[2020-05-20 17:25] pat270 opened #3249 "Chrome 81? Update Broke input[type="range"].form-control styles"
3.x
<img width="878" alt="range-input" src="https://user-images.githubusercontent.com/788266/82477295-26784c00-9a84-11ea-9f2f-952d7b73ae10.png">

2.x
<img width="863" alt="input-range-2x" src="https://user-images.githubusercontent.com/788266/82477339-33953b00-9a84-11ea-8237-af7a5510f6e6.png">

[2020-05-20 18:25] pat270 opened #3250 "Prettier should format `_global-functions.scss` but ignore generated svgs"
Original report https://github.com/liferay/clay/pull/3226#issuecomment-629186938

[2020-05-20 19:13] bryceosterhaus commented on #3234
Ah I see, that makes sense. Yeah I will go ahead and add an alias for it.

[2020-05-20 19:42] pat270 opened #3253 "Missing some updates when we update @clayui/css to a new version on clayui.com"
Original report: https://github.com/liferay/clay/pull/3226#issuecomment-629186938

## What are the steps to reproduce?
[code]
See uncommitted changes

## What is the expected result?
The changes should be committed

[2020-05-20 21:50] bryceosterhaus opened #3255 "Apply new @clayui/layout component"

[2020-05-20 21:53] bryceosterhaus opened #3257 "Implement some sort of visual diffing tool"
It should be helpful to use a tool like [Chromatic](https://www.chromatic.com/) for visually testing our components via storybook.

I'm going to try using chromatic a bit locally and see how well it might integrate into our workflow.

[2020-05-20 22:54] bryceosterhaus opened #3259 "Simplify automation to reduce build time"
Currently we are relying on netlify to build our sites. I think we can minimize our build times if we use gh actions instead. This would also help give us earlier options to bail on the builds and making resource heavy tasks dependent on CI checks.

Example idea of workflow
![Screen Shot 2020-05-20 at 3 54 18 PM](https://user-images.githubusercontent.com/6843530/82505290-2b53f480-9ab2-11ea-8c76-bc

[2020-05-20 22:57] bryceosterhaus commented on #3259
possibly even thinking of putting tests dependent on build and then the other 5 tasks dependent on unit tests. This ensures we don't waste build times.

[2020-05-20 23:19] #3253 closed

[2020-05-21 08:21] kresimir-coko commented on #3218
As per @jbalsas's comment:

with which I agree, I'm closing this issue.

[2020-05-21 08:21] #3218 closed

[2020-05-21 08:33] kresimir-coko commented on #3215
Fixed in #3247

[2020-05-21 08:33] #3215 closed

[2020-05-21 08:35] kresimir-coko commented on #3219
Decided not to do it, see #3248

[2020-05-21 08:35] #3219 closed

[2020-05-21 08:46] wincent commented on #3259
Makes sense to defer running expensive parts of the build until the cheaper and more fundamental bits have run (ie. fail fast). At the same time, it is still handy to get feedback from multiple things without having to do multiple pushes (eg. push once, formatting fails, fix formatting, push again, check dependencies fails, fix, push again, unit tests fail, fix etc...). So I'd be inclined to run a

[2020-05-21 08:48] kresimir-coko commented on #3229
I believe we've reached a conclusion here, roughly:

- Don't introduce descriptions where they aren't needed because it makes maintenance hard
- Use descriptive headings (_Range and Step_) instead of (_Customization_)
- Not all components require their own Markup/CSS or even React Component pages
- Don't duplicate content from Lexicon, it's expected from users to see both Clay and Lexicon
- Things

[2020-05-21 08:48] #3229 closed

[2020-05-21 13:33] #3250 closed

[2020-05-21 14:17] matuzalemsteles commented on #3259
That would be a good approach! Just adding: there is a newer latest version of Gatsby that implements a new Incremental Build feature, apparently, it seems to be a very powerful new feature to decrease the build time I saw some projects build for production in just 2s 👀. This has support added on Netlify now, maybe we can try https://www.netlify.com/blog/2020/04/23/enable-gatsby-incremental-builds

[2020-05-21 16:02] bryceosterhaus commented on #3259
yeah I totally agree. The main goal is reducing so many netlify builds since its easy to push a few times and rack up a lot of build minutes that don't serve any purpose.

Once I get the general idea down, I'll tweak it to push the more important things up first.

[2020-05-21 16:53] gabrielwas opened #3262 "Hide date picker after selecting date"
## What is your proposal?

Add the possibility of hiding the picker automatically after selecting the date

## Why would adopting this proposal be beneficial?

It could reduce the number of clicks to select a date, and through that, the use of the app would become more organic to the user.

## What are the alternatives to this proposal?

Maybe provide a property to allow this behavior

[2020-05-21 17:16] #3192 closed

[2020-05-21 19:23] #3249 closed

[2020-05-21 20:43] #3262 closed

[2020-05-21 20:45] bryceosterhaus commented on #3262
@gabrielwas just added props to control the expand functionality. Check out this storybook demo to see an example of manually handling the expand when someone clicks on a date

https://github.com/liferay/clay/pull/3264/files#diff-66c91d2750a8b6f447ea0cd4c032eda5R108

[2020-05-21 21:03] #3234 closed

[2020-05-21 21:25] gabrielwas commented on #3262
@bryceosterhaus Thank you!

[2020-05-21 22:01] #3255 closed

[2020-05-21 23:06] #3246 closed

[2020-05-21 23:08] bryceosterhaus opened #3274 "Update in liferay-portal"
https://github.com/bryceosterhaus/liferay-portal/pull/67

[2020-05-22 06:43] kresimir-coko commented on #3210
Fixed in #3226 & #3235

[2020-05-22 06:43] #3210 closed

[2020-05-22 13:05] kresimir-coko commented on #3196
Hey @bryceosterhaus here's an initial setup I did, can you please take a look and let me know if the structure is good https://github.com/kresimir-coko/clay/tree/3196.

[2020-05-22 16:38] #3274 closed

[2020-05-22 17:03] bryceosterhaus commented on #3196
@kresimir-coko Hey, I just took a look and I think I initially misunderstood your first example of the navigation. I'm not sure it makes sense to create another page tab and then duplicate our storybook examples. This will just lead to unnecessary redundancy and doesn't necessarily help solve the find-ability of our examples. Instead of listing them all out one for one, I think we could just have

[2020-05-22 17:08] jbalsas commented on #3196
Maybe some big "cards" with snapshots of the components or examples linking to the storybooks? 🤔

[2020-05-22 17:13] matuzalemsteles commented on #3196
I like this! I like these styles of Carbon https://www.carbondesignsystem.com/components/overview

[2020-05-22 17:32] bryceosterhaus commented on #3196
@matuzalemsteles I really like that example, we just need to auto-generate snapshots when we build clayui.com.

[2020-05-22 17:53] matuzalemsteles commented on #3196
Yeah, I think that way it would require more maintenance and a design 😬

[2020-05-25 07:34] kresimir-coko commented on #3196
@jbalsas

Did you mean to say *all* components? In my understanding the idea of this issue was to document the Demos we have in storybook: drag & drop and pages, listed under Demos > Templates in [Storybook](https://storybook.clayui.com/?path=/story/demos-templates--list-page).

We can still use the big card approach for those, but this is me just getting clarity on your wording.

[2020-05-25 07:37] jbalsas commented on #3196
I didn't mean anything by it. Just that you can show big snapshots to link to storybooks.

[2020-05-25 14:06] kresimir-coko commented on #2648
Closing this because of lack of activity.

[2020-05-25 14:15] kresimir-coko commented on #891
We haven't gotten any further information on this in the last 6 months, @victorvalle are we going to pursue this or not, so I can close it?

[2020-05-25 14:17] kresimir-coko commented on #1837
@pat270 Maybe we should close this as it's been a year, leaving it up to you since you're the one that last handled it.

[2020-05-25 14:23] kresimir-coko commented on #2648
@mfreeman-xtivia do you require any further help from us?
We've improved our docs a bit since last you asked, and usage of Clay has been increasing in DXP.
For docs you can go to https://clayui.com/ and for examples you can visit our [Storybook](https://storybook.clayui.com/?path=/story/components-clayalert--default).

[2020-05-25 14:51] drakonux commented on #891
Hey, @kresimir-coko this could be a good improvement for buttons. Some product teams are already doing it. The principle is the same as enabling switch buttons, avoid repetitive interactions.

So from our side, we could include the variation and documentation in Lexicon but this should come from a product-team with a request ticket cc\ @victorvalle

[2020-05-25 15:23] mfreeman-xtivia commented on #2648
I guess my fundamental question still remains. Does Clay come pre-installed with the portal so that i could use it in any form or fashion similar to the way we used to be able to use AlloyUI, for example, in a JSP?

Or is the only way to use this wonderful stuff to create an external React application and pull it in via npm etc?

[2020-05-26 06:41] kresimir-coko commented on #2648
@mfreeman-xtivia I might be wrong (/cc @jbalsas ), but I think that if you're using Clay in JSPs you will most likely be using taglibs that our Frontend Infrastructure team has created. For example here's one of the most recent taglibs in use: [account-admin-web/select_account_organizations.jsp](https://github.com/liferay/liferay-portal/blob/master/modules/apps/account/account-admin-web/src/main/r

[2020-05-26 07:19] kresimir-coko opened #3279 "Add ability to create multiple code snippets for Editor"
As per recent [discussions](https://github.com/liferay/clay/issues/3229) we should have JSP code examples next to React ones, displayed as tabs.

I'll investigate, and report my findings.

[2020-05-26 08:19] wincent commented on #2648
Although having said that, ideally you *wouldn't* have to bring in your own, duplicate copy of Clay in via NPM (unless you needed to pin to a specific version for some reason) but would rather be able to re-use the one that is already in portal [inside the frontend-taglib-clay module](https://github.com/liferay/liferay-portal/blob/a0bfd3552193bb33687ef3677fe4879447e04d6a/modules/apps/frontend-tagl

[2020-05-26 16:01] wincent opened #3281 "Change ClayAlert default autoClose interval to 10000"
[Lexicon says](https://liferay.design/lexicon/core-components/alerts/) that toasts should stay open for 10 seconds if there is an associated action, or 5 seconds otherwise. But for some reason, our default interval [is 8 seconds](https://github.com/liferay/clay/blob/8b8776107c1858f3517d4508342fa88860d9cde2/packages/clay-alert/src/index.tsx#L17) and has been [ever since we added it](https://github.

[2020-05-26 16:53] matuzalemsteles commented on #3281
Hey @wincent, I remember that when we started to migrate to React, we rely on Lexicon documents https://docs.google.com/document/d/1mR8k7TE_5s6wzn94HtM7kB3NYVItDMoi4RkKZ0yRezw/edit (Maybe it became obsolete). Apparently that must have changed and we didn't know! But if this is the new guideline, I don't see why not follow it.

[2020-05-26 18:20] pat270 commented on #1837
Thanks for the reminder @kresimir-coko!

We can close this. I'm going to leave some notes just in case someone runs into something similar to this. We deprecated `@mixin media-query` and `@mixin respond-to` in Liferay Portal 7.2.1 GA2. I searched the 7.2.1 GA2 branch and couldn't find any uses in the code. We now use Bootstrap's `media-breakpoint-up` and `media-breakpoint-down` media-query mixins

[2020-05-26 18:20] #1837 closed

[2020-05-26 18:46] pat270 opened #3282 "Update Bootstrap 4 License using SPDX naming scheme"
https://github.com/liferay/clay/pull/3277#issuecomment-633474606
https://issues.liferay.com/browse/FOSS-77

[2020-05-26 21:58] pat270 opened #3283 "C-Kbd each key in the sequence should be individually wrapped in `kbd`"
## What are the steps to reproduce?
The keyboard combination ⌘+Shift+Y is marked up like:
[code]

## What is the expected result?
It should be marked up like:
[code]
or
[code]
to denote each key in the sequence. The `+` isn't part of the sequence.

[2020-05-27 06:39] kresimir-coko opened #3286 "clayui.com needs to have a docs page for JSP taglibs"
With the addition of JSP code examples (#3280 & #3279) we realized we need to have some guidelines, advice and general docs on how to use Clay components as JSP tags.

Perhaps it will be a heading under the Components page, or a subpage under Get Started.
If anyone has other suggestions feel free to comment.

[2020-05-27 06:57] jbalsas commented on #3286
What's the equivalent for our other examples?

[2020-05-27 07:20] kresimir-coko commented on #3286
We have detailed explanation in [How to Use Clay](https://clayui.com/docs/get-started/how-to-use-clay.html) and then each component has an equivalent of `yarn add @clayui/autocomplete` in their frontmatter

[2020-05-27 20:34] bryceosterhaus commented on #3259
@matuzalemsteles I tried to get the incremental builds working but I wasn't able to get it working. I don't think its currently able to work for a monorepo with multiple sites. It requires you to specify and publish directory in a netlify.toml file, but the problem is that we have different directories based on the site(clayui vs storybook). So I'm at a bit of a roadblock for that.

I was able to

[2020-05-28 12:30] matuzalemsteles commented on #3259
@bryceosterhaus no problem, I thought that configuring by Netlify was easier for our case but I forgot that we have a little of these construction complexities 😕.

That's great!

[2020-05-28 14:54] laugardie opened #3293 "Update icon: search"
Due to [LEXI-884](https://issues.liferay.com/browse/LEXI-884), Lexicon has reviewed and updated the search icon reducing its anchor points. Could you update the icon in Clay? Find SVGs on the ticket.
Thanks!
<img width="63" alt="Screenshot 2020-05-28 at 16 52 40" src="https://user-images.githubusercontent.com/56547676/83157248-aac17380-a103-11ea-838d-c374ecdff08a.png">

[2020-05-28 19:24] bryceosterhaus commented on #3259
Alright, so I finally got it working but there is one area of concern I am not stoked about...

Previously, just using netlify to build and deploy, we got the URL of the deploy preview right in the PR like this...

<img width="694" alt="Screen Shot 2020-05-28 at 12 21 59 PM" src="https://user-images.githubusercontent.com/6843530/83184126-d7fb2b00-a0dd-11ea-9fbc-f0f2e6b61265.png">

Now, using all g

[2020-05-28 19:31] #3196 closed

[2020-05-28 19:32] bryceosterhaus opened #3295 "Make sure direct descendants of ClayList are li elements"
stemming from https://github.com/liferay/clay/pull/3278#discussion_r431653472

Any direct child of ClayList should be an `li` element. We can do this via typescript and also a dev warning.

[2020-05-28 19:32] matuzalemsteles commented on #3259
Hmm really, can we with Actions trigger a comment in PR with the URL?

[2020-05-28 19:34] bryceosterhaus commented on #3259
@matuzalemsteles yeah we can do that. But to be honest, I really hate automated comments since they generate so much noise and clutter. Every push would create a new comment, and that coupled with the codesandbox comments and coveralls (I want to remove this but idk who has coveralls admin permissions), it would be really annoying.

[2020-05-28 19:37] jbalsas commented on #3259
Hey @bryceosterhaus, I think I have Coveralls permissions. Do you want me to simply remove the config so it won't bother us again?

[2020-05-28 19:40] matuzalemsteles commented on #3259
Yeah, I can't think of any other way. I think that in this way the URL in the logs can make some people unaware of the existence of previews.

[2020-05-28 20:46] bryceosterhaus commented on #3259
@matuzalemsteles yeah I agree. There does seem to be some progress on better supporting monorepos for netlify and also better github action support for this sort of stuff in the future, so maybe we just wait and see what happens

[2020-05-29 08:20] kresimir-coko commented on #3281
Fixed in #3287

[2020-05-29 08:20] #3281 closed

[2020-05-29 17:57] bryceosterhaus opened #3300 "@clayui/toolbar package?"
It might make more sense to create just a basic toolbar package and merge upper-toolbar into that package. This way we could put all the `tbar` classes in toolbar. upper-toolbar could be a high-level component from toolbar.

Stems from this convo, https://github.com/liferay/clay/pull/3248

[2020-06-01 08:52] kresimir-coko opened #3301 "Clay Link and Button should have props that make it possible to look like the other component"
After a [lengthy discussion](https://liferay.slack.com/archives/G3JBR21HA/p1590997416006400) with @jbalsas we decided to let others speak for a bit on the topic.

## What is your proposal?
In many places we have Links that look like Buttons, and Buttons that look like Links.
I want to discuss what you think is the proper API for it.

Right now, for Buttons, we have `displayType="link"`: `<ClayButt

[2020-06-01 09:43] kresimir-coko commented on #3300
This sounds neat, I'll make it happen!

[2020-06-01 12:33] matuzalemsteles commented on #3300
Hey guys, I would expect this to happen in v4, this is a breaking change to package and probably component changes, so I think it should go to v4 or we can create the new toolbar package just being an alias for the rest of the components and add deprecation warnings to use the toolbar in favor.

[2020-06-01 15:09] wincent commented on #3300
One of the consequences of splitting Clay into individual packages is that it limits options for moving things around, because moving *anything* across package boundaries is likely to cause breakage (at least in the nominal sense, even if we can migrate all the call sites because we control them).

![just-sayin](https://user-images.githubusercontent.com/7074/83422867-7531c880-a42a-11ea-9704-91c54a

[2020-06-01 17:47] bryceosterhaus commented on #3300
@matuzalemsteles I think we could get away with it not beng in v4 or breaking changes in anything. I would see it as

- **Deprecate** upper-toolbar component at its current version
- **Create** toolbar package and include upper-toolbar in it.

Now technically, I guess you could consider this breaking, but we do have some freedom in this since we control the DXP dependencies.

@wincent yeah I've be

[2020-06-01 17:55] #3228 closed

[2020-06-01 21:32] #3259 closed

[2020-06-01 21:44] matuzalemsteles commented on #3300
@bryceosterhaus when you say `Deprecate` will we add discontinuation notices to the package? if so, I see no problem.

[2020-06-01 21:49] bryceosterhaus commented on #3300
@matuzalemsteles yeah the idea would be to discontinue development on `@clayui/upper-toolbar` and add a notice, warning, or recommendation to use `@clayui/toolbar`, and move dev over to `@clayui/toolbar`.

[2020-06-01 21:50] matuzalemsteles commented on #3300
Looks good to me!

[2020-06-02 08:50] wincent commented on #3300
Sounds totally fair.

[2020-06-02 10:41] kresimir-coko commented on #3300
I'm looking for feedback on the draft PR related to this #3302

[2020-06-02 17:44] pat270 commented on #3301
Maybe this should be a separate issue, but I was thinking it would be a good idea to output the attribute `rel="noreferrer noopener"` when someone uses `ClayLink` or `ClayButton` with the `target` attribute.

See https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#Attributes (scroll down to `target`)

[2020-06-02 18:04] #3295 closed

[2020-06-02 18:35] #3279 closed

[2020-06-02 23:57] bryceosterhaus commented on #3300
@kresimir-coko just the PR, I am gonna leave my comments here just in clarify the packages goals.

My expectations and steps in creating the package would be...
1. Create `@clayui/toolbar` package
2. Create low-level components based off of the css we have at https://github.com/liferay/clay/blob/master/packages/clay-css/src/content/tbar.html.
    - `Item`, `Section`, `Label`, `Link`, etc..
3. Afte

[2020-06-03 06:52] jbalsas commented on #3301
That's a great catch @pat270!! We've had several security reports from customer in the past year regarding this... let's spin off some tasks to make sure we follow this! This needs to be overridable because there are some legit cases, though!

[2020-06-03 07:54] kresimir-coko commented on #3300
Okay @bryceosterhaus if I understand correctly, I did a massive breaking change, I should've created a new package that will, while we don't replace the usages in DXP, live alongside `@clayui/upper-toolbar`.

While you did give me some clarity and enough to make a 2nd, better draft PR, I didn't get all my questions answered in #3302. @pat270 can you as well take a look at my questions and offer yo

[2020-06-03 18:34] bryceosterhaus commented on #2972
Hey @albinojunior, do you use this new helper at all? We are thinking of actually removing it in https://github.com/liferay/clay/pull/3306 since we want to get rid of  `moment.js` since its such a large dependency.

[2020-06-03 19:04] albinojunior commented on #2972
Hi @bryceosterhaus, my team and I decided to use another solution to our problem even before this helper was implemented. I just proposed this implementation to help others who might have the same problem. So, I think you can procede with removing ```moment.js```, we are not using the new helper.

Thanks for asking!

[2020-06-03 19:39] bryceosterhaus commented on #2972
@albinojunior Right on, thanks for the feedback!

[2020-06-03 20:41] #3286 closed

[2020-06-03 20:42] bryceosterhaus opened #3311 "Add rel="noreferrer noopener" to ClayLink"
When someone adds the `target` attribute we should add  `rel="noreferrer noopener"`

[2020-06-03 20:42] bryceosterhaus commented on #3301
spin off https://github.com/liferay/clay/issues/3311

[2020-06-03 20:46] bryceosterhaus commented on #3300
@kresimir-coko I'm not totally sure on some of the questions since its really getting at the lexicon definition of toolbar. I think from where Clay stands, we can group them as we see fit. So I think it makes sense to at least provide low-level `tbar` components first and then start off with stories of how they are use to implement other components like info-bar and upper-toolbar because some of t

[2020-06-04 07:10] jbalsas commented on #3311
As I mentioned... this should be overridable, in case someone wants it for legit use cases.

For instance, `noopener` can break authentication schemes that may rely on being able to access `window.opener`. These are certainly slowly disappearing, but just to be safe.

[2020-06-04 07:14] kresimir-coko commented on #3311
@jbalsas something like a `unsafeTarget` boolean prop, defaulted to false, that will ommit `rel="noreferrer noopener"` from the markup.

[2020-06-04 07:16] jbalsas commented on #3311
I don't know... maybe just be careful with the implementation and make sure passing in a `rel` prop will override our default properly...

I don't need to be involved in the technical decision, up to you all ;)

[2020-06-04 14:09] marcoscv-work opened #3313 "New ClayLayout: `<ClayLayout.ContainerFluid>` cannot display only the class `container-fluid`"
### New ClayLayout: `<ClayLayout.ContainerFluid>` cannot display only the class `container-fluid`
https://storybook.clayui.com/iframe.html?id=components-claylayout--row-positioning

## What are the steps to reproduce?

We tried by adding:
`<ClayLayout.ContainerFluid fluidSize={false}>``
it does not work

## What is the expected result?

Be able to remove the default class:
`container-fluid-max-xl`

[2020-06-04 18:14] bryceosterhaus commented on #3313
You should be able to get around `fluidSize` by using the Container component directly with the `fluid` prop.

[code]

It was discussed that we wanted ContainerFluid to default with a size class, but I'm not sure we ever discussed disabling the class on the component. @jbalsas, I think you were advocating for the default size, do you think it makes sense to be able to disable size on `ContainerFlu

[2020-06-04 18:15] #3293 closed

[2020-06-04 20:56] bryceosterhaus opened #3317 "Update clay dependencies in portal"

[2020-06-04 21:26] bryceosterhaus commented on #3317
https://github.com/bryceosterhaus/liferay-portal/pull/69

[2020-06-04 22:39] bryceosterhaus opened #3319 "Update typescript, babel, and eslint"
Some of these have been outdated for awhile, so wanted to get them up to date and not lag behind too far.

[2020-06-05 07:01] jbalsas commented on #3313
I would expect `ContainerFluid` default size value to be overridable... but I think `<ClayLayout.Container fluid>` sounds reasonable enough.

[2020-06-05 10:31] kresimir-coko commented on #3197
Fixed in PRs listed in the table above

[2020-06-05 10:31] #3197 closed

[2020-06-05 14:34] gabrielpramos opened #3323 "ClayRadio and ClayCheckbox onChange action is closing ClayDropDown's menu"
-   [X] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

In this situation, we have chosen these components instead of the others to have a low level composition in a way to build our dropdown sections and manage the dropdown active and other props on our filter component more clearly, when we use it on IE11 the drop

[2020-06-05 18:06] bryceosterhaus commented on #3317
merged https://github.com/brianchandotcom/liferay-portal/pull/89690

[2020-06-05 18:06] #3317 closed

[2020-06-05 19:00] #3319 closed

[2020-06-08 15:22] pat270 commented on #3116
Not sure why this didn't close, but was fixed in #3128.

[2020-06-08 15:22] #3116 closed

[2020-06-08 18:28] bryceosterhaus commented on #3300
Sent update at https://github.com/liferay/clay/pull/3325

[2020-06-08 19:44] bryceosterhaus commented on #3311
@kresimir-coko I think we could default the rel prop to be `noreferrer noopener`, but allow users to pass in whatever they want to override it.

[code]

[2020-06-08 19:44] #3222 closed

[2020-06-08 19:45] bryceosterhaus commented on #3222
fixed at https://github.com/liferay/clay/pull/3306

[2020-06-08 20:08] bryceosterhaus commented on #3257
So I spent some time looking into this and here is what I found...

For starters, I really found [this](https://storybook.js.org/docs/testing/automated-visual-testing/) helpful for reference. I really liked the idea of using out storybook examples as the snapshots since they are already kept up to date and used consistently.

To get an idea of the capacity we need...
We run about **15 test runs a

[2020-06-08 21:29] bryceosterhaus commented on #3001
Most everything has been hashed out by using `size-limit`.

[2020-06-08 21:29] #3001 closed

[2020-06-08 21:33] bryceosterhaus commented on #2421
added at https://github.com/liferay/clay/pull/3204

[2020-06-08 21:33] #2421 closed

[2020-06-09 10:39] kresimir-coko opened #3327 "ClayLayout low level components need forwardRef"
While working on [Use new Layout Components in Components in layout-admin-web](https://issues.liferay.com/browse/LPS-114072) which has drag & drop functionality on `ClayLayout.ContentRow` I encountered that `ref` is undefined which causes d&d to not function.

[2020-06-09 13:34] matuzalemsteles commented on #3257
This is cool, but it really is an expensive tool! We will probably have to wait for this 🤷‍♂️

[2020-06-09 13:47] jbalsas commented on #3257
If we all chipped in 35$ a month... 😂

[2020-06-09 17:39] #3313 closed

[2020-06-09 17:39] #3300 closed

[2020-06-09 17:44] bryceosterhaus commented on #3257
@jbalsas by locally, I mean I am just running the cli manually. I created a free plan for myself and then before sending a PR, I just run this command and it uploads it to my account.
[code]

One thought is that we could encourage this as a step before publishing new versions.

[2020-06-09 18:44] #3311 closed

[2020-06-09 20:05] #3301 closed

[2020-06-09 20:20] #3327 closed

[2020-06-12 12:34] marcoscv-work commented on #3191
LGTM, I would merge it!

[2020-06-12 20:07] #3191 closed

[2020-06-15 13:20] jbalsas opened #3332 "Keyboard Trap in FocusScope"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?

See https://codesandbox.io/s/heuristic-leaf-1oz21?file=/public/index.html

## What are the steps to reproduce?

Case **1a**: Using **only your keyboard**, press `TAB` until you reach the button `NEXT`

[2020-06-15 15:16] matuzalemsteles commented on #3332
Hmm yeah, that would be an expected limitation of FocusScope, it deals only with the elements that are in the React structure, otherwise, it will not be able to control the focus, we can check the result of the focusManager as you did above, so it doesn't get caught in the trap. Perhaps we can implement a fallback to control non-React elements with a limited scope.

[2020-06-15 15:22] jbalsas commented on #3332
I would say this is rather unexpected. To be expected, then `FocusScope` shouldn't be able to gain focus from outside of React elements either. It's weird that it can gain it but then it won't give it away.

It's okay if we want/need to restrict FocusScope to a component and add something else to deal with the entering-leaving the Focus (seems unnecessary, but could be).

In any case, we should ma

[2020-06-15 15:24] jbalsas commented on #3332
Just to be clear... it should only handle React elements within the scope... but then it should be able to give away control in a proper way, respecting the HTML tab order

[2020-06-15 15:28] matuzalemsteles commented on #3332
Yeah, I agree with you. If he cannot reach the element he must at least let it follow the natural order. I had implemented this to achieve the non-React elements, not using the React framework to help with this, but we had a lot of problems with edge cases, using portals made things more complex. That's why we use React's internal structure to search for elements, so we don't need to do direct sea

[2020-06-15 20:45] bryceosterhaus commented on #2891
Okay so I spent some time trying to get a POC for moving the clay-css test site to gatsby so that we can remove a bunch of dependencies. I tried to preserve the structure of our content as much as possible, meaning we needed to configure gatsby to dynamically create pages based on html files with frontmatter.

Overall, the goal was to utilize gatsby since it was an existing dependency for clayui.c

[2020-06-15 21:54] bryceosterhaus commented on #3323
@gabrielpramos

I am a little confused at the title vs your description.

So are you expecting that the drop down would close after selection of a checkbox or radio? Your title seems to indicate that it is closing, but you don't expect it to.

[2020-06-15 21:57] bryceosterhaus commented on #3323
@gabrielpramos checkout [this demo](https://codesandbox.io/s/gifted-moon-l2zrq?file=/src/index.js) and disable closing by removing line 27.

[2020-06-15 22:34] bryceosterhaus commented on #3257
Going to close. Will re-open if we ever get a budget for this.

[2020-06-15 22:34] #3257 closed

[2020-06-15 22:36] bryceosterhaus commented on #2918
Now that we have `size-limit` and recently reduced our overall size by removing moment, I think we can close this.

[2020-06-15 22:36] #2918 closed

[2020-06-15 22:37] bryceosterhaus commented on #3067
This should be satisfied by our new workflow of versioning clayui.com and also only publishing clayui.com when we merge to stable. This happens every release

[2020-06-15 22:37] #3067 closed

[2020-06-15 22:39] #2938 closed

[2020-06-15 22:40] bryceosterhaus opened #3336 "Move upper-toolbar to toolbar package"

[2020-06-16 06:14] kresimir-coko opened #3337 "Add Drilldown Component"
Using [this](https://docs.google.com/document/d/1PVQwknqVIOQhf2JL0kEv0k6WHOExKOskiX-CxxWYRqs/edit) documentation by the Lexicon team we should make a Drilldown component.

[2020-06-16 07:47] jbalsas commented on #3323
Hey @bryceosterhaus, I think the `Expected Result` here is backwards. The title states that the **menu closes in IE11**, so the expectation is that it shouldn't.

See [It's not possible to select a Filter or Order for the Apps list on IE11](https://issues.liferay.com/browse/LPS-113723) for the same issue DXP-side

[2020-06-16 08:08] wincent commented on #2891
The answer to that probably depends on whether you have more important things to do, but I don't actually know all the things you have on your plate right now so I don't have much to add here. 😬

[2020-06-16 08:13] jbalsas commented on #2891
I honestly think we should kill that. Ideally, we'd find better development workflows than having to check demos on a huge "test" site. It's also often used as documentation which really bothers me, which feels like another reason we should get rid of that and focus on our site.

My feeling is that the effort of migrating it **AS IS** is too big. I'd suggest approaching this from a different angle

[2020-06-16 12:34] eduardoallegrini commented on #2891
Please don't kill it before we get all the information it holds https://github.com/liferay/clay/issues/2734 (🤔  the sentence seems to come from a mafia movie 😆)

[2020-06-16 12:45] gabrielpramos commented on #3323
Hey @bryceosterhaus and @jbalsas! Chema is right, the example I have given has no setActive and it is closing the menu only on IE11 as I have looked into.

[2020-06-16 17:14] pat270 commented on #2891
I agree we shouldn't port the test site as is. I think we can develop using clayui.com with the current content as long as we fix these issues:

1) Right now we use `node_modules/@clayui/css` files for clayui.com, which isn't very useful during development. If I want to use clayui.com to test changes in `@clayui/css` I need to update `package.json` to point to my local `@clayui/css`, `update clay

[2020-06-16 17:24] bryceosterhaus commented on #2891
@pat270 what I'll do is try and get clayui.com in a usable spot for your development and also keep your old site around for now. Once we are able to provide the same value on clayui.com, we can then kill the test site.

Once I address your two points, just try to make an effort to use clayui.com, and then any time you find yourself going back to the test site, just ping me and we can create and is

[2020-06-16 17:27] pat270 commented on #2891
@bryceosterhaus sounds good. Thinking about it more, even having only 1) working would suffice.

[2020-06-16 17:28] bryceosterhaus opened #3340 "Unable to move focus from dropdown menu item to next button"
Spawned from https://github.com/liferay/clay/pull/3334#issuecomment-644602233

https://codesandbox.io/s/sleepy-buck-3z82f?file=/public/index.html

[2020-06-16 17:29] #3332 closed

[2020-06-16 17:57] pat270 commented on #2993
Duplicating BS4 utilities without `!important` will add:
|theme|additional size|
|---|---|
|atlas.css|57kb|
|atlas.css.gz|7kb|
|base.css|56kb|
|base.css.gz|7kb|

The classes will be prefixed with `.c-`. Now the question, is the additional weight worth it?

[2020-06-16 18:00] jbalsas commented on #2993
Is `atlas.css` additional size a grand total of 56+57=113kb, or just 57kb?

It feels a tad bit much right off the door... specially if we can't leverage some improvement to compensate. We should start operating under a budget, to add 56kb here we should cut them elsewhere.

@bryceosterhaus, this ties to part of the conversation about performance and testing that we talked about earlier.

[2020-06-16 18:05] marcoscv-work commented on #2993
Most used helper classes are related to margin/padding, they are currently ready in Clay.
From my point of view, it does not worth it.

[2020-06-16 18:06] pat270 commented on #2993
`atlas.css` size is 57kb, has nothing to do with `base.css` size.

[2020-06-16 18:17] pat270 commented on #2993
@marcoscv-work I duplicated margin/padding CSS. New numbers:

|theme|size|
|---|---|
|atlas.css|21kb|
|atlas.css.gz|3kb|
|base.css|20kb|
|base.css.gz|3kb|

[2020-06-16 18:46] bryceosterhaus commented on #3323
Okay so I think this got fixed via https://github.com/liferay/clay/pull/3335.

It looks like there was a race condition on IE that triggered the element to be mid-alignment or something like that when the item was clicked. This resulted in the focus manager to think that the user was clicking on an element outside of the menu, which causes the menu to no longer display.

I tested it locally and it

[2020-06-16 18:49] bryceosterhaus commented on #3323
You can either use this sandbox https://codesandbox.io/s/clever-dream-1e3bu

Or just check out the latest storybook at https://next.storybook.clayui.com

[2020-06-18 09:58] drakonux opened #3342 "Apply C-inner to Clay components"
## What is your proposal?

My proposal is to apply [C-inner](https://clayui.com/docs/css/utilities/c-inner.html) by default.

## Why would adopting this proposal be beneficial?

I think we receive a lot of complaints about the focus-style: very aggressive, thick, etc. I think we took a good decision for the sake of accessibility but on the other hand, we could adjust the experience using it not ov

[2020-06-18 10:56] eduardoallegrini commented on #2993
Aren't the spacing-utilties already merged in Clay? https://github.com/liferay/clay/blob/master/packages/clay-css/src/scss/components/_utilities.scss#L324

Anyway, when I was working on the [question-web module](https://github.com/liferay-frontend/liferay-portal/tree/master/modules/apps/questions/questions-web) I missed some utility classes like `text-secondary`, `text-primary`, `small`, `d-flex`,

[2020-06-18 13:41] marcoscv-work commented on #3342
This can be a drastic change for the customer who is used to the "focus" state on mouseover, so I think probably would bee more safe working on the changes by adding "c-inner" class instead of applying the pattern for all clay.
In another hand, we could do it for all components by activating/deactivating a setting variable

Thoughts?