[2019-09-17 15:16] diegonvs commented on #2438
- [x] Are you able to easily implement a demo of this component? Are there any “gotchas” when implementing? Provide a link to codesandbox for a demo.

- [x] Does the component accept additional HTML attributes? For example, adding an aria attribute to a button.

- [] Does component accept a ref? Is the ref value what you would expect?

- [x] Does this component allow for different translations?

-

[2019-09-17 15:30] jbalsas commented on #2440
Found this while playing around with combined sliders and color-picker at https://codesandbox.io/s/clay-component-demo-y6trl

[2019-09-17 15:30] jbalsas commented on #2463
Behaviour and API works fine, tested together with `color-picker` as https://codesandbox.io/s/clay-component-demo-y6trl

[2019-09-17 15:32] julien commented on #2458
I'm currently using a local project created with `create-react-app` to try the components and ran into this issue

![2019-09-17-172618_1600x900_scrot](https://user-images.githubusercontent.com/5572/65056164-b05d9b80-d970-11e9-832c-7fbea07b6eb1.png)

Here's the code I was using and I might have forgotten something, but just in case someone can double check

[code]

This one also needs support for e

[2019-09-17 15:36] diegonvs commented on #2443
- [] Does component accept a ref? Is the ref value what you would expect?

Additional Questions:

Is there anything about the public API that you would change? > No
Is the naming of the available props clear? > No

[2019-09-17 15:50] carloslancha commented on #2478
@eduardoallegrini @marcoscv  I agree we should have different props names in this cases like `title` (don't see a reason for not using `variant` or `spritemap`) so we can still use html attributes, but `clayWhatever` for me is definitely not an option.

Maybe `leadTitle`?

[2019-09-17 15:52] eduardoallegrini commented on #2438
I found these points:

- `spritemap` has the same problem of the [icons](https://github.com/liferay/clay/issues/2448#issuecomment-532220618)
- the value `stripe` could be confusing because its [meaning](https://www.lexico.com/en/definition/stripe) and [common usage](https://getbootstrap.com/docs/4.3/components/progress/#striped)
- setting `variant="stripe"` I get a different result from the expect

[2019-09-17 15:58] marcoscv-work commented on #2468
- [x] **HTML**
- [x] **CSS**
- [x] **Accessibility basics**
  - Sometimes we need a 'tooltip' as a visual help but it does not need to be 'read' for a screen reader, so it wouldn't be a `title` HTML attribute, for example; buttons type icon, but in that case, the button can have an `sr-only` text or `aria-label`.
  I think this is possible with the current component, could you guys confirm it?

[2019-09-17 16:03] jbalsas commented on #2463
This component does not currently accept a ref... but I'm not sure I expected one anyways

[2019-09-17 16:04] jbalsas commented on #2463
Found the storybooks, but missing the general docs on the component

[2019-09-17 16:04] carloslancha commented on #2458
Yep, I guess all components should accept `...otherProps` and render'em in the main (or more logic) element.

[2019-09-17 16:27] #2419 closed

[2019-09-17 16:58] #2423 closed

[2019-09-17 21:23] matuzalemsteles commented on #2478
I agree with @carloslancha, there is no reason to prefix `clay` with APIs, I think this case is an exception and we can rename it to better suit the case. I think `leadTitle` might be a good option here.

[2019-09-18 07:25] marcoscv-work commented on #2467
- [x] **HTML**
- [x] **CSS**
- [ ] **Accessibility basics**
  - **It cannot be used by screen reader**
  - The component need input descriptions, example: `aria-label="Enter the time in 00:00 format"`
  - If we decide to use only the inputs the buttons to control up and down can be hidden, if not, they also need description

[2019-09-18 07:37] kresimir-coko commented on #2449
I was able to easily implement a demo, there were no problems or "gotchas"

The component does accept additional HTML attributes, and they are present as attributes in the rendered component.

Yes, it accepts a ref and the value is expected.

I'm not sure, but since it accepts a custom text I can draw a conclusion that it does allow in a similar manner that Soy did with the `msg` tag

Nope, not a

[2019-09-18 07:44] kresimir-coko commented on #2455
I'll test this one so assign it to me when you're able.

[2019-09-18 08:01] diegonvs commented on #2478
For Alert case, I vote for `message` instead of `title`.

[2019-09-18 08:05] julien commented on #2458
After speaking with @marcoscv @bryceosterhaus @diegonvs and @eduardoallegrini we think it might be better analysing each component to find a general pattern or at least a good way to support accesibility related attributes. So I'll won't send a PR just right now.

[2019-09-18 08:42] diegonvs commented on #2456
- [ ]  Does the component accept additional HTML attributes? For example, adding an aria attribute to a button.

- [ ]  Were you able to find documentation for this component? Was it clear?
🙅‍♂ VerticalNav
🙅‍♂ Breadcrumb

Additional Questions:

Is there anything about the public API that you would change?
Is the naming of the available props clear?

[2019-09-18 09:08] marcoscv-work commented on #2466
- [x] **HTML**
- [x] **CSS**
- [x] **Accessibility basics**
  - We need to establish a relationship between the `tab` and the `tabpanel` by adding a label to the panel, we could use `aria-labelledby="tab-X"` or `aria-label`. and add to the tab `aria-controls="tabpanel-X"`

[2019-09-18 09:21] marcoscv-work commented on #2465
In the storybook example the kebab-menu is not a button, is it a limitation or a demo issue?
![image](https://user-images.githubusercontent.com/7963804/65135511-57d8dd80-da06-11e9-8a48-336db5a929f6.png)

[2019-09-18 09:26] julien commented on #2442
No.

Yes.

[2019-09-18 09:30] marcoscv-work commented on #2465
- [x] **HTML**
- [x] **CSS**
- [x] **Accessibility basics**
  - Ensure checkbox has `aria-label` with a meaning label, not something like "Check" It would need to be something like **"Check out / Select + name of the item, by default first info column"**
  - Minor problems with the definition of `table-divider` It not works like table header so it's confusing for screenreaders

[2019-09-18 09:50] bryceosterhaus commented on #2448
updates: https://github.com/liferay/clay/pull/2493

[2019-09-18 09:57] marcoscv-work commented on #2464
- [x] **HTML**
- [x] **CSS**
- [x] **Accessibility basics**
  - Images need always `alt =""`, if we don't have text we need to write `alt =""` to set the image doesn't' have semantic meaning or value

[2019-09-18 10:03] marcoscv-work commented on #2461
- [x] **HTML**
- [x] **CSS**
- [x] **Accessibility basics**
  - We need to add `sr-only` text, from: `<div class="progress-group-addon">70%</div>` to `<div class="progress-group-addon">70% <span class="sr-only">loaded</span></div>` and `<div class="progress-group-addon">50/100</div>` to something like `<div class="progress-group-addon">50/100 <span class="sr-only">items uploaded</span></div>`

[2019-09-18 10:03] eduardoallegrini commented on #2438
- The icon placeholder when we are using [no-standard colors (css tab)](https://next.clayui.com/docs/components/alerts.html)
![image](https://user-images.githubusercontent.com/46778114/65138856-f0be2780-da0b-11e9-9f3a-e0fc1f973453.png)

- The HTML of the stripe version has an extra `.container` but I’m not able to tell if it’s correct because we don’t have it [documented yet](https://issues.lifera

[2019-09-18 10:04] bryceosterhaus commented on #2464
@marcoscv-work  sticker itself does not render an img tag, the user has to pass that tag as a child, so it will be up to the user to do so. But I think you caught that some of our stories did not include an alt attribute. Ill see about updating all of our stories for this.

[2019-09-18 10:48] eduardoallegrini commented on #2466
I tried to add `aria-controls="value"` but it's not possible to target the `<a>` tag

[2019-09-18 10:55] marcoscv-work commented on #2466
https://getbootstrap.com/docs/4.3/components/navs/#javascript-behavior

[2019-09-18 11:20] kresimir-coko commented on #2455
The only hiccup I had was the fact that in order to get it working I needed to add more dependencies than just ClayList which are probably automatically downloaded when doing yarn install

Yes, the aria attributes get rendered correctly

No, it does not because it is a function component

I'm not sure, but since it accepts a custom text I can draw a conclusion that it does allow in a similar manne

[2019-09-18 13:05] eduardoallegrini commented on #2462
- [x] **HTML**
- [x] **CSS**
- [x] **Accessibility basics**

[2019-09-18 13:07] #2405 closed

[2019-09-18 13:09] mateomustapic commented on #2461
https://codesandbox.io/s/hopeful-einstein-cv0fc
It was easily implemented after small issues with implementing dependencies to codesandbox.

Yes, tested with setting `title` attribute to progressbar.

No, it does not because it is a function component

Yes

This is not a form element

There were no issues wen using documentation.

No

Yes

[2019-09-18 13:11] mateomustapic commented on #2457
@bryceosterhaus Please assign this issue to me

[2019-09-18 13:16] diegonvs commented on #2465
In the storybook example the kebab-menu is not a button, is it a limitation or a demo issue?

[2019-09-18 14:44] marcoscv-work commented on #2440
- [x] **HTML**
- [x] **CSS**
- [x] **Accessibility
 basics**
  - This component can have more complex controls by keyboard but most basic would be: Focus on the color button which has text on `sr-only` with the current color, then we press key enter and colors dropdown-menu appears, next tabulñation should go to the first dropdown-menu color, and when we chose one by pressing enter the  dropdown i

[2019-09-18 14:57] #2450 closed

[2019-09-18 14:57] #2448 closed

[2019-09-18 15:00] #2437 closed

[2019-09-18 15:09] marcoscv-work commented on #2450
- [x] **HTML**
- [x] **CSS**
- [x] **Accessibility basics**

[2019-09-18 15:21] eduardoallegrini commented on #2447
I found these "inner" components _I hope I didn't miss anyone_
- Checkbox
- Radio
- Input
- InputWithAutocomplete
- InputMultiSelect

- [x] **HTML**
- [x] **CSS**
- [x] **Accessibility basics**

[2019-09-18 15:23] marcoscv-work commented on #2451
- [x] **HTML**
- [x] **CSS**
- [x] **Accessibility basics**
  - `aria-hidden="true"` can be fine for some scenarios, even if we do not provide loading text but if we are reloading some part of the web what is not ready when the focus pass through I think we should provide information about why in this markup point we don't have yet the expected information, example: `<span class="loading-animation

[2019-09-18 15:27] marcoscv-work commented on #2460
To make a complete review of HTML/CSS/Accessibility We would need to see it in context, for example, a button or link which uses the popover triggered in different ways, by pressing the button, on hover, on focus, etc.

[2019-09-18 15:38] #2462 closed

[2019-09-18 16:17] diegonvs commented on #2463
I, Matu and Bryce agreed with left this component in its own package due to not bloat ClayForm.

[2019-09-18 18:47] matuzalemsteles commented on #2451
hey @marcoscv-work we could reach the same result using `<ClayLoadingIndicator aria-label="Loading data" aria-hidden="false" />`, what do you think?

[2019-09-18 19:24] #2443 closed

[2019-09-18 19:25] #2463 closed

[2019-09-18 19:26] #2464 closed

[2019-09-18 19:37] #2449 closed

[2019-09-19 06:57] wincent commented on #2463
Do you think it will be clear to users what the rationale for including something (or not including it) in ClayForm are? As far as I can tell, the criterion is something like:

I don't really understand how we decide what constitutes bloat and what doesn't. In this case, the heart of the component is an `<input type="range" />` and that sure sounds like a form component to me.

[2019-09-19 07:02] kresimir-coko commented on #2445
I'll verify this one, so assign it to me.

[2019-09-19 07:15] jbalsas commented on #2463
That was mainly the reason I asked. On the other hand, that could be considered an implementation detail. Developers wouldn't necessarily need to know this, so the criterion could read something like:

In this case, I see how a lot of apps could use the `slider` component to control other parts of an application without relying on the `input`-like behaviour.

With all this in mind, maybe a simpler

[2019-09-19 07:36] wincent commented on #2463
I'd like to understand what the fear of "bloat" means here. Having more packages increases our maintenance and release overhead, and consumers of Clay who really cared about size would be using some kind of tree-shaking, right? In liferay-portal, we'll often want to load most or all of Clay (almost by definition, because the stuff that goes in Clay is stuff that is generally needed).

Is Clay a se

[2019-09-19 08:33] bryceosterhaus commented on #2463
I think we intend to be _both_. Something that can be used in isolation, but also should work together cohesively as a unit when used together.

As far as what we decide to put into `@clayui/form`, it is definitely subjective and we don't necessarily have a hard and fast rule. But I would probably use a similar line of thinking as Chema noted, "is this typically used within a from or is it often u

[2019-09-19 08:35] bryceosterhaus commented on #2463
Also, I'm not super concerned with "bloat" in a package. I think you could argue that 6 individual small packages is just as much bloat as one large package.

[2019-09-19 08:39] julien commented on #2441
As far as I could see we're not taking this into account ... yet.
As discussed in other "review" issue tickets, it might be better to come up with some common patterns concerning these extra attributes before adding anything we might end up reverting.

Not at the moment.

As far as I'm concerned that's a "yes", because it's just of matter of reading the billboard.js documentation and examples.

I'

[2019-09-19 08:40] diegonvs commented on #2463
A lot of components in a single package may affect the discoverability, I guess.

As Bryce said:

I totally agree with that.

[2019-09-19 09:02] bryceosterhaus commented on #2460
I would add an additional API to disable the scroll bar for long text. PR: https://github.com/liferay/clay/pull/2505

I would also add a high-level component that we can wrap a "trigger" with so that users don't need to manually implement positioning and hide/show. I think this can be implemented after 3.0.0 though. @matuzalemsteles what do you think?

[2019-09-19 09:21] bryceosterhaus commented on #2451
I just verified with chromevox that `<ClayLoadingIndicator aria-label="Loading data" aria-hidden="false" />` does work. I am going to go ahead and release this package.

[2019-09-19 09:24] #2451 closed

[2019-09-19 10:02] bryceosterhaus commented on #2441
Yeah you are right, we could do a better job at pointing to the billboard docs. I haven't look at charts in awhile, but I think we might benefit from going through it one more time and trying to line of the API to be as close to billboard as possible and any unnecessary logic on our end.

[2019-09-19 10:05] julien commented on #2441
@bryceosterhaus yes that sounds like a good idea too - I haven't seen to much unnecesarry stuff too far.

[2019-09-19 10:09] julien commented on #2439
As I understand this, this is more a "data" related component rather than a visual component.

No

Yes

[2019-09-19 10:14] bryceosterhaus commented on #2438
@eduardoallegrini thanks for the feedback! I was following some of the examples seen here, https://pat270.github.io/lexicon/v2.16.2/content/alerts/.

[2019-09-19 10:15] wincent commented on #2463
Are people really discovering components by looking through the packages folder in the monorepo? Or searching for words on NPM? I would have thought that they'd mostly be starting from the Clay website.

I'm fine with the decision to put clay-slider wherever you want: I just wanted to tease out the rationale a bit, in the hope of making it as clear, objective and non-arbitrary as possible.

[2019-09-19 10:24] kresimir-coko commented on #2445
Yes, no problems implementing.

No, neither the `aria-*` or the `title` attribute gets rendered.

It doesn't complain about it but it doesn't do anything when `ref` is assigned to it.

It doesn't need these because it's all numbers.

Not a form element.

Yes, documentation was clear except for the following:
1. Needed more dependencies than just ClayDatePicker which is not documented, but those mi

[2019-09-19 10:45] eduardoallegrini commented on #2442
I tried these:
- ClayCardWithUser
- ClayCardWithHorizontal
- ClayCardWithInfo
- ClayCardWithNavigation

And they are good
- [x] **HTML**
- [x] **CSS**
- [x] **Accessibility basics**

About the APIs
- Shouldn't we add the [`indeterminate` variantion](https://next.clayui.com/docs/components/forms/checkbox.html#api-indeterminate)?
- Some API should have a "depends on", for example:
  - In `ClayCardWi

[2019-09-19 10:55] bryceosterhaus commented on #2438
Going to release this since this is the current implementation we have from clay-css and it looks to match up with the lexicon definition on lexicon's site. If we decide to make changes to the css, we can update this component at the same time.

[2019-09-19 10:57] #2438 closed

[2019-09-19 11:02] diegonvs commented on #2442
We just followed Lexicon examples. At least for me, I didn't saw any case with indeterminate checkbox variation

BTW, @bryceosterhaus @matuzalemsteles, would be a good idea to add a property like `checkboxProps`?

[2019-09-19 11:05] diegonvs commented on #2442
Would be a good idea add warnings for it?

[2019-09-19 11:05] bryceosterhaus commented on #2461
@marcoscv-work a user should be able to achieve that by doing. Granted, this is extra information to add, but I think we might want to start without it first and then seeing how people use it.

[code]

[2019-09-19 11:06] diegonvs commented on #2463
👍

[2019-09-19 11:09] bryceosterhaus commented on #2461
I added a demo of it for our storybook, https://github.com/liferay/clay/pull/2511

[2019-09-19 11:12] #2461 closed

[2019-09-19 11:20] diegonvs commented on #2445
Fixed by: https://github.com/liferay/clay/pull/2512

`useState` is a React Hook, imported previously :)

You can create a custom hook like this code example:

[code]

[2019-09-19 11:22] diegonvs commented on #2445
This depends on the Intl, is better to keep this treatment for the developer.

[2019-09-19 11:28] mateomustapic commented on #2457
https://codesandbox.io/s/modest-morse-whtnt

[2019-09-19 11:31] kresimir-coko commented on #2445
@diegonvs

Sure you can create a custom hook, but to me this current implementation feels wrong, it's like having a component for inputting a phonenumber, and phonenumber only, but being able to input a string with length of 420 `letters` in it instead of a range of `numbers` with a length of 2-20ish.

You can create a custom hook for the phonenumber component too to combat my example, but shouldn

[2019-09-19 11:41] markocikos commented on #2444
@bryceosterhaus please assign this to me.

[2019-09-19 12:04] bryceosterhaus commented on #2463
maybe I'm the only one that does this... just today I was looking through babel's packages lol

Primarily I think we would expect people to find our components through our site or through storybook(which is from our site).

[2019-09-19 13:02] bryceosterhaus commented on #2441
@julien I went ahead and added an additional prop for providing attributes to the charts container element. Let me know if this seems appropriate https://github.com/liferay/clay/pull/2514. I didn't use `...otherProps` since I wanted to leave that open for other billboard config and API.

[2019-09-19 13:03] diegonvs commented on #2440
Fixed by: https://github.com/liferay/clay/pull/2513

[2019-09-19 13:08] julien commented on #2441
@bryceosterhaus yes that looks appropriate to me. Thanks.

[2019-09-19 13:19] matuzalemsteles commented on #2460
Yeah, I think it would be better to add that after 3.0.0 so we could collect his use cases with the teams and how they do it.

[2019-09-19 13:33] #2460 closed

[2019-09-19 14:08] #2357 closed

[2019-09-19 14:58] #2439 closed

[2019-09-19 16:02] markocikos commented on #2444
I was able to [implement basic example](https://codesandbox.io/s/clay-autocomplete-basic-example-p7xp6), but it was not easy. It is poorly documented and the API has many unnecessary and unintuitive requirements (more on this later).

I was not able to implement async example, I could not figure out how to import / enable `useResource`.

`<ClayAutocomplete>`, `<ClayAutocomplete.Input>` and `<ClayD

[2019-09-19 17:16] matuzalemsteles commented on #2444
hey @markocikos thanks for your sincerity about this component maybe it has given you a different idea but this component is a low level which means that it is controlled, broken into small parts and does not deal with internal logic such as opening the DropDown, close and etc... Much of it is really manual to cover other use cases, this allows you to have full control of it. This allows us to reu

[2019-09-19 22:15] #2457 closed

[2019-09-19 22:15] #2453 closed

[2019-09-19 22:15] #2459 closed

[2019-09-19 23:47] matuzalemsteles commented on #2466
I added this to our stories #2522

[2019-09-20 08:01] bryceosterhaus commented on #2468
Yeah you should be able to add the `aria-label` to a button or add inner content with `sr-only`.

[2019-09-20 08:06] #2468 closed

[2019-09-20 08:24] bryceosterhaus commented on #2456
missing dependency of drop-down

[2019-09-20 08:29] eduardoallegrini commented on #2455
- [x] **HTML**
- [x] **CSS**
- [ ] **Accessibility basics**
  - `.quick-action-menu` is not accessible with keyboard

![image](https://user-images.githubusercontent.com/46778114/65311717-407a2b80-db91-11e9-8734-7be85bc2c186.png)

[2019-09-20 08:49] eduardoallegrini commented on #2446
- [x] **HTML**
- [x] **CSS**
- [ ] **Accessibility basics**
  - in the [default example](https://storybook.clayui.com/?path=/story/components-claydropdown--default) the disabled link is  still selectable with keyboard

![image](https://user-images.githubusercontent.com/46778114/65313094-1a09bf80-db94-11e9-8d6d-b849673b070a.png)

  - in the [w/ ClayDropDownWithItems example](https://storybook.clayu

[2019-09-20 09:03] bryceosterhaus opened #2523 "CI check for missing dependencies?"
I've noticed we have run into a handful of "missing dependency" issues due to using a workspace. The package will likely run fine in the workspace without declaring an explicit dependency in the package.json. I think we need to incorporate some sort of CI check to verify that all of our used dependencies are also located in our package.json

[2019-09-20 09:20] eduardoallegrini commented on #2445
- [x] **HTML**
- [x] **CSS**
- [x] **Accessibility basics**
  - Minor accessibility issue: the date inserted through the input field does not update the calendar

[2019-09-20 09:46] bryceosterhaus commented on #2446
@matuzalemsteles I think this issue with the disabled item might come from the new implementation of FocusScope. The disabled attributes were just working yesterday I think

[2019-09-20 09:58] eduardoallegrini commented on #2452
- [x] **HTML**
  - `.label`s should go in the same `tbar-item` and we should change some CSS properties to -manage any number of labels

![image](https://user-images.githubusercontent.com/46778114/65318287-a8367380-db9d-11e9-8125-45b3d2a2315c.png)
![image](https://user-images.githubusercontent.com/46778114/65318347-c2705180-db9d-11e9-9392-82b7b9a0066f.png)

  - The list items `<li>` of the action

[2019-09-20 10:11] diegonvs commented on #2523
I gonna take it ;)

[2019-09-20 10:16] eduardoallegrini commented on #2454
- [x] **HTML**
- [x] **CSS**
- [x] **Accessibility basics**

[2019-09-20 10:30] eduardoallegrini commented on #2456
- [x] **HTML**
- [x] **CSS**
- [ ] **Accessibility basics**
  - In the [w/ vertical example](https://storybook.clayui.com/?path=/story/components-claynavigation--w-vertical) the links with dropdown are not targetable from keyboard

[2019-09-20 10:43] eduardoallegrini opened #2526 "ClayNavigationBar links and buttons have a different height"
During the recent tests, I found out a little bug with the height of the elements
![image](https://user-images.githubusercontent.com/46778114/65321129-b1c2da00-dba3-11e9-8617-daf205d0162e.png)
`links` and `buttons` has a different height (buttons: 29px, links: 32px)

[2019-09-20 10:51] julien commented on #2465
No

Yes

[2019-09-20 12:39] matuzalemsteles commented on #2526
hey @eduardoallegrini Someone had talked about this before, but we came to the conclusion that it would not be possible to have all the active elements, it seems to happen only when they are active.

[2019-09-20 13:22] matuzalemsteles commented on #2446
hey @bryceosterhaus I will send a fix to `DropDown`, FocusManager follows the default behavior, we have to add the `disabled` attribute to the element, for now we are just adding `disabled` to `className`.

[2019-09-23 01:41] jbalsas commented on #2440
Additionally, the picker trigger is missing a `type="button"` attribute. This causes that, if the component is inserted inside a form, trying to pick a colour will trigger the form submission.

See https://codesandbox.io/s/blazing-glitter-qdxg4

[2019-09-23 14:04] #2454 closed

[2019-09-23 14:05] #2466 closed

[2019-09-23 14:05] #2441 closed

[2019-09-23 14:05] #2465 closed

[2019-09-23 14:13] #2447 closed

[2019-09-25 14:55] matuzalemsteles opened #2540 "Use Button instead of anchor in Vertical component"
Attempting to add the button when the element state in Vertical is not necessarily a link is just a trigger to expand the menu, breaks the element because it does not support the button.

The ideal would be to use a button for this case to allow interaction via keyboard, we could use the anchor with `href="javascript:;"` but we will have problems with the React warnings and we want to move away fr

[2019-09-26 17:06] #2477 closed

[2019-09-26 19:28] sandwichnyc opened #2546 "How can Clay components be used within a React portlet?"
## What is your question?

Hi,

I'm trying to play around with adding the Clay components to a React portlet that I generated via Liferay's JS toolkit but it's not working.  I installed Clay via npm and just included one component in my AppComponent like so:

`import {ClayButton} from 'clay';`

But when I navigate to the page there are a bunch of these errors in the Chrome console:

[code]
Is this

[2019-09-27 06:50] julien commented on #2546
Hi @sandwichnyc,

It looks like you're using the "metal.js + soy" version of `ClayButton` - which is published as [`clay-button`](https://www.npmjs.com/package/clay-button) on the npm reigstry.

If you want the React component, you'll need to install it via `yarn add @clayui/button` or `npm install @clayui/button`.

Let me know if that helps.

[2019-09-27 14:48] sandwichnyc commented on #2546
Thanks @julien - that did the trick.  If I want to get all the components rather than getting them one by one, do I just install `@clayui`?

[2019-09-27 14:55] matuzalemsteles commented on #2546
hey @sandwichnyc We don't have a package that bundles all React components yet, so you have to install all packages separately.

[2019-09-27 15:40] sandwichnyc commented on #2546
Got it.  Thanks for your help. 👍

[2019-09-30 13:18] eduardoallegrini commented on #1244
Recently I've been reviewing a [sticky-table-column-issue](https://issues.liferay.com/browse/LPS-96291) and I think we should consider also this possibility

I created a [first solution using the `sticky CSS property`](https://codepen.io/eduardoallegrini/pen/NZeZLJ) but it's [not 100% compatible with other browser](https://caniuse.com/#search=position%3A%20sticky)

[2019-09-30 14:25] jbalsas commented on #1244
Yeah, I was going to say we should work both on `header` and `first-column` stickies since it's an already approved pattern. We have it implemented in liferay-portal already in the old searchContainer, so we need to make sure our new tables retain that behaviour.

[2019-09-30 14:30] drakonux commented on #1244
Well we don't have a definition for the new table in Clay. But at least we have the solution we gave in https://issues.liferay.com/browse/PTR-956 as the valid one.

[2019-09-30 16:28] matuzalemsteles commented on #2546
hey @sandwichnyc I am closing this issue once your question has been answered, if you have any further questions please feel free to open another issue.

[2019-09-30 16:28] #2546 closed

[2019-09-30 21:26] matuzalemsteles opened #2550 "Quick Actions must be keyboard accessible"
Quick Action for List and Table must be accessible via Keyboard. When any focusable element in the row is in focus the Quick action should be visible for the tab and tab + shift to work well.

Reported on #2455

[2019-09-30 21:28] matuzalemsteles commented on #2455
@eduardoallegrini I open an issue so we don't miss it.

[2019-09-30 21:28] #2455 closed

[2019-09-30 21:34] matuzalemsteles commented on #2446
I will close this since we have released and fix a fix for Disabled focus problem, we will send a patch release for this component soon with this fix.

[2019-09-30 21:34] #2446 closed

[2019-09-30 22:17] diegonvs opened #2551 "Add Table and Card view on List Page Storybook Template"
Currently, we don't have these view modes available on Storybook.

See: https://storybook-clayui.netlify.com/?path=/story/demos-templates--list-page

[2019-09-30 22:34] matuzalemsteles commented on #2444
@markocikos I'm closing this issue, but I just want to say that your opinions on this component will not be lost and we are looking to improve... we made the release last week so let's test with the teams and see what works what doesn't work and add improvements in future releases.

[2019-09-30 22:35] #2444 closed

[2019-10-01 15:51] julien opened #2553 "ClayModal, how to close it properly"
I've got a question regarding the new `@clayui/modal` component.

I've set up an example in codesandbox [here](https://codesandbox.io/embed/claymodalexample-koiiy?fontsize=15) and I'd like to know what I doing wrong.

If you look at the example and click on the "Close Me" button, you'll notice that a warning is displayed in the console.

Note that, this warning only happens **once**, even if you h

[2019-10-01 17:10] diegonvs commented on #2553
Yes, this is weird. Needs more investigation but We found a temporary walkaround. If you move `useModal` from the Modal component to your App component this error doesn't appear more. https://www.diffchecker.com/3AXpWjOT

[2019-10-01 17:12] bryceosterhaus commented on #2553
First off, thanks for the codesandbox, always a huge help.

Hmm I think it might have to do with the `useModal` hook being in a component that is unmounted at the same time as the modal itself. I refactored it slightly [here](https://codesandbox.io/embed/claymodalexample-l6pjj?fontsize=14) so that `useModal` exists outside of that mounted component, and it doesn't seem to error.

However, this doe

[2019-10-01 17:12] bryceosterhaus commented on #2553
looks like me and @diegonvs were both looking at the same time lol

[2019-10-01 17:22] matuzalemsteles commented on #2553
hey @bryceosterhaus, @diegonvs yeah I think we have to also analyze that even correcting this, if this case would be the most recommending to close the modal. The hook may be lost every time the component is unmounted at the same time as Modal, due to the use of the above ternary in the example. For me it makes more sense for the hook to be out of ternary since it is Modal's controller, it needs t

[2019-10-01 17:26] bryceosterhaus opened #2554 "Investigate tooling for better code snippets in out docs."
Conversation at https://github.com/liferay/clay/pull/2549#issuecomment-536912114

[2019-10-01 17:32] diegonvs opened #2555 "Review DropDown documentation"

[2019-10-01 18:09] diegonvs opened #2556 "Add documentation for Form and link with FormGroup documentation"

[2019-10-01 18:09] diegonvs opened #2557 "Write documentation for Multi Step Form"

[2019-10-01 18:10] diegonvs opened #2558 "Write documentation for Input component considering CSS docs of Text Input and Text Input Group"

[2019-10-01 18:10] diegonvs opened #2559 "Make references about Text Input Autocomplete in Autocomplete docs"

[2019-10-01 18:10] diegonvs opened #2560 "Review Modal documentation"

[2019-10-01 18:11] diegonvs opened #2561 "Review Tooltip and Popover documentation"

[2019-10-01 18:11] diegonvs opened #2562 "Review Panel API docs"

[2019-10-01 18:11] diegonvs opened #2563 "Review Tabs documentation"

[2019-10-01 18:11] diegonvs opened #2564 "Review Management Bar documentation"

[2019-10-01 18:11] diegonvs opened #2565 "Review Charts documentation"

[2019-10-01 18:12] diegonvs opened #2566 "Review migration guide and advise users for use high-level components in the most cases"

[2019-10-01 18:44] #2474 closed

[2019-10-01 18:45] #2209 closed

[2019-10-01 18:45] #2478 closed

[2019-10-01 18:52] matuzalemsteles commented on #2559
Probably for that just add `sibling` to the `autocomplete.mdx` of the Autocomplete CSS document.

[2019-10-01 18:54] matuzalemsteles commented on #2560
We should explain some things about using ClayModal, such as the #2553 case and @julien  comments at #2453.

[2019-10-01 18:58] matuzalemsteles commented on #2566
Since we wrote the migration guide we had only low-level component use cases, so we need to encourage the use of high-level components for most cases. So that people coming from 2.x can do the minimum to get to the previous results.

[2019-10-01 19:00] matuzalemsteles commented on #2565
Ideally we can document a starter guide to using the chart component and add reference to the Billboard.js documentation and use cases in the Storybook. We don't have to work hard at it here, as we will prioritize drastic changes in ClayCharts soon.

[2019-10-01 19:02] matuzalemsteles commented on #2555
We can rewrite the DropDown document following the same idea I made for Card components, showing how to make DropDown components using the low-level APIs and using the high-level API.

[2019-10-01 19:29] #2440 closed

[2019-10-01 20:48] matuzalemsteles opened #2569 "Add documentation on the foundations of Clays compositional philosophy"
The idea here is not to explain the low-level and high-level components definitions at a low level (which we are talking about here #2275), just to show a macro view of how we are delivering our components.

[2019-10-01 21:19] #2559 closed

[2019-10-01 21:19] #2445 closed

[2019-10-01 21:19] #2467 closed

[2019-10-02 08:18] julien commented on #2553
Thanks to all for the quick reply.

@bryceosterhaus based on your updated example moved the `useModal` hook into the parent component (the one that renders the modal component) and it did indeed remove the warning so thanks for the fix.

[2019-10-02 09:04] FabioDiegoMastrorilli opened #2573 "Checkboxes at the moment only handle true/false value"
At the moment checkboxes don't handle correctly values.

As you can see here: https://codesandbox.io/s/green-moon-ctnek the `value` attribute changes based on the `checked` one, while it should not be related to it.

I should be able to pass an ID as a value and being able to read it directly on the rendered view like:
```<input type="checkbox" name="assets" value="images" checked>```

[2019-10-02 09:11] jbalsas commented on #2563
(changed the milestones, just checking our exalate sync is back up again)

[2019-10-02 13:24] julien commented on #2553
Hi again,

I'm able to fix most of our current use cases by moving the `useModal` hook inside the modal's parent component, but what I haven't been able to do is use this in tests - We're currently using `react-testing-library` and I can't see how I could "mock" this inside my tests. Just wanted you to be aware of this because the modal component is widely used in various applications.

[2019-10-02 13:37] julien commented on #2553
Just a(nother) quick update, I finally managed to mock the observer in the tests with this code

[code]

It's a big **ugly** but it works ;)

[2019-10-02 14:04] matuzalemsteles commented on #2553
@julien Thanks for bringing this up, can you give us some context in the tests?

haha please keep this at seven keys just for you 😂. This is an API that I don't want people to know how it works. 😅

[2019-10-02 15:20] matuzalemsteles commented on #2553
Thanks a lot again @julien! I talked a little with Julien in Slack, so these are some of the thoughts I had quickly so we could encourage some practices and try to remove some that were already created.

- For testing, we can encourage the practice of creating a wrapper (`<ModalWithState />`) on top of `useModal` and Modal, as we do in our tests. We might want to document this on clayui.com
- For

[2019-10-02 20:28] #2442 closed

[2019-10-03 02:32] matuzalemsteles opened #2577 "[Feedback] Future for data visualization"
Hey guys, this is an issue to start a thread about the future of data visualization in Clay (ClayCharts), we are wondering how you use Charts today, what your expectations were and what your pains were about the current Charts with Billboard.js.

An important point to note, dealing with charts is complex and requires a learning curve, we have many libraries out there that deliver different data vi

[2019-10-03 02:41] matuzalemsteles commented on #2577
I'm tagging some people that I know worked with the charts. Please leave your thoughts: @interaminense @fcodias @FabioDiegoMastrorilli @oliveiraaraujo @phcp @kienD

@julien @jbalsas @bryceosterhaus please mark other people I may have forgotten and also leave your thoughts 🙂.

[2019-10-03 07:40] jbalsas commented on #2577
/cc @AngeloYoun, @epgarcia, @adolfopa, @brunobasto

[2019-10-03 08:24] FabioDiegoMastrorilli commented on #2577
/cc @gcmznt

[2019-10-03 08:33] victorg1991 opened #2578 "When ClayDropdown trigger element get the focus it cannot be changed with tab"
## What are the steps to reproduce?

Open the storyboard [here](https://storybook.clayui.com/?path=/story/components-claydropdown--default ) You have to tab until the dropdown button is focused, after that you cannot change focus with tab

## What is the expected result?
Changing focus with tab should focus

## Environment

| Tech    | Version |
| ------- | ------- |
| Clay    | v3.0.0  |
| React

[2019-10-03 11:02] p2kmgcl opened #2579 "ClayDropdown (react) position blinks on first render"
Using ClayDropdown@3.0.0 with an element aligned to the right, the dropdown blinks on first render (it's positioned to the right and then moved  to the left).

https://codesandbox.io/s/zen-lederberg-6i62k

[2019-10-03 12:23] DuuriimaaBargaid opened #2580 "Please include new icon Sign-in"
Please include new icon "Sign-in"

<img width="304" alt="Captura de pantalla 2019-10-03 a las 14 21 50" src="https://user-images.githubusercontent.com/36294241/66126186-2c9ae480-e5e9-11e9-8b4c-300d6f2d07d8.png">
Please find the .SVG  file in jira ticket https://issues.liferay.com/browse/LEXI-657

[2019-10-03 12:30] DuuriimaaBargaid opened #2581 "Please include new icon Google"
Please include new icon "Google"
<img width="80" alt="google plus 2" src="https://user-images.githubusercontent.com/36294241/66126582-13defe80-e5ea-11e9-9224-91f4b85c0e54.png">

Please find the .svg file in [Jira ticket](https://issues.liferay.com/browse/LEXI-655)

[2019-10-03 12:45] matuzalemsteles commented on #2578
hey @victorg1991 can you reproduce this out of the storybook? We have focus control for these components. But inside the Storybook this really ends up having problems like not exiting, it turns out that Storybook renders an iframe with the components so that it keeps the component isolated from the application, so that prevents us from focusing manually. In a single app application environment thi

[2019-10-03 13:00] DuuriimaaBargaid opened #2582 "Please include new icon HDD"
Please include the new icon HDD
<img width="317" alt="Captura de pantalla 2019-10-03 a las 14 57 22" src="https://user-images.githubusercontent.com/36294241/66128452-20fdec80-e5ee-11e9-98e6-c8b5427808eb.png">

Please find .SVG file in jira ticket https://issues.liferay.com/browse/LEXI-652

[2019-10-03 14:05] interaminense commented on #2577
/cc @erickakoyama

[2019-10-03 14:41] diegonvs opened #2583 "Add a Toggler property for ClayInput type="password""
Hey folks, What do you think about adding a new API for ClayInputGroup like this:

[code]

/cc @matuzalemsteles @bryceosterhaus

[2019-10-03 15:25] matuzalemsteles commented on #2583
I think this may be more work than it sounds, because we will also have to control the visibility of the values ​​in `ClayInput`, we would have to create an abstraction to make it happen and the way to use `<ClayInput.GroupItem />` (ClayInputGroupItem) It makes it a more responsible component and shies away from its essence by having to add a unique use case.

I see this could be a high level but

[2019-10-03 17:52] bryceosterhaus commented on #2554
Temporary solution: https://github.com/liferay/clay/pull/2567

We should still investigate this further to avoid having to make template literals of our code examples.

[2019-10-03 17:52] bryceosterhaus commented on #2561
https://github.com/liferay/clay/pull/2572

[2019-10-03 17:52] #2561 closed

[2019-10-03 17:52] bryceosterhaus commented on #2557
https://github.com/liferay/clay/pull/2571

[2019-10-03 17:52] #2557 closed

[2019-10-03 20:24] interaminense commented on #2577
Do you guys think to change the chart lib? Are there other libs that I think are better than **Billboard.js**

Until today we face some issues with billboard.js that I can list here:

* Performance issue when we insert a large amount of data in a line chart for example;
* There is a bug when manipulating the axis values ​​(we don't allow the chart to control) that when updating the data, the axis

[2019-10-04 07:25] victorg1991 commented on #2578
Hey @matuzalemsteles, sorry for the delay, [here](https://codesandbox.io/s/claydropdownfocus-q252x) you have an example :)

In case it helps debugging, it seems that if you add another button in react, the focus changes to that button correctly, but in case you only have one, like in this example once you get the focus, it is are trapped

I hope it helps, if you need something else, please let me

[2019-10-04 12:32] #2579 closed

[2019-10-04 12:33] #2452 closed

[2019-10-04 12:35] #2292 closed

[2019-10-04 13:07] matuzalemsteles commented on #2578
Thanks @victorg1991, the examples will help, this is a limitation of our focus manager, it only deals with the React tree. Let's look for a solution to these cases.

[2019-10-04 16:25] diegonvs commented on #2577
Thanks for the contribution @interaminense :)

Just for adding a little thing that I think you may miss: Some days ago, we were searching for a good library with a high customization power and we found [Victory](https://formidable.com/open-source/victory/docs/victory-chart/). This chart library is based on React for building good charts in a very flexible way.

[2019-10-04 19:28] bryceosterhaus commented on #2577
I spent some time going through Analytics use cases for charts and talking with @kienD. Overall, I think our currently implementation of Charts works for some generic use cases but provides a lot of headache and often can feel rigid with the billboard base layer. With an increasing demand of interactivity and visualization, I think it becomes evident that we might want a more low-level and composa

[2019-10-04 21:24] kienD commented on #2577
I think @bryceosterhaus summed up the results of our conversation very well. 🔥 💯

Customizing `clay-charts` to meet the needs of AC has been a painful process for us.  I think the rigidness of `billboardjs` and the fact that it wasn't built to be used in `react` has a lot to do with the issues we have had developing with it.

If we use a composable charting library as a base for `clay-charts` and

[2019-10-04 21:47] erickakoyama commented on #2577
Just to echo what everyone else is mentioning, I think it would be great to move to some other base library that is built in React.

Coming from using a composable library recharts, it was difficult to work with Billboard because it doesn't seem to fit the SPA pattern. That was apparent with the dynamic chart transformations we've done where we need some part of the chart config like axes, type, o

[2019-10-07 08:25] victorvalle commented on #2582
Please, wait for review

[2019-10-07 08:25] victorvalle commented on #2580
Please, wait for review

[2019-10-07 10:21] jbalsas commented on #2569
(just removed the apostrophe, which makes our JIRA-sync choke... )

[2019-10-07 10:44] julien commented on #2577
I also agree with everyone that now that we're using React; we should probably use a library that integrates better with React, after all when we decided to choose Billboard.js we were using Metal.js+Soy and we also probably didn't know all the features we needed to implement. That said, it was a very good experience, because the team maintaining Billboard.js made it very easy to contribute to the

[2019-10-07 16:36] #2565 closed

[2019-10-07 17:13] bryceosterhaus opened #2592 "Dropdown menu doesn't align properly"
## Is there an example you can provide via codesandbox.com?
See https://storybook.clayui.com/?path=/story/components-claymultiselect--inputwithmultiselect-w-sourceitems

## What are the steps to reproduce?
Type "on" into the input

## What is the expected result?
Autocomplete menu should be directly below input.

This issue is related to https://github.com/liferay/clay/issues/2579, when we change

[2019-10-07 20:50] #2562 closed

[2019-10-07 23:41] #2560 closed

[2019-10-08 06:41] victorg1991 commented on #2578
I noticed that the issue is only reproducible if there are only one react focusable element

[2019-10-08 06:41] victorg1991 commented on #2578
Thanks!

[2019-10-08 06:44] victorg1991 commented on #2553
hey @matuzalemsteles I had to use the observer directly because I needed to focus one element when the modal is visible. It seems that the modal is rendered twice before it is first shown (probably due to the React portal stuff) and the only reliable way of knowing when the modal is visible is tracking the observer mutation property

Is there another way to handle this case?

[2019-10-08 13:39] matuzalemsteles commented on #2553
hey @victorg1991 no problem about that for now, you could take some approaches:

- Create the expert Modal without the `useModal` hook and without the conditional rule attached to the component and add a` useEffect` with dependency `[]` so that it runs only on that component mount, with focus logic.

[code]

Let's add `useModal` props so you can know when the Modal content really became visible. B

[2019-10-08 13:59] #2540 closed

[2019-10-08 14:35] #2581 closed

[2019-10-08 14:46] #2475 closed

[2019-10-08 14:59] matuzalemsteles commented on #2475
hey @marcoscv-work and @pat270 just a question about it, could adding this in 2.x cause some kind of regression in people who expected it to work out that way? although this is wrong in our view.

[2019-10-08 15:15] pat270 commented on #2475
@matuzalemsteles yes it can. We could revert it in 2.x if you think people are using it.

[2019-10-08 15:24] julien commented on #2165
Hey @matuzalemsteles @bryceosterhaus this is still happening to me too.

In my case I'm not really sure how easy it will be to create a demo on codesanbox because I'm using other "non" clay components, but I will try to as soon as I can, but I think you can re-open this one.

Maybe I'm understanding this incorrectly, but why would the modal close itself if you click outside?
Couldn't we add a prop

[2019-10-08 15:35] julien commented on #2165
Talking with @carloslancha he told me, this had already happened and been fixed in `2.x`, I know the code is not the same, but maybe we could check how it was done and try to fix it in the same way for `3.x`.

[2019-10-08 16:05] emiliano-cicero commented on #2582
This icon has been updated and is now reviewed. The SVG inside the Jira Ticket is ready to be included in Clay.

[2019-10-08 16:06] emiliano-cicero commented on #2580
This icon has been updated and is now reviewed. The SVG inside the Jira Ticket is ready to be included in Clay.

[2019-10-08 16:50] matuzalemsteles commented on #2165
Couldn't we add a prop to prevent this?

@julien This is expected behavior of Modal, whenever clicking outside Modal must close it. We could add a rule to disable this but you would have to deal with it.

https://github.com/liferay/clay/blob/master/packages/clay-modal/src/Hook.ts#L81-L90

We actually followed the same behavior as we did in 2.x but had to change due to not working with the cases of

[2019-10-08 17:07] matuzalemsteles commented on #2475
@pat270 I'm not sure if anyone is using it, but it's just a thought.

[2019-10-08 17:57] #2456 closed

[2019-10-09 08:31] julien commented on #2165
Yes, that's exactly what I'd like to do.

I think it might be a good to take in account all the use cases  and issues that we faced with `2.x` (whether they were fixed or not), because it could save some time. So I'm reopening this issue.

[2019-10-09 10:01] julien commented on #2165
@matuzalemsteles another thing I wanted to ask concerning [these lines](https://github.com/liferay/clay/blob/master/packages/clay-modal/src/Hook.ts#L81-L90), is it normal that we aren't checking that the event has been prevented? I guess that could solve my issue

[2019-10-09 10:04] wincent opened #2606 ""Cannot convert undefined or null to object" in LoadingIndicator docs"
The [LoadingIndicator docs](https://next.clayui.com/docs/components/loading-indicator.html) have a couple of issues.

First, down the bottom I see:

Bonus, the code uses an unnecessary React fragment:

[code]

ie. could just be

[code]

[2019-10-09 10:46] boton opened #2607 "ClayCard.Description[displayType='title'] is allways a `h3`"
Depends on the context `h3` may be the wrong heading hierarchy, I suggest a configurable tag, something generic like a `div` or a new block of headings starting with `h1`.
Maybe the `subtitle` has to follow the heading hierarchy.

[2019-10-09 14:00] matuzalemsteles commented on #2165
Yeah, I'm considering a lot of the problems we had there, but I can't reuse most cases because the library change changes a lot and as we are composing the components, other behaviors appear...

As we wanted Modal to always close when clicking off, we didn't check if the event is prevented. Can we check if this solves your case? I think it would be better than adding an API just for these cases.

[2019-10-09 14:52] matuzalemsteles commented on #2165
Sure, let's consider all the use cases and evaluate the best way to solve it... we just don't want to escape the idea of ​​being a generic component library and not bring all the problems we have in the Portal here. Some things we will have to deal with within the Portal. Otherwise it would make more sense for Clay to be inside the Portal infrastructure. Does that make sense to you?

[2019-10-09 16:03] wincent commented on #2165
I think we're in danger of straying from [our mission](https://docs.google.com/document/d/12Y5WQTkJjEKqU5TQoESZ-FrCkLI3XPnr1ouB_npCaYY/edit) here; specifically (emphasis added):

To me that makes it pretty clear that Clay should be optimized for delivery of Lexicon applications within Portal. Any more generic reusability of that is a lovely bonus, but if we focus towards being "generic" and explic

[2019-10-09 16:30] matuzalemsteles commented on #2165
Oh no, I understand perfectly 😅. EstouI just mean that the generic should support everyone, Liferay-related teams. Be DXP, Analytics Cloud... in the Liferay context.

In the context of this particular problem, it is something that we must carefully evaluate. Because Lexicon expects no more than one Modal to open on screen and expects Modal to close when it is clicked off, in the context of the Por

[2019-10-09 18:09] #2555 closed

[2019-10-10 00:06] matuzalemsteles commented on #2458
Publish #2608

[2019-10-10 00:06] #2458 closed

[2019-10-10 00:09] bryceosterhaus opened #2610 "Investigate re-adopting lerna for releasing packages"
Now that all of the clay packages have been officially released at at least 3.0.0, we should re-investigate using lerna for releases using `independent` mode.

[2019-10-10 00:54] matuzalemsteles commented on #1988
I am closing this since we only implemented for 3.x #2347.

[2019-10-10 00:54] #1988 closed

[2019-10-10 00:55] matuzalemsteles commented on #2583
I am closing this since we are not going to work on it yet, we will reopen when we reconsider.

[2019-10-10 00:55] #2583 closed

[2019-10-10 00:57] #2399 closed

[2019-10-10 00:58] #2372 closed

[2019-10-10 01:02] #2252 closed

[2019-10-10 01:11] #1512 closed

[2019-10-10 01:15] matuzalemsteles commented on #1309
I'm closing this since we already have a good definition of our workflow now. If you have any suggestions feel free to open another issue.

[2019-10-10 01:15] #1309 closed

[2019-10-10 01:19] matuzalemsteles commented on #1489
I will close this issue since we are now following SemVer from 3.x. If you have any other suggestions on this, feel free to open another issue.

[2019-10-10 01:19] #1489 closed

[2019-10-10 08:34] victorvalle opened #2613 "Please include new icon Briefcase"
Please include new icon "Briefcase"

<img width="135" alt="Screen Shot 2019-10-10 at 10 33 38 AM" src="https://user-images.githubusercontent.com/21121115/66552337-746dbe80-eb49-11e9-8abe-127a6cf5efb7.png">

Please find the .SVG file in jira ticket https://issues.liferay.com/browse/LEXI-665

[2019-10-10 08:38] victorvalle commented on #2613
This *must not* replace suitcase icon :)

[2019-10-10 22:12] #2165 closed

[2019-10-10 22:20] #2592 closed

[2019-10-10 23:02] #2573 closed

[2019-10-10 23:40] john-co opened #2618 "Toast alerts in clayui.com are not contained properly in page"
- [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?

1. Navigate to https://clayui.com/docs/components/alerts.html
2. Go to Lexicon Core Components > Alerts
3. Scroll down and assert floating toast alert messages spilling over to side nav and over each other
![Selection_010](htt

[2019-10-11 16:47] diegonvs opened #2625 "Bot for remember reviewing things in Documentation, check A11y and Refactoring for each Pull Request."
## What is your proposal?

- Add a Bot for review Documentation, A11y, and Refactoring when sending a PR.

## Why would adopting this proposal be beneficial?

- Make sure our docs are updated. Make sure about A11y checking when reviewing.

## What are the alternatives to this proposal?

- For now, Idk

[2019-10-11 18:01] diegonvs opened #2626 "Deprecate old milestone packages"
There are some deprecated packages on the NPM registry, initially, we offered these components in a reserved module but now these ones are included in another package.

Examples:
- https://www.npmjs.com/package/@clayui/checkbox (outdated since milestone.1)
- https://www.npmjs.com/package/@clayui/radio-group
- https://www.npmjs.com/package/@clayui/select

[2019-10-11 18:08] bryceosterhaus commented on #2626
This is a good idea. We can add messages like `@claui/checkbox has moved to @clayui/form@v3.0.0`

If no one sees any issue with this, I can go ahead and do this today.

[2019-10-11 18:08] diegonvs commented on #2626
On DXP side we can include here:

https://github.com/liferay/liferay-portal/blob/ec95b6f0148a8c671dd63a384adb73d5181ab7f7/modules/util/source-formatter/src/main/java/com/liferay/source/formatter/checks/JSONDeprecatedPackagesCheck.java#L62

[2019-10-11 18:09] diegonvs commented on #2626
Yes, would be good :)

[2019-10-11 18:10] bryceosterhaus commented on #2378
added example at https://github.com/liferay/clay/pull/2627

[2019-10-11 18:10] #2378 closed

[2019-10-11 18:22] diegonvs opened #2628 "Temporally adds manually API Docs for broken APIs"
There are some component APIs with this message: `No suitable component definition found.`

This error is caused because our Gatsby API Docs plugin doesn't recognize types inside "forwardRefered" components

[2019-10-11 19:12] bryceosterhaus commented on #2626
Also added https://www.npmjs.com/package/@clayui/navigation to the list. All four should now show up as deprecated.

[2019-10-11 19:12] #2626 closed

[2019-10-14 09:59] andresfulla opened #2631 "Sizes for Dropdowns"
## What is your proposal?
A bigger dropdown. A `size` prop.

## Why would adopting this proposal be beneficial?
I'm using a big dropdown _(although there's some controversy on whether that's a dropdown)_  in the Portal. It will much better and less code if I could just use ClayDropdown, but I can't because it's too narrow for all those Experiences. Screenshot 👇:
![Screenshot 2019-10-14 at 11 55 49

[2019-10-14 10:59] antonio-ortega opened #2632 "Syntax error trying to create Liferay Theme and compiling with Ruby Sass"
Hi,

When I try to create a [Liferay Theme for 7.1(Clay2.x) using Maven](https://portal.liferay.dev/docs/7-1/reference/-/knowledge_base/r/theme-template)
`https://portal.liferay.dev/docs/7-1/reference/-/knowledge_base/r/theme-template`
And [compiling with Ruby Sass](https://portal.liferay.dev/docs/7-1/tutorials/-/knowledge_base/t/compiling-sass-files-in-a-maven-project)
`<sassCompilerClassName>rub

[2019-10-14 12:45] #2582 closed

[2019-10-14 12:47] #2580 closed

[2019-10-14 16:52] bryceosterhaus commented on #2631
hmm, I'm not entirely sure dropdown makes much sense for this case since your instance is more of a modal. Dropdowns tend to have actionable item, where when you click it, the dropdown then disappears. I'm not quite sure what lexicon would say though, let me cc them since they will have a much better idea than me.

Hey @drakonux, what lexicon component(s) do you think should be used for this type

[2019-10-14 16:55] jbalsas commented on #2631
Pinging @victorvalle while @drakonux is on PTO, just in case.

I agree with @bryceosterhaus that we're looking at something different than a select/dropdown and something more around the Popover lines...

[2019-10-14 17:13] pat270 commented on #2632
Hey @antonio-ortega,

Is there a reason why Ruby Sass needs to be used? Ruby Sass is no longer maintained as of March 26, 2019 [https://sass-lang.com/ruby-sass](https://sass-lang.com/ruby-sass) and [https://github.com/sass/ruby-sass](https://github.com/sass/ruby-sass).

I also have Ruby Sass 3.7.2 on my machine and was able to compile without errors.

It's strange that changing `$container-form-lg

[2019-10-14 17:47] pat270 commented on #2631
This Bootstrap's JS dropdown plugin works the same way unless the element is wrapped in a `form` element or `stopPropagation` is used. I think implementing this makes sense since the markup is difficult to change in our components. I can add some modifiers for `dropdown-menu` to make it specific widths. I don't think I could accomplish making it fluid to a specific container since we place the `dr

[2019-10-14 18:05] pat270 commented on #2613
Master: https://github.com/liferay/clay/pull/2623
2.x: https://github.com/liferay/clay/pull/2624

[2019-10-14 18:05] #2613 closed

[2019-10-15 06:27] victorvalle commented on #2631
We can use the dropdown button. We use a similar approach in the management toolbar for the filters.

[2019-10-15 07:34] andresfulla commented on #2631
Yeah, I agree. But still it has selectable items and it visually _drops down the button_. I've been looking on the Internet for some time, and couldn't find anything similar. Estrange animal we built here.

[2019-10-15 08:11] antonio-ortega commented on #2632
Hi @pat270 ,

I'm aware about the risks of using Ruby Sass, but it is an available option for Liferay customers and some of them decide to use it. It's like using IE11, I would't use it, but the option is available for customers.

My apologies because I wrote the issue's description in a rush and maybe it's not clear enough. Using map-merge instead of map-deep-merge only solves Error 2. I meant th

[2019-10-15 09:04] mkampmey commented on #2632
I want to add that this error did not occur last week. Apparently some third party dependency was updated during the last couple of days. For example I also cannot build the gradle themes from the liferay-blade-samples github project (on 7.1 branch). Somehow Ruby Sass is automatically picked if you do not specify anything. If I add the line `cssBuilder group: "com.liferay", name: "com.liferay.css.

[2019-10-15 09:27] antonio-ortega commented on #2632
[LPS-103051](https://issues.liferay.com/browse/LPS-103051) introduced the behavior reported by @mkampmey and [LPS-103169](https://issues.liferay.com/browse/LPS-103169) has been created to fix it.

[2019-10-15 14:45] jbalsas opened #2636 "Allow disabling ClayColorPicker"
There's currently **no way to disable the ColorPicker component**. Both the splotch and the input remain enabled at all times.

We have an existing **use case** where **a toggle controls if some color pickers should be enabled** or not and I'm sure there are other such cases. In general form-like components are all nice "disableable" candidates.

As it is right now, we could get away with simply b

[2019-10-15 15:50] wincent commented on #2636
To provide some context here: what the old (non-React) implementation is doing is a `document.querySelectorAll` to find elements in the DOM and mutating them directly. In React we'd obviously just control the disable/enabled state via props — reading/writing to/from the DOM breaks the encapsulation provided by the abstraction of components.

[2019-10-15 18:03] bryceosterhaus commented on #2631
@victorg1991 just for clarification, how would we distinguish when to use popover vs a dropdown? Is popover just for content you don't interact with?

[2019-10-16 16:34] #2564 closed

[2019-10-16 16:35] #2563 closed

[2019-10-16 16:36] #2556 closed

[2019-10-16 17:51] #2558 closed

[2019-10-16 21:50] thektan opened #2640 "ClayTooltipProvider doesn't work with nested elements"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?

https://codesandbox.io/embed/clay-tooltip-with-icon-6pdzo

## What are the steps to reproduce?

ClayTooltipProvider seems to only work if you're wrapping a single-level element like `<span title="tool

[2019-10-16 22:24] thektan commented on #2640
Actually this works (which is my current use case for it):

[code]

Not sure why locally, but I had multiple clay icons I was testing out and after hovering over a broken one (written like `<span title="test"><ClayIcon ... /></span>```), the icon I had in the snippet above wouldn't appear.

No use case to fix this bug yet, but I still believe it's a bug if you want a tooltip around a compound elem

[2019-10-16 23:18] thektan commented on #2640
Well this is strange...I can't seem to get spritemaps to load in the codesandbox, but here's the behavior I'm seeing with using `<ClayTooltipProvider><ClayIcon></ClayTooltipProvider>`.

![Kapture 2019-10-16 at 16 16 11](https://user-images.githubusercontent.com/4496722/66966005-8e6b3d80-f030-11e9-864b-07887a93238a.gif)

[2019-10-17 13:30] matuzalemsteles commented on #2640
Hmm, thanks @thektan. This has to do with the internal use of `onMouseOut` and` onMouseOver` since we use it to show and hidden Tooltip over the active element, so it tracks any nested element.

@bryceosterhaus we can use an approach to cover these cases, one strategy would be to add `pointer-events: none` over the child elements of the `title` element, that would be a little difficult to do or we

[2019-10-17 16:17] bryceosterhaus commented on #2640
@matuzalemsteles I think the `pointer-events: none` is particularly used for svg elements. I remember running into that with Loop and Faro as well. As far as the nested elements though, we probably should think of a way to resolve that issue since it seems like a necessary feature. I can take a look at it next week.

[2019-10-17 16:17] bryceosterhaus commented on #2640
Or probably tomorrow actually. I thought today was Friday lol

[2019-10-17 16:19] #2636 closed

[2019-10-17 17:25] thektan commented on #2640
Thanks! I'll add the following css for now which fixes it (I'll scope to the icon itself):

[code]

[2019-10-17 18:21] #2569 closed

[2019-10-17 19:09] matuzalemsteles opened #2642 "Changing ClayIcon Symbol Inside Portal Causes Problems"
DXP uses `svg4everybody` to avoid **cors** issues with external links, it makes an Ajax request and replaces `svg:use`.

Since we have ClayIcon in React, changing the `symbol` inside DXP causes it not to be changed because React reuses node to make changes. This only works the first time.

[2019-10-17 19:28] matuzalemsteles opened #2644 "Pass the otherProps from the ColorPicker component to Input"
This is a case for the Data Engine team that is using the Color Picker component for the new Forms fields. They need to know when the focus and blur of the Color Picker input was done.

It may be more useful to pass `...otherProps` to Input as it will be visible when `useNative` is true.

[2019-10-18 01:42] #2644 closed

[2019-10-18 16:52] oliv-yu commented on #2578
Thanks for filing this! I think I have a related issue with list items and ClayDropdown, thought I'd add it to this thread:

1. Make a list group with several items
2. Give the 'list-group-item' a tabIndex of '0'
3. Add a ClayDropdown inside the list item
4. Try to tab through the list items

Relevant sandbox: https://codesandbox.io/embed/withered-frost-zkblh

@thektan

[2019-10-18 17:19] #2642 closed

[2019-10-18 19:40] matuzalemsteles commented on #2578
Hmm, This is an interesting case. Thanks for bringing this @oliv-yu, I will review this next week and bring more information.

[2019-10-18 19:55] drewbrokke opened #2647 "`DropDownWithItems` does not support the `alignmentPosition` attribute"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?

## What are the steps to reproduce?
Create a `DropDownWithItems` and give it the attribute `alignmentPosition={Align.BottomRight}`.

## What is the expected result?
The resulting dropdown will be alig

[2019-10-19 00:30] #2566 closed

[2019-10-21 00:08] mfreeman-xtivia opened #2648 "Available in DXP?"
#2060  What is your question?

Is there a version of Clay that is provided with DXP 7.2?

If yes, is there anything special we need to do in order to use it there?

[2019-10-21 08:55] jbalsas commented on #2648
Hey @mfreeman-xtivia, we do bundle a specific version of Clay (both 2.x and 3.x) in DXP 7.2. Could you detail your use case a bit more? What are you looking to use and where? Having a bit more context should help us give you a better answer :)

[2019-10-21 12:25] mfreeman-xtivia commented on #2648
I wanted to experiment with using the Clay web components in portlets and didnt know if they came already available OOB with DXP.

Should i use v3 or v2 for that? Does it make a difference?

[2019-10-21 12:40] wincent commented on #2648
The choice depends on the technology (React or Metal/Soy).

The user-visible behavior of both versions is expected to be close to identical (seeing as both versions exist to implement the Lexicon Design system, and any discrepancies are technically bugs), but the implementations are completely different because v3 is a from-scratch rewrite in React. [This migration guide](https://next.clayui.com/d

[2019-10-21 12:44] mfreeman-xtivia commented on #2648
So I am poking at what would be a compelling reason to use v2?

The React/Soy isnt a huge decider in this greenfield case and i would seem like v3 is where its headed long term, so wouldn't v3 be the natural choice?

[2019-10-21 13:56] matuzalemsteles opened #2649 "[ColorPicker] Trying to change Hue sometimes is not possible"
![](http://g.recordit.co/OAmGQjKW4l.gif)

## What are the steps to reproduce?

This is most apparent when the console is opened, in DXP this is most noticeable even when the console is not opened.

1. Enter in https://storybook.clayui.com/?path=/story/components-claycolorpicker--custom-colors
2. Open Browser Console
3. Try changing the hue

## What is the expected result?

Be able to change the hu

[2019-10-21 17:55] matuzalemsteles opened #2653 "Officially release Clay 3.0.0"
Finally we come to the official Clay 3.0.0 release announcement, to complete this work we need to do a few things:

- [x] Open an LRIT to create the `v2.clayui.com` domain for github and move the `clayui.com` domain to netlify (https://issues.liferay.com/browse/LRIT-15793 is private)
- [x] Host the current `clayui.com` on `v2.clayui.com`
- [x] Host the current `next.clayui.com` on `clayui.com`
- [

[2019-10-21 19:49] #2607 closed

[2019-10-21 19:50] #2649 closed

[2019-10-22 07:14] eduardoallegrini opened #2654 "[clayui.com] Make the second tab (CSS/Markup) of the components linkable"
Make the second tab (CSS/Markup) of the components linkable

![image](https://user-images.githubusercontent.com/46778114/67264574-c567a600-f4ab-11e9-95b9-bd5ace508745.png)

At the moment I can not link a CSS/Markup page

[2019-10-22 08:10] eduardoallegrini opened #2655 "[ClayComponents] Deprecate the .sheet-lg variation"
I think we could remove the `.sheet-lg` variation from the components and the examples.
https://clayui.com/docs/components/forms/css-forms-hierarchy.html

We can achieve the same result using the right structure (container, row, col)

Here's an example: https://codepen.io/eduardoallegrini/pen/JjjKgZz

Furthermore the specification from Lexicon seems to say the same

Lexicon Website: https://lifera

[2019-10-22 08:12] eduardoallegrini commented on #2655
/cc @pat270 @marcoscv-work @drakonux

[2019-10-22 08:17] antonio-ortega commented on #2632
Hi @pat270 ,

Although the second error I reported here has been fixed in Liferay by [LPS-10369](https://issues.liferay.com/browse/LPS-103169), I still can see the first error coming from [_root.scss](https://github.com/liferay/clay/blob/2.x/packages/clay-css/src/scss/bootstrap/_root.scss) file.

As far as I've been able to see this is a common issue when trying to compile bootstrap dependencies u

[2019-10-22 16:00] diegonvs opened #2660 "CheckboxWithGroup makes sense?"
Would be a good a idea add a high-level component called `CheckboxWithGroup` that we can return the selected checkboxes on a custom event(e.g `onChange`)?

[2019-10-22 16:30] pat270 commented on #2655
@eduardoallegrini we can remove it. I remember seeing something about it being a specific width in large screens, but I don't see that anymore. We should probably deprecate in 3.x tho.

[2019-10-22 16:44] pat270 commented on #2632
@antonio-ortega It's ok we can keep it under this issue. The Ruby Sass version will be updated once [LPS-103169](https://issues.liferay.com/browse/LPS-103169) is complete and the `_root.scss` issue should go away. If for whatever reason you need a fix in Clay CSS, I can modify Bootstrap source.

[2019-10-22 17:03] matuzalemsteles commented on #2655
hey guys, as it is releasing Clay v3, I would suggest adding a warning info and then removing it completely in v4...

[2019-10-22 17:31] diegonvs commented on #2660
After some internal conversations, we(me and @matuzalemsteles) decided to create a component like `ClayRadioGroup` for wrapping `ClayCheckbox` components with a internal state for handling value changes inside wrapped checkboxes:

[code]

[2019-10-22 17:32] diegonvs commented on #2660
/cc @brunofarache :)

[2019-10-23 17:41] #2647 closed

[2019-10-23 17:46] #2610 closed

[2019-10-23 17:57] bryceosterhaus commented on #2660
hmm, im not really sure about this. The reason we have a RadioGroup is because the components are directly related to one another and the parent controls which is selected, you should only have one radio selected. For the case of checkboxes, I dont think it makes sense to have a parent controlling and listening to the values of the checkboxes since all boxes can be checked with no issue,

[2019-10-23 20:01] jbalsas commented on #2648
Hey @mfreeman-xtivia, yeah, if you're starting fresh, v3 sounds like a more reasonable way to go. That is, if you want to use Clay (which by no means are you forced to do).

The biggest difference between v2 and v3 (technology aside) is that v2 (Soy) has support for SSR whereas v3 (React) does not. If SSR is not a strong requirement, then again, v3 sounds like a better choice.

We're extensively u

[2019-10-23 20:03] mfreeman-xtivia commented on #2648
Cool. Sounds great would love to use v3 then I think.

If you could give me **_any_** kind of pointer to current use cases, be they docs or even just samples, I can probably deduce/derive whatever I need from that

[2019-10-28 10:05] eduardoallegrini commented on #2655
Just to remind an issue highlighted by @victorvalle was that "we have to update all the usages of `.sheet-lg` in Portal"

But it doesn't seem a problem
![image](https://user-images.githubusercontent.com/46778114/67669723-c0569b00-f972-11e9-87ac-b28c3cee9f6b.png)

[2019-10-28 14:05] matuzalemsteles opened #2665 "New release of Clay 3.0.1 and 3.1.0"
These are some important fixes that will go into this release of 3.0.1 and 3.1.0, as we have independent release. There are still other packages that will receive a patch release with the dependency update.

#### `@clayui/autocomplete`/ 3.0.1
- fix: ref callbacks are first calling with null. (#2609)

#### `@clayui/color-picker`/ 3.1.0
- fix(@clayui/drop-down): fixes DropDown.Menu component error b

[2019-10-28 16:11] boton opened #2666 "Add processed colors in globals"
## What is your proposal?
Add processed values to scss colors in atlas variables, like [font size](https://github.com/liferay/clay/blob/master/packages/clay-css/src/scss/atlas/variables/_globals.scss#L35).

Example:
[code]

## Why would adopting this proposal be beneficial?
Select the correct color defined in Figma o choose another one closet.

## What are the alternatives to this proposal?
[This]

[2019-10-28 16:43] marcoscv-work commented on #2666
I think is great idea, sometimes we have created a new variable because we don't know it currently exists in clay, so it can improve the color search process

[2019-10-28 16:53] #2640 closed

[2019-10-28 17:10] pat270 commented on #2666
@boton not sure what you are asking. You want a Sass comment with the hex color value next to the variables in https://github.com/liferay/clay/blob/master/packages/clay-css/src/scss/atlas/variables/_globals.scss? It should be no problem to add that.

In the mean time, I also have http://pat270.github.io/lexicon/v2.16.2/content/colors/. I think it's easier to copy paste from there.

[2019-10-28 17:27] matuzalemsteles commented on #2666
hey @pat270 we should even migrate this page to clayui.com 😁

[2019-10-28 17:35] pat270 commented on #2666
@matuzalemsteles we can do that. I want to migrate most things from the test site.

[2019-10-28 17:43] matuzalemsteles commented on #2666
@pat270 That would be great, if you make a list of what you think you still have to move, I can help you with that.

[2019-10-28 21:04] bryceosterhaus commented on #2653
Just posted the loop announcement, I think this can be closed

[2019-10-28 21:06] #2653 closed

[2019-10-28 21:55] matuzalemsteles commented on #2665
Release done!

[2019-10-28 21:55] #2665 closed

[2019-10-29 12:49] boton commented on #2666
I just want that.

I miss the `#hexval` near to the calc code, but http://pat270.github.io/lexicon/v2.16.2/content/colors/ is awesome too.

[2019-10-29 14:32] jbalsas commented on #2666
Hey @boton, please avoid using that reference!

@matuzalemsteles, @diegonvs, please work with @pat270 to migrate all content that we want to expose as official to the official site and avoid keeping these "unofficial" ones to avoid dispersing the channels.

Also, let's try to provide code solutions and void copy-pasting approaches. It is impossible to track down usages after a while and re-sync wh

[2019-10-29 20:04] jbalsas opened #2667 ""Cannot convert undefined or null to object" in Icon docs"
In https://clayui.com/docs/components/icon.html, the API section shows the aforementioned error:

[2019-10-29 21:38] bryceosterhaus commented on #2667
duplicate to https://github.com/liferay/clay/issues/2606

I am currently looking into this

[2019-10-29 22:37] kienD opened #2669 "[ClayComponents] Add forwardRef to ClayTable component"
## What is your proposal?
Add a `forwardRef` to the `ClayTable` component, more specifically, to `ClayTable.Row`.

## Why would adopting this proposal be beneficial?
We're trying to add drag and drop support to table rows but are unable to add the ref required for `react-dnd`.

[2019-10-30 14:42] matuzalemsteles opened #2670 "Add Slider/Range Documentation"
clayui.com still lacks the React Slider component documentation and the HTML/CSS markup.

[2019-10-30 15:24] matuzalemsteles opened #2671 "[New] DropDown with DrillDown Support Component"
Lexicon covers the case of nested DropDowns using DrillDown, we should consider whether we will need to build a new component to cover just this case or if we can adapt DropDown's low-level components to support this case.

Ticket: https://issues.liferay.com/browse/LEXI-377
CSS/Markup: http://pat270.github.io/lexicon/v2.16.2/content/dropdowns-drill-down/ *

*Once we have an implementation of this

[2019-10-31 00:00] brunofarache commented on #2669
We needed for the root ClayTable component and ended up wrapping in a div that had a ref. It was for drag and drop too, but in our case ClayTable as a whole was the drop zone.

[2019-10-31 09:29] jbalsas opened #2674 "Impossible to style Menu in DropdownWithItems"
In the current implementation, it's not possible to pass down a `className` or some identifier to the generated `Menu` of a `DropdownWithItems`.

This means that an application attempting to target the `dropdown-menu` element for additional styling doesn't really have a way to do so.

This has come up in the context of https://issues.liferay.com/browse/LPS-103362 where the expectation is that the

[2019-10-31 09:34] jbalsas opened #2675 "Calculation of hasSymbolsRight/Left doesn't work with "group" items"
Given the following "items" payload:

[code]

Our current logic for detecting the existance of icons will fail because it won't find it in the top-level `group` item.

While we're on it, I think we might want to deprecate the `symbolLeft` and `symbolRight` props in favour of `symbolStart` and `symbolEnd` to better prepare for RTL

[2019-10-31 13:31] #2578 closed

[2019-10-31 16:30] diegonvs opened #2676 "Display component CHANGELOG on own page"
Considering we're having independent releases, it's a good idea automate component's CHANGELOG informations on own component doc.

[2019-10-31 22:02] #2674 closed

[2019-11-01 00:49] #2675 closed

[2019-11-01 17:33] matuzalemsteles opened #2679 "DataProvider: enable and disable `pollInterval`"

[2019-11-04 09:55] laugardie opened #2683 "Please include new icons: import and import-list"
Please include these new icons:
import-list
![import-list](https://user-images.githubusercontent.com/56547676/68112263-42097400-fef1-11e9-8f99-07cbcdae825b.png)
import
![import](https://user-images.githubusercontent.com/56547676/68112266-433aa100-fef1-11e9-82bd-b59fc7c94213.png)

Find the .SVG in the [jira ticket LEXI-718](https://issues.liferay.com/browse/LEXI-718)

[2019-11-04 11:53] drakonux opened #2684 "Multistep: the width for each step label should be proportional"
Hi Team, we received several weeks ago a ticket from Commerce Team (read [LEXI-696](https://issues.liferay.com/browse/LEXI-696)). They are complaining that the Step label has a max-width defined.

We would like to know more about the implementation of the component because it doesn't follow the definition made and probably it was based on a technical decision.

![Definition](https://user-images.gi

[2019-11-04 13:54] matuzalemsteles commented on #2684
hey @pat270 maybe we have some problem with CSS, so I figured it would be a little tricky to center text as it is but I can't see the text being truncated.

[2019-11-04 14:18] matuzalemsteles opened #2685 "MultiSelect should allow you to customize DropDown items."
ClayMultiSelect must allow you to customize DropDown content to adhere to Lexicon extension points.

[2019-11-04 14:23] jbalsas opened #2686 "Dropdowns don't hide on keyboard interaction"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?

In our own [Dropdown Quick Start codesanbox example](https://codesandbox.io/s/quick-start-clay-finale-23xtz?from-embed): https://23xtz.csb.app/

## What are the steps to reproduce?

1. Tab with the ke

[2019-11-04 14:56] drakonux opened #2687 "Does Clay support a read-only input with success state?"
## Does Clay support a read-only input with success state?

**Context**
Working on #2144 we talked about read-only states for input boxes and we found that read-only inputs should support success states (see [W3C Forms: Ready Only Inputs](https://www.w3.org/TR/html401/interact/forms.html#h-17.12.2))

Lexicon have solved that requirement with [LEXI-636](https://issues.liferay.com/browse/LEXI-636)

[2019-11-04 15:24] laugardie opened #2688 "Include new icons: order-arrow-left and order-arrow-right"
Please include these new icons. Find the .SVG in the [jira ticket LEXI-717](https://issues.liferay.com/browse/LEXI-717)
![order-arrow-right](https://user-images.githubusercontent.com/56547676/68132628-4f3d5780-ff1f-11e9-8857-3856414c9d58.png)
![order-arrow-left](https://user-images.githubusercontent.com/56547676/68132629-4f3d5780-ff1f-11e9-8d43-9e28457229e7.png)

[2019-11-04 15:41] laugardie opened #2689 "Include new icon: truck"
Please include this new icon. Find the .SVG in [LEXI-721](https://issues.liferay.com/browse/LEXI-721)
<img width="72" alt="truck" src="https://user-images.githubusercontent.com/56547676/68134024-c5db5480-ff21-11e9-974b-cbe9b942b7ae.png">

[2019-11-04 15:51] laugardie opened #2690 "Include new icons: heart-full"
Please include this new icon. Find the .SVG in the [jira ticket LEXI-722](https://issues.liferay.com/browse/LEXI-722)
![image-2019-11-04-14-18-35-280](https://user-images.githubusercontent.com/56547676/68134948-261ec600-ff23-11e9-8eae-b102d29f5a56.png)

[2019-11-04 15:54] laugardie opened #2691 "Include new icons: times-circle-full and times-small"
Please include these new icons. Find .SVG in the [jira ticket LEXI-724](https://issues.liferay.com/browse/LEXI-724)
![image-2019-11-04-12-10-14-510](https://user-images.githubusercontent.com/56547676/68135226-9decf080-ff23-11e9-9ca6-3d3b72178bc0.png)
![image-2019-11-04-12-10-54-770](https://user-images.githubusercontent.com/56547676/68135229-9e858700-ff23-11e9-9e73-a5baa7f77271.png)

[2019-11-04 15:58] laugardie opened #2692 "Include and replace new icon: times"
Please include and replace this new icon. Find the .SVG in the [jira ticket LEXI-725](https://issues.liferay.com/browse/LEXI-725)
![image-2019-11-04-14-09-17-761](https://user-images.githubusercontent.com/56547676/68135669-531fa880-ff24-11e9-8c8c-4b443feeeaed.png)

[2019-11-04 17:15] pat270 commented on #2684
@drakonux @matuzalemsteles
Unfortunately, I'm unable to change the way the text displays based on length solely using CSS. When I was creating this component I brought up the possibility of long text inside this component with lots of steps and was told we would only use Steps. The `max-width` is my safe guard for overlapping text in smaller screens. The idea behind this is that if someone wanted

[2019-11-04 17:21] pat270 commented on #2687
<img width="950" alt="readonly-validation" src="https://user-images.githubusercontent.com/788266/68142483-601ca780-fee4-11e9-8a5d-e5e4facdc41b.png">
@drakonux is what readonly looks like in Clay CSS right now. There was no definition when I styled it.

[2019-11-05 10:00] jbalsas opened #2694 "ClayForm does not accept a ref"
## What is your proposal?

Add a forwardRef to `ClayForm` so one can get a ref to the DOM form element

## Why would adopting this proposal be beneficial?

For better or for worse, using the form element (forcing a submit) is a common enough approach that could be supported

## What are the alternatives to this proposal?

Use standard `<form>` when one needs to get a ref to it

[2019-11-05 10:02] drakonux commented on #2684
Thanks, @pat270 I agree with your decision because we are not forcing to have that `max-width` and that's the flexibility we aim for.

It's all said, isn't it? if they can change the value...

Thanks everyone!

P.S. I have to say that I'm quite surprised by the definition document I'm reviewing. Because if we had those problems you said Patrick, why the current definition is in that direction? 🤔I

[2019-11-05 10:29] drakonux commented on #2687
Ei sorry @pat270 my question was more related with the new read-only style #2425 we requested for 3.0.

I was asking if we currently support in 3.0 the success case with read-only or if else to create a new proposal in Clay.

[2019-11-05 14:20] laugardie opened #2695 "Include new icons: social-instagram and social-vimeo"
Please add these new icons. Find .SVG in [LEXI-723](https://issues.liferay.com/browse/LEXI-723)
<img width="67" alt="Captura de pantalla 2019-11-05 a las 9 43 25" src="https://user-images.githubusercontent.com/56547676/68215278-3f854800-ffdf-11e9-8714-d76a97dc4dae.png">
<img width="64" alt="Captura de pantalla 2019-11-05 a las 15 18 20" src="https://user-images.githubusercontent.com/56547676/68215

[2019-11-05 15:53] laugardie opened #2697 "Twitter icon does not have same way of naming as other Social Icons"
Working on [LEXI-723](https://issues.liferay.com/browse/LEXI-723) to create 2 new social icons for Vimeo and Instagram, we have observed that Twitter icon is named differently from other social icons.
For example:
**Facebook**: social-facebook
**Linkedin**: social-linkedin
But **Twitter** ID is: twitter

Would it be possible to change Twitter's ID to social-twitter so that all social icons have th

[2019-11-05 16:34] pat270 commented on #2697
@laugardie yes we can change it. I will deprecate `twitter` and add `social-twitter`.

[2019-11-05 16:46] pat270 commented on #2684
Closing this, feel free to reopen if something needs to be updated.

[2019-11-05 16:46] #2684 closed

[2019-11-05 17:51] #2686 closed

[2019-11-05 20:33] #2670 closed

[2019-11-06 16:55] pat270 commented on #2687
@drakonux I'm guessing we don't but someone else on the team might be able to confirm.

[2019-11-06 17:10] matuzalemsteles commented on #2687
hey @pat270 @drakonux We support the new read-only style in 3.0 but not the read-only with success case.

[2019-11-06 18:36] pat270 commented on #2666
@jbalsas so am I not adding
[code]
to `atlas/variables/_globals.scss`? Can we close this if so?

[2019-11-06 18:49] drakonux commented on #2666
@jbalsas yes yes, I was expecting a clear proposal from Clay side about this.

We are here to help you and provide the information in the most usable form for you. So create a request in LEXI with your needs and we will study it.

[2019-11-06 19:27] drakonux opened #2715 "Read-only input with success state"
## Proposal
Create a new style for success case in read-only states for input boxes.

![image](https://user-images.githubusercontent.com/21216422/68330644-e4814d00-00d3-11ea-8841-9436ac55ac6a.png)
## Benefits
We will be complying a [W3 recommendation](https://www.w3.org/TR/html401/interact/forms.html#h-17.12.2) for HTML 4.

## Lexicon definition
Please follow [LEXI-636](https://issues.liferay.com/

[2019-11-06 19:29] drakonux commented on #2687
Thanks!!! @matuzalemsteles

I've created a new proposal for that --> https://github.com/liferay/clay/issues/2715
Closing the ticket. Thanks everyone!

[2019-11-06 19:29] #2687 closed

[2019-11-06 19:31] drakonux commented on #2715
😮 I didn't add the rfc label on purpose... ¿?

[2019-11-06 21:04] bryceosterhaus opened #2716 "Docs API tables only work for default exports"
Currently our API generation only works for default exports. We should update our plugin to allow for named exports, as well as namespaced components(`<Foo.Bar />`).

Possibly thinking we could do...

Default:
`[APITable "clay-foo/src/Foo.tsx"]`

Named:
`[APITable "clay-foo/src/Foo.tsx#Bar"]`

Namespaced:
`[APITable "clay-foo/src/Foo.tsx(Bar)"]`

Not sold on the examples, but something like that w

[2019-11-06 21:11] #2694 closed

[2019-11-07 09:05] wincent commented on #2715
@drakonux: for future reference, if you want to avoid the "rfc" label being applied to things that aren't actually RFCs, you can go straight to: https://github.com/liferay/clay/issues/new (as opposed to https://github.com/liferay/clay/issues/new/choose which is where the "New issue" button takes you).

[2019-11-07 10:35] boton commented on #2666
I want a way to link the names of Figma with our SCSS var, maybe the

[code]

isn't ideal but is something.

[2019-11-07 13:46] #2685 closed

[2019-11-07 13:49] #2697 closed

[2019-11-07 13:49] #2695 closed

[2019-11-07 13:56] matuzalemsteles commented on #2692
Fixed #2703

[2019-11-07 13:56] #2692 closed

[2019-11-07 14:01] #2690 closed

[2019-11-07 14:04] #2689 closed

[2019-11-07 14:06] #2688 closed

[2019-11-07 14:12] #2683 closed

[2019-11-07 14:18] jbalsas commented on #2666
So, wouldn't it be best if we label colours in our figma designs with the `primary-d1` key so you don't have to go looking for a hex code?

[2019-11-07 17:28] #2691 closed

[2019-11-07 21:46] #2679 closed

[2019-11-08 09:29] boton commented on #2666
YES

[2019-11-08 14:12] matuzalemsteles opened #2719 "Improves component Data Provider polling engine"
@julien brought some interesting insights we can explore to make our Data Provider polling engine smarter. See https://github.com/liferay/clay/pull/2680#issuecomment-549809648

We can remove the use of `setTimeout` to use `requestAnimationFrame`, so we would have to create some scheduler implementation to work as expected.

[2019-11-09 01:42] thektan opened #2722 "Clay Dropdown is misaligned in a modal after scrolling"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?
https://codesandbox.io/s/great-fog-qjhu7

## What are the steps to reproduce?
Scroll down, open the modal, and open the dropdown.

You might have to adjust the filler to scroll less to see the misalign

[2019-11-09 19:41] matuzalemsteles opened #2723 "DataProvider: Add feature for dependent fetching"
REST APIs It is very common for you to have fetch queries dependent on other fecthing, we can implement the dependent fetching feature in `useResource`.

The implementation of this should be very smooth and not necessarily an API that enables this feature.
[code]

The challenge of this is that `contributors.id` will cause a `throw error` before it even reaches `useResource`, one approach would be

[2019-11-11 15:18] drakonux opened #2724 "Include new icon: document-pending"
Please include this new icon. Find the .SVG in the jira ticket [LEXI-720](https://issues.liferay.com/browse/LEXI-720)

![pending-order](https://user-images.githubusercontent.com/21216422/68598320-dac66380-049e-11ea-9f6d-12ce1017e9e5.png)

[2019-11-12 01:11] #2716 closed

[2019-11-12 08:57] drakonux commented on #2425
Hi guys, I noticed that the image within this thread is outdated. In the LEXI ticket was ok. Sorry because we didn't keep you posted.

![read-only-input](https://user-images.githubusercontent.com/21216422/68656693-97b5d000-0532-11ea-8049-9d027954619b.png)

There was some mistakes with the focus. Could you check the implementation? 🙏

[2019-11-12 09:11] drakonux commented on #2666
Emiliano did a proposal weeks ago related to this: [LEXI-705](https://issues.liferay.com/browse/LEXI-705)

We agree. What do you think? We will schedule the ticket for this sprint.

[2019-11-12 09:20] jbalsas commented on #2666
Sounds good to me! 👍

[2019-11-12 09:32] eduardoallegrini opened #2725 "[ClayCss] Create useful utility classes without the important attribute"
## What is my proposal?

I think we should recreate some of the utility classes already created in Bootstrap without the `!important` attribute in order to avoid specificity issues

I'm talking about the most common and useful ones: spacing utilities (i.e. margins and paddings, we can add more in the future)

The ideal process would be to not load the Bootstrap spacing utilities and create our own

[2019-11-12 14:25] boton commented on #2666
My teammate Emiliano is awesome

[2019-11-12 15:22] drakonux commented on #2666
LEXI ticket finished 😉

[2019-11-12 15:28] pat270 commented on #2725
@eduardoallegrini
Not a good idea for 3.x, removing the `!important` flag in Bootstrap's utilities will cause spacing issues for people already using it that need the specificity.

The second method would be better for backward compatibility, but how do you plan to resolve specificity issues?
[code]
The code above should render `padding-top` on `container` to be `3rem` but because of specificity `

[2019-11-12 16:28] drakonux opened #2726 "Clay: Replace color values"
## Proposal
Change the current values of the following colors in Clay with the [secondary colors ](https://liferay.design/lexicon/core-components/charts/chart-color-palette/) defined by Lexicon:

$blue: `#0B5FFF` ----------> `#4B9BFF`
$indigo: `#6610F2`  -------> `#6610F2`
$purple: `#6F42C1`  -------> `#AF78FF`
$pink: `#E83E8C` ---------> `#FF73C3`
$red: `#DA1414`-----------> `#FF5F5F`
$orange: `#

[2019-11-13 09:15] eduardoallegrini commented on #2725
For the first solution, the thing is they shouldn't be using those classes inside the portal, since all the widgets and components should be customizable with a theme or a custom css. So in my opinion this could be good "breaking-change" to discover and fix where it's necessary.

For the second solution, your example would be the new expected behavior. If you need to customize a certain component

[2019-11-13 16:00] marcoscv-work commented on #2725
In CSS everything can be overwritten without apparent sense. If we create our custom classes they would be for our purposes so we can define under what rules they should be used, it could be easy, for example:

- Use `c-` helpers to assign new margins/paddings when the component does not define them.
- If you need to contradict/overwrite component styles (about margin/padding) you must create a mo

[2019-11-14 18:45] bryceosterhaus commented on #2667
Should be fixed

[2019-11-14 18:45] #2667 closed

[2019-11-14 18:46] bryceosterhaus commented on #2606
fixed by https://github.com/liferay/clay/pull/2700

[2019-11-14 18:46] #2606 closed

[2019-11-14 20:34] bryceosterhaus commented on #2554
Going to just continue with #2567

[2019-11-14 20:34] #2554 closed

[2019-11-15 10:50] laugardie opened #2727 "Include this new icon: liferay-ac"
Please include this new icon. Find the .SVG in [LEXI-701](https://issues.liferay.com/browse/LEXI-701)
<img width="45" alt="Screenshot 2019-11-15 at 11 42 27" src="https://user-images.githubusercontent.com/56547676/68938134-064a9600-079e-11ea-9c97-d6039c33a937.png">

[2019-11-15 17:01] pat270 commented on #2725
@eduardoallegrini We also need to think about others custom implementations using Clay CSS, where specificity matters. I don't agree with removing `!important` as a good change. I'm willing to go with option 2 and add more utilities as needed.

[2019-11-15 17:05] pat270 commented on #2726
Changing the color values outright would be a breaking change. I think we can work something out where we can have both.

[2019-11-15 17:10] pat270 commented on #2655
@eduardoallegrini I'm going to deprecate `sheet-lg` in 2.x and 3.x. You guys can decide whether to remove it in Portal.

[2019-11-15 18:24] pat270 commented on #2666
I'm closing this feel free to reopen if something needs to be done.

[2019-11-15 18:24] #2666 closed

[2019-11-18 08:59] eduardoallegrini opened #2734 "[ClayWebsite] Import useful pages from http://pat270.github.io/lexicon/"
## What is my proposal?
Import the useful pages/information from (@pat270's private website)[http://pat270.github.io/lexicon/] into Clay Website

## Why would adopting this proposal be beneficial?
There are a lot useful information in the pages that the developers can use

[2019-11-19 17:48] diegonvs opened #2738 "ClayPopover `show` property is not working"
-   [ x ] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?

https://github.com/liferay/clay/pull/2737

## What are the steps to reproduce?

Set the property `show` of ClayPopover component to `false`.

## What is the expected result?

ClayPopover don't be sh

[2019-11-19 17:52] diegonvs commented on #2734
Hey @eduardoallegrini, we creating CSS docs in mid 19' we took as a base documentation Pat's website. Which documentation is missing? Could you detail more? :)

[2019-11-20 11:11] laugardie opened #2739 "Include new icons: catalog and credit-card"
Please, include these two new icons:
**credit-card**: Find .SVG in [LEXI-747](https://issues.liferay.com/browse/LEXI-747)
**catalog**: Find .SVG in [LEXI-748](https://issues.liferay.com/browse/LEXI-748)
<img width="234" alt="Screenshot 2019-11-20 at 12 08 13" src="https://user-images.githubusercontent.com/56547676/69234060-75edc600-0b8e-11ea-8710-289a17599d5c.png">

[2019-11-20 12:32] matuzalemsteles commented on #2738
Hey @pat270 can you tell if we have a `show` modifier class for this case in css?

[2019-11-20 14:35] drakonux commented on #2726
Ei @pat270 could you explain to me more details of why this would be this a breaking change? (maybe it's a silly question sorry 🙏)

![image](https://user-images.githubusercontent.com/21216422/69247532-cecb5780-0baa-11ea-8da0-f900322a9f41.png)

What options do we have?

From my point of view, Clay should be as close as possible with the definition made by Lexicon. So, keeping the default value for

[2019-11-20 15:07] eduardoallegrini commented on #2734
Good, so the task would be to just review the website and see if there is something else we can import from it.

The example I can tell you is about the "Image aspect ratios" (@boton asked me about this) and I didn't find detailed in Clay as much it is in Pat's website

But I also saw a conversation between @matuzalemsteles and @pat270 in the slack channel where they were talking about some conten

[2019-11-20 17:00] #2724 closed

[2019-11-20 17:02] #2727 closed

[2019-11-20 18:15] pat270 commented on #2726
@drakonux I like keeping the color values consistent with Lexicon, but unfortunately we already released several versions with the current colors. Changing `$blue: #05BFFF` to `$blue: #4B9BFF` would change the color of any item using the variable `$blue`, for example:

[code]
`.my-custom-btn`'s background color would change from `#0B5FFF` to `#4B9FFF`.

We would also break the default color of Boo

[2019-11-20 20:32] #2739 closed

[2019-11-21 16:02] laugardie opened #2742 "Add new icon: cloud"
Please add this new icon.
**cloud**: Find the .SVG in [LEXI-746](https://issues.liferay.com/browse/LEXI-746)
<img width="108" alt="Screenshot 2019-11-21 at 16 59 34" src="https://user-images.githubusercontent.com/56547676/69354378-4dde8f80-0c80-11ea-9eab-91f20d1a5617.png">

[2019-11-22 09:25] jbalsas commented on #2726
Hey @pat270, I'd say we can go with `1` and have the colors overridden by default in `3.x` with the flag set to `true` and to `false` in `2.x` so we don't change anything.

We still haven't integrated css 3.x in themes, so we still have some leeway here, and we can later override the flag in `styled` before passing it down to other themes whenever we start using `clay-css@3.x`

[2019-11-22 09:39] marcoscv-work commented on #2726
The change should be done only in `atlas`, in that case, I cannot imagine someone using original BS colors under Atlas theme.
I think the most important technical reason to overwrite those variables would be the intention to use CSS4 variables as for example Echo team wants to use

[2019-11-22 09:44] jbalsas commented on #2726
Changing it in `atlas` makes more sense, indeed! 👍

[2019-11-25 17:45] #2742 closed

[2019-11-26 16:57] dgarciasarai opened #2754 "ClayCSS form validation space between icon and text"
## Other issues?
-   [ ] I have searched [this issue](https://github.com/liferay/clay/issues/2075) of this repository and the error still happen. Maybe it's an issue with Clay v3.
- [ ] https://issues.liferay.com/browse/LEXI-155

## What are the steps to reproduce?
I'm using form validation: https://next.clayui.com/docs/components/forms/form.html

[code]

## What is the expected result?
Should be

[2019-11-27 00:10] pat270 commented on #2754
Clay CSS assumes there will be white space between the icon and error message. I think soy strips white space. If you need a precise value between icon and text (e.g., 0.5rem) I can fix this in Clay CSS, if you just need some space we should add a space in the Clay Component.

[2019-11-27 01:04] pat270 commented on #2632
Closing this I was told this was fixed, feel free to reopen if I'm incorrect.

[2019-11-27 01:04] #2632 closed

[2019-11-27 10:03] dgarciasarai commented on #2754
Hey @pat270, of course I can add a margin with Clay CSS but the team faced the same problem in Clay v2 and finally the space was added by default in the component. So it would be great to add that margin or space in the Clay Component (ClayForm.FeedbackIndicator) by default in Clay v3. Thanks.

[2019-11-27 11:35] laugardie opened #2757 "Add new icon: device-check"
Please add this new icon.
**device-check**: Find .SVG in [LEXI-700](https://issues.liferay.com/browse/LEXI-700)
<img width="71" alt="Screenshot 2019-11-27 at 12 34 21" src="https://user-images.githubusercontent.com/56547676/69720144-43a21280-1112-11ea-86fb-3aa97f81e1cd.png">

[2019-11-27 12:06] jbalsas commented on #2754
I think we probably just need to add `inline-item` and `inline-item-after` somewhere in the component, or you can likely do the same by wrapping the `Liferay.Language.get` in a span and adding those in `className`, maybe...

[2019-11-28 09:04] #2715 closed

[2019-11-28 09:18] #2726 closed

[2019-11-28 09:19] #2655 closed

[2019-11-28 09:51] marcoscv-work commented on #2725
Great! I'm going to merge this PR, we will need to document it and add it to CSS/HTML course

[2019-11-28 09:52] #2725 closed

[2019-12-02 16:21] 4lejandrito opened #2758 "MultiSelect suggestions rendered via a custom menu renderer are unnecessarily filtered"
In Sharing we are [passing a custom menu renderer](https://github.com/liferay/liferay-portal/blob/7308c0145d85f26aac3d9f34c293d13d978639f3/modules/apps/sharing/sharing-web/src/main/resources/META-INF/resources/sharing/js/Sharing.es.js#L202) to the `multi-select` component. This [custom menu renderer](https://github.com/liferay/liferay-portal/blob/7308c0145d85f26aac3d9f34c293d13d978639f3/modules/ap

[2019-12-02 19:41] bryceosterhaus commented on #2754
Just submitted a fix for this on the component side. I think it makes sense to have a default margin via `inline-item-before`. Check out the storybook deploy to verify, https://github.com/liferay/clay/pull/2762

[2019-12-02 19:43] #2669 closed

[2019-12-02 20:04] bryceosterhaus commented on #2758
Can you provide a codesandbox example to showcase the issue? From my understanding, whether the items are filtered on the client or the server, the component shouldn't behave any differently.

Say you have three items returned from the server `['Flintstones', 'Frozen 1', 'Frozen 2']` for the input value of `f`. The multi-select component should run the match on the name and return the same list of

[2019-12-02 20:11] bryceosterhaus commented on #2758
I am testing with https://codesandbox.io/s/crazy-edison-hdvu1

[2019-12-02 20:44] 4lejandrito commented on #2758
Hi @bryceosterhaus,

Thanks for looking into this.

I'll try to explain our use case a bit better:

1. We set a custom renderer that **does not** filter the results.
2. The user types a query.
3. The server return results that we trust. They **may not** contain the query the user types (think about synonyms for example). For this we modified the component to [trigger a request to the server every

[2019-12-02 20:49] 4lejandrito commented on #2758
A simpler way to phrase it: we need a way to completely disable client side filtering for our use case to work.

[2019-12-02 23:19] jaredgorski opened #2763 "Buttons and links receive focus state when clicked"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
1. Right-click any link or button on clayui.com

![2019-12-02 15 13 22](https://user-images.githubusercontent.com/36674760/70003040-c6620d80-1516-11ea-9ffc-272b9347f4d7.gif)

## What is the expected result?
Button or link wil

[2019-12-03 00:15] pat270 commented on #2763
Hey @jaredgorski,
Good find, this looks promising. We could probably introduce this using some kind of setting in Clay CSS. It would be turned off by default to avoid breaking existing implementations. We would have to move some of the button styles to the `span` tag to avoid the focus border from showing if the click misses the text.

Not sure how Clay Components would handle this, maybe through

[2019-12-03 00:23] jaredgorski commented on #2763
Thanks for the reply @pat270. We implemented something similar on marble (WeDeploy): https://github.com/LiferayCloud/marble/blob/master/packages/marble-button/src/Button.soy#L100

It's not as polished, but could provide an example as an implementation is considered.

[2019-12-03 01:01] bryceosterhaus commented on #2758
ah, this was a helpful way for me to imagine it. I think the best means forward might be to just allow for a custom filter function as a prop. You could just pass `(items) => items`. This would also open up for custom filtering, which might be helpful in the future as well.

Does that sound reasonable to you?

[2019-12-03 01:29] 4lejandrito commented on #2758
Yeah it does. Thanks!

[2019-12-03 08:31] dgarciasarai opened #2765 "ClayAlert with action button"
I have an use case to use an Alert with an action in the A/B Testing sidebar when a test has a winner variant. I found this patter in Lexicon https://liferay.design/lexicon/core-components/alerts/ but not in Clay.

![Screenshot 2019-12-03 at 09 26 49](https://user-images.githubusercontent.com/15845466/70033109-11c7fa80-15af-11ea-9e13-751e23acde05.png)

## What is your question?

Is this supported

[2019-12-03 08:44] drakonux commented on #2765
Hi Sarai!

At least it should be in Clay v3. Duurii documented it on [LEXI-509](https://issues.liferay.com/browse/LEXI-509) cc\ @bryceosterhaus

[2019-12-03 09:40] 4lejandrito commented on #2758
See https://github.com/liferay/clay/pull/2767.

[2019-12-03 09:56] andresfulla opened #2768 "Popover positioning"
## What is your proposal?
Implement positioning for ClayPopover so it can be CSS-independent of its parent.

I quickly implemented this with `React.createPortal` and `metal-align`.

[code]

## Why would adopting this proposal be beneficial?

I tried to use the ClayPopover as it is. But I had some trouble because the component that triggers the popover is inside of an element with `overflow: hidden

[2019-12-03 13:38] julien commented on #1448
I'm re opening this issue since it also happens with V3
https://issues.liferay.com/browse/LPS-89052

[2019-12-03 17:02] #1448 closed

[2019-12-04 12:51] #2757 closed

[2019-12-04 17:53] #2550 closed

[2019-12-04 20:28] #2722 closed

[2019-12-04 20:35] #2290 closed

[2019-12-04 20:36] matuzalemsteles commented on #2765
@pat270 do we need any special markup to reach this result?

[2019-12-04 22:07] jwu910 opened #2771 "Incorrect document link for Clay Icons"
-   [X] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?
N/A

## What are the steps to reproduce?
Visit https://clayui.com/docs/components/icon.html and click on the spritemap svg download link

## What is the expected result?
Github asset page opens with th

[2019-12-05 13:05] #2771 closed

[2019-12-05 18:27] bryceosterhaus commented on #2765
I was able to create the layout with react components, you may need to add some custom styles for the button color. https://codesandbox.io/s/ecstatic-cartwright-s039q

[2019-12-05 18:34] #2758 closed

[2019-12-05 18:35] #2754 closed

[2019-12-05 18:45] bryceosterhaus opened #2774 "Create simple POC with new charting library"
Going to pick a library and do a POC with how well it integrates with existing clay, as well as figuring out what cases we might need to roll ourselves.

[2019-12-05 20:49] bryceosterhaus commented on #2628
This should be fixed

[2019-12-05 20:49] #2628 closed

[2019-12-05 20:51] bryceosterhaus commented on #2370
Going to close. Will re-open if this comes up again.

[2019-12-05 20:51] #2370 closed

[2019-12-05 20:56] bryceosterhaus commented on #2275
Closing since this seems to be resolved. We can re-open if this discussion is needed again.

[2019-12-05 20:56] #2275 closed

[2019-12-06 19:29] bryceosterhaus opened #2775 "TS editor inference and autocomplete doesn't seem to work."
Check out the example below. The `antd` library correctly allows users to autocomplete its value for `type`. The ClayButton does not work for autocompleting values. Note this is in the editor, not related to the UI.

https://codesandbox.io/s/sad-panini-o3oez

| Tech  | Version |
| ----- | ------- |
| Clay  | v3.x  |

[2019-12-06 19:50] bryceosterhaus opened #2776 "Remove ADRs?"
So awhile back we decided to write ADRs and add them to the repo. I realized we haven't really done anything since we added the first one. I am thinking maybe we could remove the adr folder and instead create an "Important Conversations" category in our readme and link to issues or PRs that we tend to have meaningful conversations. I'm not sure how much this would be used, but seems easier and tha

[2019-12-09 14:05] matuzalemsteles commented on #2776
I think we can still keep ADRs, I don't think we're using them yet because I think we're thinking of them as very well written and an article narrative that keep us from creating new ones, I think we have a lot of content that can become ADRs. I like the idea of ​​linking PRs and issues but I think they don't replace the idea of ​​ADRs, issues and PRs can have very fragmented and somewhat scattere

[2019-12-09 16:31] matuzalemsteles commented on #2115
I'm closing this now that we have removed the metal dependencies from our components. #2764

[2019-12-09 16:31] #2115 closed

[2019-12-09 17:21] bryceosterhaus commented on #2776
I think my main concern is that there is a lot of overhead in writing and ADR, and its been easy to not write them since they take a lot of effort. Maybe we could compromise and make ADRs a bit more flexible and useful. We could start each one by a simple md file with a link to an issue and then it might incentivize us to expand on it more or summarize the issue. This way its a really low barrier

[2019-12-09 18:22] matuzalemsteles commented on #2776
Sounds good to me!

[2019-12-09 23:02] bryceosterhaus commented on #2577
Hey all, I went through and re-created some of the clay chart demos with `recharts`. Please let me know what you think and help give feedback on how you would like to see the "clay" side of things exposed.

PR: https://github.com/liferay/clay/pull/2779
Storybook: https://deploy-preview-2779--storybook-clayui.netlify.com/?path=/story/components-clayrecharts--line

Currently I am thinking our best o

[2019-12-10 10:48] eduardoallegrini commented on #2765
A few months ago, I created an [example using `outline-success` instead of `secondary`](https://codepen.io/eduardoallegrini/pen/ewZjmJ)

The problem was the background and the solutions we found were:
1) Add the missing CSS code for the single usage of this component
2) Add a new variation of buttons with the white background
3) Add a CSS rule for the outlined buttons inside the Alert component

T

[2019-12-10 17:21] pat270 commented on #2765
@matuzalemsteles I remember from a while ago @victorvalle saying this doesn't need to be handled in Clay CSS. I'm not 100% sure, I can't seem to find anything on it. We can add button variants in alerts if we need. The selector will probably be `.alert-success .alert-btn`.

[2019-12-10 21:52] diegonvs commented on #2577
Just for information, If we need to make comparisons about charts library, maybe this is a good source: https://stackshare.io/recharts

On stackshare we can check all pro and cons from users of these chart libraries :)

[2019-12-11 07:24] victorvalle commented on #2765
I don't remember what I said :(. For the moment these button variants are only needed in alerts.
A way of doing it is just creating them as button variants and Lexicon will document how we expect people to use them and where to not use them. With this clarification, it should work out well.

[2019-12-11 10:24] dgarciasarai opened #2780 "ClayButton: Wrong focus style in buttons that are together"
## What are the steps to reproduce?
I saw the documentation (https://clayui.com/docs/components/buttons.html) and this is actually happening in ClayButton.

<img width="725" alt="Screenshot 2019-12-11 at 11 19 20" src="https://user-images.githubusercontent.com/15845466/70613052-4f103600-1c08-11ea-9cf9-e762a7b9de0b.png">

## What is the expected result?
Focus style works well and the buttons do not

[2019-12-11 10:28] julien commented on #2577
@diegonvs I think we're going with `recharts` for now, at least that's what I understood.

[2019-12-11 10:35] eduardoallegrini commented on #2780
Since we are using the `box-shadow` property to create the focus status and it doesn't occupies the space of the border this behavior is expected in CSS.

https://codepen.io/eduardoallegrini/pen/yLyOqbE

Bootstrap have a similar issue but we can notice it because their buttons are `inline-block` elements by default (example 1)

If you put them inside a `display:flex` container we can see the same

[2019-12-11 17:23] matuzalemsteles commented on #2765
Hmm, we will probably need some extra markup to align the button with the text and add extra spacing...

[2019-12-11 18:02] pat270 commented on #2765
@matuzalemsteles that is probably the case.

[2019-12-11 18:11] pat270 commented on #2780
The way it appears on the screenshot is exactly how it's supposed to look when you render multiple buttons next to each other with no white space between them. Add a space between each `<ClayButton>` or use the pattern:
[code]

[2019-12-11 18:19] bryceosterhaus commented on #2577
I'm going to spend some time playing with some other libraries today to see if there are any major tradeoffs. Although I did find `recharts` really great while using it.  Typically I loathe creating any charts, but I found myself looking forward to each use case in recharts since it was so ergonomic.

[2019-12-11 20:51] matuzalemsteles commented on #2780
With components you can wrap the buttons inside a `<ClayButton.Group />`, by default it will group the buttons together and if you just want the spaces between the buttons, add the `spaced` prop to `ClayButton.Group`.

[code]

[2019-12-11 21:48] matuzalemsteles opened #2781 "DataProvider: Integrate with <Suspense />"
[`<Suspense />`](https://reactjs.org/docs/concurrent-mode-suspense.html) is a powerful feature in React that allows you to integrate with data fetching libraries to suspend component rendering and declaratively specify a load state. This is very important because it allows React to look deeper into the tree trying to render other components and parallelize requests.

We need to make some modificat

[2019-12-11 22:16] bryceosterhaus commented on #2781
One note about Suspense is that we should likely wait to make any changes in Clay until suspense is in a stable release and no longer experimental. I know that they will eventually make it officially stable, but they also highly discourage any production uses for it right now since its so subject to change.

[2019-12-11 22:34] matuzalemsteles opened #2782 "DataProvider: Start Fetching Early"
To make our applications faster we should slightly change the approach to how we are fetching the data instead of always adopting: Fetch-on-Render we should go with rendering as we are fetching ie start fetching early.

To adopt this strategy we need to make some design decisions regarding our APIs and DataProvider usage, the idea being to provide a way for developers to preload data before starti

[2019-12-11 22:38] matuzalemsteles commented on #2781
@bryceosterhaus Of course, I think the `<Suspense />` for data fetching is stable since it has been around since 16.6, probably if seen changes around, it will be in relation to how things are done inside your codebase. But of course we must pay attention to these changes.

[2019-12-11 22:40] bryceosterhaus opened #2783 "Future Component Ideas"
I was brainstorming a bit and going through both clay-css and lexicon docs and came up with a new components we might want to consider creating. I am going to list them here and if we think its a good idea, I'll spawn off new tickets for each component.

- [x] High-level confirmation modal ([lexicon](https://liferay.design/lexicon/core-components/confirm-message/))
- [x] Empty state ([lexicon](htt

[2019-12-11 22:41] bryceosterhaus commented on #2781
I am primarily just going off of this in their docs
![Screen Shot 2019-12-11 at 2 40 52 PM](https://user-images.githubusercontent.com/6843530/70666808-4f1e2f00-1c24-11ea-9961-cbddc8aaea9e.png)

[2019-12-11 22:48] matuzalemsteles commented on #2781
Yeah, I think this is related to the experimental version of the ‘react’ and ‘react-dom’ packages.  You can see more about it here https://reactjs.org/docs/concurrent-mode-adoption.html#feature-comparison

[2019-12-11 23:22] nkkwon opened #2784 "Side nav covering documentation when using IE"
-   [X] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
Go to the Docs for Clay v3.0 with Internet Explorer and you can see that the Navigation Menu on the left will cover part of the documentation
![Screenshot from 2019-12-11 15-04-15](https://user-images.githubusercontent.com/33

[2019-12-12 07:19] drakonux commented on #2754
Hey @bryceosterhaus ! I double-checked the distance between the icon and the text on storybook and it's 8px 🤔

![Wrong Distance](https://user-images.githubusercontent.com/21216422/70690811-c05af200-1cb7-11ea-8894-d4f8f5c251f3.png)

It should be 4px as it's described in [LEXI-155](https://issues.liferay.com/browse/LEXI-155)

[2019-12-12 08:45] wincent commented on #2781
This is a super important thing to bear in mind, in general, so thanks for bringing it up, @bryceosterhaus. In this concrete case,`React.Suspense` itself is stable, AFAIK, and [listed on the top-level API page](https://reactjs.org/docs/react-api.html#reactsuspense). The disclaimer there is:

So, they definitely won't break the API when used in conjunction with `React.lazy`, and the "data fetching"

[2019-12-12 14:26] matuzalemsteles commented on #2781
Thanks @wincent, I think we can wait for the breakthrough with Suspense until it goes from experimental to stable. This is likely not to be long 😁

[2019-12-12 15:13] matuzalemsteles commented on #2783
Yeah, I think this list already has some tickets created about it.

- Drilldown for dropdown (#2671)
- Layout utilities (#2421)

I don't think we need to create it. As far as I can remember Lexicon sets it to use native browser `alert`.

We have this issue for CSS about this, #833. But I'm not sure about it, I have the impression that these empty states cases are exclusive to Portal. Although that

[2019-12-12 19:04] pat270 opened #2785 "Clay CSS update Bootstrap to 4.4.1"
Update Bootstrap to 4.4.1 for Clay CSS 2.x and 3.x

[2019-12-12 19:15] bryceosterhaus opened #2786 "Speed up build time for the sake of CI"
CI takes quite awhile now that we check our dependencies, https://github.com/liferay/clay/pull/2530.

[2019-12-12 19:15] #2523 closed

[2019-12-12 19:26] calvinctvo opened #2788 "Sub Navigation Bar link doesn't bring user to the actual subtitle they click on"
## What is your proposal?
The Sub navigation bar should bring the user to the top of the sub title so the user know they are looking at the right content
## Why would adopting this proposal be beneficial?
For better user experience, since the links only take them to the top of the content, not the sub title.
## What are the alternatives to this proposal?
None

[2019-12-12 19:32] diegonvs commented on #2783
What about a high level component of Miller Columns? https://liferay.design/lexicon/satellite-components/miller-columns/ or is this component just used inside Pages section on DXP?

[2019-12-12 19:33] bryceosterhaus commented on #2788
Hey @Calyasu is this for the clayui docs site?

[2019-12-12 19:34] calvinctvo commented on #2788
Yes this is for Clayui doc site
![UX Suggestion](https://user-images.githubusercontent.com/51280814/70742847-52bcbf00-1cd3-11ea-8b72-116953f7483d.gif)

[2019-12-12 19:35] Adriverforlife opened #2790 "Search Bar does not work on IE"
![Search](https://user-images.githubusercontent.com/50709197/70743462-aaa7f580-1cd4-11ea-8a2e-fa0fa4bf9839.png)

-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
Go to Docs for Clay v3.0 with Internet Explorer.
Click into the search bar (it can be seen even if you cant see

[2019-12-12 19:38] bryceosterhaus commented on #2783
Oh yeah I forgot layout and drilldown were already created. Those are likely higher priority than the rest.

And to reply to some of your comments:

The lexicon site made it look like a styled confirmation, which would require us to roll our own confirm modal. But if they are fine with a vanilla browser alert, that is fine with me.

I think other headless apps like Faro would make use of the App b

[2019-12-12 19:39] bryceosterhaus commented on #2754
@drakonux ah I see, I just went with using our text utils. Maybe this needs to be added to `form-feedback-indicator` in clay-css then. cc: @pat270

[2019-12-12 19:43] Adriverforlife opened #2791 "Right Nav Bar does not stick to the top on IE"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
Go to the Docs for Clay v3.0 with Internet Explorer and you can see that the Navigation Bar on the right. Scroll down and it will scroll away with the rest of the content.
![Search](https://user-images.githubusercontent.com/5

[2019-12-12 19:52] calvinctvo opened #2792 "Search Bar on Mobile version isn't responsive"
## What is your proposal?
Search Bar on mobile for any web browser isn't responsive when user typing input
## Why would adopting this proposal be beneficial?
For better user experience, user should able to see what they type and suggestions.
## What are the alternatives to this proposal?
N/A

[2019-12-12 19:56] bryceosterhaus commented on #2577
cc @drakonux could you give a bit of feedback on these chart demos? Do these clash with lexicon at all? There are some interactions that do not work out of the box like they did with billboard. [Demos](https://deploy-preview-2779--storybook-clayui.netlify.com/?path=/story/components-clayrecharts--line)

[2019-12-12 20:03] nkkwon opened #2793 "IE Lists in sidebar don't expand/close when clicked on"
-   [ X] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
Use IE, go to documentation and click on one of the expandable list and it doesn't open or close.

## What is the expected result?
List will expand to show components inside.

## Environment

| Tech  | Version |
| ----- | --

[2019-12-12 20:12] Adriverforlife opened #2794 "Incorrect Jump Points on Migration Page"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?
https://clayui.com/docs/migration/migrate-the-clay-components-from-v2-to-v3.html

## What are the steps to reproduce?
Go to the Docs for Clay v3.0.
Go to "Migrate the Clay compoments from v2 to v3.
Scr

[2019-12-12 20:25] calvinctvo opened #2795 "Mobile Search Bar suggestions drop down text is unreadable"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?

1. Open any web browser on mobile
2. Go to clay docs site
3. Search for "Card"

## What is the expected result?
user should able to see/read what have been suggested

## Environment

| Tech  | Version |
| Mobile | IPhone X/X

[2019-12-12 20:44] calvinctvo commented on #2792
another note: when mobile rotate horizontally, Search bar works fine

[2019-12-12 20:45] calvinctvo commented on #2795
P/S: when mobile device rotate horizontally, Search bar suggestions does display the list

[2019-12-12 20:49] nkkwon opened #2796 "Content in Card page is squished to the left on IE"
-   [ ] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
Open documentation on IE and go to the Card section in Components

## What is the expected result?
Should be able to see page content, but page format is broken and everything is squished to the left

![Screenshot from 2019-1

[2019-12-12 20:59] Adriverforlife opened #2797 "Jump Points on Right Nav Bad Don't Exist in Documentation."
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?

## What are the steps to reproduce?
Go to the Docs for Clay v3.0 with Internet Explorer and you can see that the Navigation Bar on the right that show available subtopics.

Go to Navigation/BaseNavbar

[2019-12-12 21:05] calvinctvo opened #2798 "Mobile Top Nav Bar doesn't stay still while scrolling horizontally."
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
1. Open any web browser on Mobile Device
2. Go to clay website
3. Navigate to Components > Date Picker
4. Click on API
5. Scroll left/right horizontally
## What is the expected result?
Nav Bar should stay still while scrollin

[2019-12-12 22:24] bryceosterhaus commented on #2775
It seems to work correctly if you add `"esModuleInterop": true,` to your tsconfig

[2019-12-12 22:34] Adriverforlife opened #2799 "Jump Point in Drop Down Component for CSS/Markup incorrect"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

https://next.clayui.com/docs/components/drop-down.html#alignment-default

## What are the steps to reproduce?
Go to the Docs for Clay v3.0.
Go to Components/Drop Down
Select CSS/Markup from across the top
Scroll down the page abit
Click Alignment/Default on the

[2019-12-12 22:41] Adriverforlife opened #2800 "Radios Button not formatted correctly/not working on Checkbox"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

https://next.clayui.com/docs/components/forms/checkbox.html#checkboxes

![RadioFormat](https://user-images.githubusercontent.com/50709197/70754930-52c9b880-1ced-11ea-8f61-c4c1d972467f.png)
## What are the steps to reproduce?
Go to the Docs for Clay v3.0.
Go to

[2019-12-12 22:49] Adriverforlife opened #2801 "Groups Link on Components/Forms/Input in CSS unresponsive."
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

https://next.clayui.com/docs/components/forms/input.html#groups

## What are the steps to reproduce?
Go to the Docs for Clay v3.0.
Go to Components/Forms/Input
Select CSS/Markup from across the top
Scroll down the page abit
Click Groups on the Navigation Bar on

[2019-12-12 22:50] Adriverforlife commented on #2801
![FormsGroup](https://user-images.githubusercontent.com/50709197/70755439-aee10c80-1cee-11ea-9345-96953d377b78.png)

[2019-12-12 22:54] calvinctvo opened #2802 "Date and Time example format on Mobile device is inconsistent"
![Image from iOS](https://user-images.githubusercontent.com/51280814/70755812-b654e580-1cef-11ea-9547-c5d62ba2a618.png)

-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
1. Open any web browser on Mobile Device
2. Go to clay website
3. Navigate to Components > Date Picker
4

[2019-12-12 23:04] Adriverforlife opened #2803 "Jump Points In Components/Labels/CSS Incorrect"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

https://next.clayui.com/docs/components/label.html#label
![ComponentLabel](https://user-images.githubusercontent.com/50709197/70755918-0338bc00-1cf0-11ea-93b6-836612a72ac9.png)

## What are the steps to reproduce?
Go to the Docs for Clay v3.0.
Go to Components/

[2019-12-12 23:19] Adriverforlife opened #2804 "Jump Point in Component/List for CSS/Markup incorrect"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

https://next.clayui.com/docs/components/list.html#actions-on-hover
![ListCSS](https://user-images.githubusercontent.com/50709197/70756882-a38fe000-1cf2-11ea-9dff-fdb5bc1be9c6.png)
## What are the steps to reproduce?

Go to the Docs for Clay v3.0.
Go to Componen

[2019-12-12 23:22] nkkwon commented on #2798
Issue occurs when there's a table in the documentation bigger than the width of the screen.

[2019-12-12 23:35] calvinctvo opened #2805 "Drop down menu from Nav Bar on Mobile is disruptive on wider pages."
## What is your proposal?
Nav Bar should be stationary on the top of the Mobile device
## Why would adopting this proposal be beneficial?
So drop down menu won't be disruptive for the user.
## What are the alternatives to this proposal?
Possibly could keep the code section condense so the page don't have to extend

![DropdownNavbar](https://user-images.githubusercontent.com/51280814/70757572-f4a0d

[2019-12-12 23:35] bryceosterhaus commented on #2775
similar reported issue https://github.com/microsoft/TypeScript/issues/28009

[2019-12-12 23:35] Adriverforlife opened #2806 "Search Link on Components/Management Toolbar in CSS unresponsive"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

https://next.clayui.com/docs/components/management-toolbar.html#search
![ManagementToolbar](https://user-images.githubusercontent.com/50709197/70757549-dc30b900-1cf4-11ea-8bf3-762406c3d671.png)

## What are the steps to reproduce?
Go to the Docs for Clay v3.0.

[2019-12-12 23:46] Adriverforlife opened #2807 "Jump Point in Modal Component for CSS/Markup incorrect"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

https://next.clayui.com/docs/components/modal.html#full-screen-default
![ModalCSS](https://user-images.githubusercontent.com/50709197/70758044-8826d400-1cf6-11ea-9fc7-df8beea84eee.png)

## What are the steps to reproduce?
Go to the Docs for Clay v3.0.
Go to Com

[2019-12-13 00:08] Adriverforlife opened #2808 "Jump Points in Popover Component for CSS/Markup incorrect"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

https://next.clayui.com/docs/components/popover.html#popover-position
![PopoverCSS](https://user-images.githubusercontent.com/50709197/70758925-582d0000-1cf9-11ea-9d27-4beca99bd975.png)

## What are the steps to reproduce?
Go to the Docs for Clay v3.0.
Go to Co

[2019-12-13 00:17] Adriverforlife opened #2809 "Jump Points in Tooltip Component for CSS/Markup incorrect"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

https://next.clayui.com/docs/components/tooltip.html#tooltip-left
![TooltipCSS](https://user-images.githubusercontent.com/50709197/70759324-da69f400-1cfa-11ea-9435-b9389e2cf1bb.png)

## What are the steps to reproduce?
Go to the Docs for Clay v3.0.
Go to Compon

[2019-12-13 01:17] calvinctvo opened #2810 "Color Picker/CSS Markup color palette doesn't change color when pick"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
1. Navigate to Components > Color Picker
2. click on CSS/Markup tab
3. Scroll down to Example
4. Pick a different color
## What is the expected result?
The color user picked should change, but it stays the same as sky blue
##

[2019-12-13 01:30] Adriverforlife commented on #2808
Looks like all the links are set to jump to ID popover-{topic chosen} and the ID on each topic is just {topic chosen} without popover-. I imagine most of the other ones are identical to this.

[2019-12-13 07:31] drakonux opened #2811 "Dropdown Menu: Checkbox and Radio hover interaction styles inherited"
## What are the steps to reproduce?

1. Go to [Clay Storybook](https://storybook.clayui.com/)
2. Open ClayDropdown menu item
3. Select Checkbox or Radio
4. Click "Click me" button

## Current behavior

![checkbox-hover](https://user-images.githubusercontent.com/21216422/70778205-07adb500-1d82-11ea-9b46-b6d01df94b28.gif)

## What is the expected result?
Dropdown item hover or selected interaction s

[2019-12-13 08:22] drakonux opened #2812 "Dropdown Menu: wrong color for groups"
## What are the steps to reproduce?

1. Go to [Clay Storybook](https://storybook.clayui.com/)
2. Open ClayDropdown menu item
3. Select Groups
4. Click "Click me" button

## Current Value

![image](https://user-images.githubusercontent.com/21216422/70782275-e7ccc000-1d86-11ea-836e-3fc3eb8f8173.png)

## What is the expected result?
The color should be $dark `#272833` instead `#6B6C7E`

## Environmen

[2019-12-13 11:16] dgarciasarai commented on #2780
@matuzalemsteles I used your solution, but the buttons have a lot of space between them for our use case. Any help?

<img width="877" alt="Screenshot 2019-12-13 at 11 55 18" src="https://user-images.githubusercontent.com/15845466/70796313-39cf0f00-1da2-11ea-9267-3000c86c100f.png">

[2019-12-13 11:46] drakonux commented on #2577
Hey @bryceosterhaus I admit that I'm a bit lost with the work done by Emiliano when he was working on charts. So if you don't mind I would like to wait him before commenting something (he is on PTO and he will be back next week)

[2019-12-13 12:31] drakonux opened #2813 "New font-weight for Radio and Check Box"
## What is your proposal?

Due to [LEXI-661](https://issues.liferay.com/browse/LEXI-661) we have reviewed the styles defined for radio and check box.

We would like to use regular weight instead of semi-bold.

![Styles](https://user-images.githubusercontent.com/21216422/70799672-96cec300-1daa-11ea-87d7-c9ea70346aa7.png)

## Why would adopting this proposal be beneficial?
This decision would help t

[2019-12-13 13:22] matuzalemsteles commented on #2811
@pat270 Are we probably missing something with markup on components?

[2019-12-13 13:28] matuzalemsteles commented on #2810
hey @calvinctvo this is expected, CSS has no interaction like the components. I'm closing this if something related comes up, feel free to open again.

[2019-12-13 13:28] #2810 closed

[2019-12-13 13:41] matuzalemsteles opened #2814 "Some documents have wrong ToC jump"
Many of our documents do not have the correct ToC jump.

Related Issues:

- ~~Jump Points in Tooltip Component for CSS/Markup incorrect #2809~~ (#2878)
- ~~Jump Points in Popover Component for CSS/Markup incorrect #2808~~ (#2878)
- ~~Jump Point in Modal Component for CSS/Markup incorrect #2807~~ (#2878)
- ~~Jump Point in Component/List for CSS/Markup incorrect #2804~~ (#2878)
- ~~Jump Points In Co

[2019-12-13 13:43] matuzalemsteles commented on #2809
Hey @Adriverforlife, Thanks for reporting this. I will close this issue and sort it out by #2814, many issues have been created with the same related issue.

[2019-12-13 13:43] #2809 closed

[2019-12-13 13:44] matuzalemsteles commented on #2808
Hey @Adriverforlife, Thanks for reporting this. I will close this issue and sort it out by #2814, many issues have been created with the same related issue.

[2019-12-13 13:44] #2808 closed

[2019-12-13 13:44] matuzalemsteles commented on #2807
Hey @Adriverforlife, Thanks for reporting this. I will close this issue and sort it out by #2814, many issues have been created with the same related issue.

[2019-12-13 13:44] #2807 closed

[2019-12-13 13:44] matuzalemsteles commented on #2804
Hey @Adriverforlife, Thanks for reporting this. I will close this issue and sort it out by #2814, many issues have been created with the same related issue.

[2019-12-13 13:44] #2804 closed

[2019-12-13 13:44] matuzalemsteles commented on #2803
Hey @Adriverforlife, Thanks for reporting this. I will close this issue and sort it out by #2814, many issues have been created with the same related issue.

[2019-12-13 13:44] #2803 closed

[2019-12-13 13:44] matuzalemsteles commented on #2799
Hey @Adriverforlife, Thanks for reporting this. I will close this issue and sort it out by #2814, many issues have been created with the same related issue.

[2019-12-13 13:44] #2799 closed

[2019-12-13 13:44] matuzalemsteles commented on #2797
Hey @Adriverforlife, Thanks for reporting this. I will close this issue and sort it out by #2814, many issues have been created with the same related issue.

[2019-12-13 13:44] #2797 closed

[2019-12-13 13:45] matuzalemsteles commented on #2794
Hey @Adriverforlife, Thanks for reporting this. I will close this issue and sort it out by #2814, many issues have been created with the same related issue.

[2019-12-13 13:45] #2794 closed

[2019-12-13 13:51] matuzalemsteles commented on #2806
Hey @Adriverforlife, Thanks for reporting this. I will close this issue and sort it out by #2814, many issues have been created with the same related issue.

[2019-12-13 13:51] #2806 closed

[2019-12-13 13:53] matuzalemsteles commented on #2801
Hey @Adriverforlife, Thanks for reporting this. I will close this issue and sort it out by #2814, many issues have been created with the same related issue.

[2019-12-13 13:53] #2801 closed

[2019-12-13 13:55] matuzalemsteles commented on #2800
Hey @Adriverforlife, Thanks for reporting this. I will close this issue and sort it out by #2814, many issues have been created with the same related issue.

[2019-12-13 13:55] #2800 closed

[2019-12-13 13:58] matuzalemsteles commented on #2788
Hey @calvinctvo, Thanks for reporting this. I will close this issue and sort it out by #2814, many issues have been created with the same related issue.

[2019-12-13 13:58] #2788 closed

[2019-12-13 14:07] matuzalemsteles commented on #2783
Yeah, I think @drakonux can help us with that.

Hm, yeah I think we can test this and see how it works. It makes sense to launch a trial version and after we see adoption and uses we can mark it as stable, what do you think?

Hmm, I think I was looking at the File uploader components that Lexicon provides, which are much more complex and large. https://liferay.design/lexicon/satellite-components/f

[2019-12-13 14:09] matuzalemsteles commented on #2780
I'm not sure but some inline item utils can help you with that. https://clayui.com/docs/css/utilities/inline-item.html

[2019-12-13 15:58] drakonux commented on #2811
Just one more thing. I reported this as a bug but this ticket is an update caused by a review we did due to [LEXI-661](https://issues.liferay.com/browse/LEXI-661) and Lexicon has to change the documentation about this too.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-13 17:00] pat270 commented on #2780
@dgarciasarai can you use buttons like in the initial post and just insert a space between?
[code]

[2019-12-13 17:06] pat270 commented on #2811
@matuzalemsteles this is an update to the design, I'll update in Clay CSS. It will probably require some markup change to the clay component.

[2019-12-13 20:35] bryceosterhaus commented on #2775
I think I've hit a bit of a dead end here.

A few possible solutions:
1. Refactor our use of named default exports `React from 'react'` and instead use start syntax of `* as React from 'react'.`
2. Don't worry about it and just tell people to use `"esModuleInterop": true` for proper editor and autocomplete support.

Any other ideas for this or have anyone ran into this? cc @matuzalemsteles  @wince

[2019-12-13 20:42] julien commented on #2775
It seems to me @andresfulla reported something about autocomplete in #2235 not 100% sure if it's related though.

[2019-12-13 20:51] bryceosterhaus commented on #2235
@andresfulla do you still run into this at all? I was looking into something similar in #2775

[2019-12-14 00:09] calvinctvo opened #2815 "Jump Points in Data Provider (Network Status) Component"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
Go to the Docs for Clay v3.0.
Go to Components/Data Provider
Click on Network Status
## What is the expected result?
Jump to Network Status
## Environment

| Tech  | Version |
| Chrome | 78.0.3904.108 |
| Clay  | v3.0.0  |

[2019-12-16 07:55] wincent commented on #2775
Using `import * as React from 'react'` doesn't seem like the worst thing in the world, or rather, it seems better than forcing people to use a particular `esModuleInterop` setting (they may have good reasons for not wanting to). If you think that will fix it without any downsides other than requiring us to go back to something that we had before, then I'd say go for it.

FWIW, I think the appeal o

[2019-12-16 08:04] wincent commented on #2775
Fun fact: I remember [talking about this back in February](https://github.com/liferay/clay/pull/1548#discussion_r259716545) so I went back to see if anything had changed about the way React declares its exports. It's still the same ([React master, still b87aabd](https://github.com/facebook/react/blob/0cf22a56a18790ef34c71bef14f64695c0498619/packages/react/index.js#L14-L16), [ReactDOM master, still

[2019-12-16 09:23] andresfulla commented on #2235
I am not having any problems now.

[2019-12-16 10:41] dgarciasarai commented on #2780
Hey @pat270, you're solution doesn't work. I can add a `className="mr-1"` in the first button or add `<span>&nbsp;</span>` but I think it's not the best solution. If I add the space between, and then you fix it in Clay, I have to go back and remove it. I think this should be fixed in ClayButton.

[2019-12-16 13:42] drakonux commented on #2577
Hi everyone!

Well, I 've already talked to Emiliano and @julien . From the Lexicon point of view, Clay should have at least the same features, interactions and charts Clay v2 provided.

Besides, Clay v3 should pay attention to some of the charts that we made a special effort for v2 like:

-  Predictive Forecast (for Commerce)
-  Heat map (for AC)

And keep the [accessibility](https://liferay.desi

[2019-12-16 20:49] matuzalemsteles commented on #2775
Hmm that's weird, why would using `import * as React from 'react'` solve the problem? just for curiosity.

[2019-12-16 22:24] bryceosterhaus commented on #2775
By switching to use `* as ...` it would allow us to remove the `esModuleInterop` config, meaning other projects consuming us wouldn't require that.

I am going to test a different route and see if I can just get away with using `allowSyntheticDefaultImports` instead though.

[2019-12-16 22:34] bryceosterhaus commented on #2775
Essentially the type definitions are being generated with `React from 'react'`. For example, with our current config, this is the definition for Button.

[code]

When this definition gets loaded into a project without `esModuleInterop`, it errors on the react import, which then defaults the exported type to `any`. Therefore, when we consume Button, it shows its an any type.

If I remove `esModuleI

[2019-12-16 23:51] bryceosterhaus commented on #2775
I believe this PR should fix this issue. Its just a matter of discussion if we want to actually go this route of removing `esModuleInterop`. https://github.com/liferay/clay/pull/2816

Note: the CSB build doesnt pick up types, but I think that is an issue with their CI. I tried to build and use the package locally and it worked fine.

[2019-12-17 10:30] wincent commented on #2775
Excellent detective work! 🕵

[2019-12-17 15:02] matuzalemsteles commented on #2775
Hmm, this is still strange to me, why am I wondering why the editor is not getting the types from `@types/react` ... but I have no problem changing to `* as ... `just for the React, I think like @wincent said, the problem would be just tree-shaking I'm not sure if it would be a problem for Portal, probably...

[2019-12-17 18:50] bryceosterhaus commented on #2775
@matuzalemsteles I don't think we would have any difference for tree shaking purposes, plus im not even sure we utilize and tree shaking at the moment. One thing to note is that we would have to do this for all packages that we normally just take the default import. See this pr, https://github.com/liferay/clay/pull/2816, for changes required.

[2019-12-17 18:54] bryceosterhaus commented on #2786
added some improvements here, https://github.com/liferay/clay/pull/2787. Closing for now, but might reopen in the future if we need further improvements.

[2019-12-17 18:54] #2786 closed

[2019-12-17 19:02] bryceosterhaus commented on #2577
Thanks for the feedback @drakonux!

Both the predictive forecast and heat map charts should be doable. Heat charts come by default with `recharts` and  I need to work on forecasting a bit more.

The one area of OOTB(out of the box) features we may not be able to provide would be _interactions_ such as clicking on a certain data set and bluring the other data sets(this was OOTB with billboard). Thi

[2019-12-17 20:17] matuzalemsteles commented on #2775
@bryceosterhaus Yeah, no problem for me.

[2019-12-17 20:17] matuzalemsteles commented on #2780
I'm not sure if it would be a problem for the ClayButton component, it is a standalone component and should not deal with it. You will probably have to deal with button spacing using pure HTML to do the expected, otherwise @pat270 would have to provide us with some utilities to handle different spacing in `<ClayButton.Group />`. @pat270 do you think this would be interesting?

[2019-12-18 08:40] jbalsas commented on #2776
Hey @bryceosterhaus, @matuzalemsteles!

I'd say time has proven we're not ready for ADRs at least the way we envisioned them... and that should be totally fine. My advice would be not to try to hard on it. If something isn't working, it's better to try something else... maybe in time we will get back to this original idea, but we can't force it.

I'd encourage you to find something that's useful a

[2019-12-18 09:43] jbalsas commented on #2783
I think that's a fairly comprehensive list. We should not pick things that are too big or unique such as the miller columns until we know it's a fairly common component that will serve different needs.

[2019-12-19 10:57] eduardoallegrini opened #2819 "ClayManagementToolbar change-view-type button wrong size"
During the investigation of this ticket https://issues.liferay.com/browse/LPS-104915

In the management-toolbar https://storybook.clayui.com/?path=/story/components-claymanagementtoolbar--w-low-level

I noticed that the bug is caused by the `.dropdown` element that is placed between the `.nav-item` and the `.btn`
![image](https://user-images.githubusercontent.com/46778114/71168118-5497fc80-2256-11

[2019-12-19 12:35] laugardie opened #2820 "Buttons color variations"
We are working on [LEXI-758](https://issues.liferay.com/browse/LEXI-758) to adapt the primary buttons to the colour of the status message. Could you check if these colours are matching these [variables](https://github.com/liferay/clay/blob/master/packages/clay-css/src/scss/variables/_globals.scss)?
$success-d1: `#226A33`
$success-d2: `#1C5629`
$info-d1:`#294F98`
$info-d2: `#234584`
$danger-d1: `#C

[2019-12-19 13:56] drakonux opened #2821 "Vertical Navigation: remove Select behavior"
## Context

Reviewing [LEXI-688](https://issues.liferay.com/browse/LEXI-688) we found that in mobile version the Vertical Navigation component changes to a [dropdown button](https://liferay.design/lexicon/core-components/buttons/) but it behaves as it were a [Selector](https://liferay.design/lexicon/core-components/forms/selector/).

![image](https://user-images.githubusercontent.com/21216422/7115

[2019-12-19 22:41] #2776 closed

[2019-12-20 13:02] drakonux opened #2822 "Vertical Navigation: New variant "with Decorator""
## What is your proposal?

A new variant for [Vertical Navigation](https://clayui.com/docs/components/navigation/vertical-navigation.html): "Vertical Navigation with Decorator".

![Vertical Navigation with Decorator](https://user-images.githubusercontent.com/21216422/71244641-4825a980-2313-11ea-95e1-66120be5d44d.png)

## Context

We have studied the proposal requested from team-app-builder: [LEXI-

[2019-12-21 02:02] pat270 commented on #2822
@drakonux does this need to go in 2.x?

[2019-12-21 02:12] pat270 commented on #2821
@drakonux does the design need to change from the screenshot? Or you're just looking to swap out Five with an icon or other text?

[2019-12-21 02:15] pat270 commented on #2820
@laugardie They're not all exact, but pretty close.

<img width="286" alt="atlas-colors" src="https://user-images.githubusercontent.com/788266/71301504-a7f07480-2354-11ea-997c-8b4e1edfefbd.png">

[2019-12-23 08:18] drakonux commented on #2822
Sorry, 🙏I forgot to specify that. This is just for 3.x

[2019-12-23 08:32] drakonux commented on #2821
Hey, @pat270 yes, the screenshot is the behavior we already have and I would like to change it.

I'm looking to swap out "five" (item selected) with a persistent text defined by the developer/designer ("Menu" by default)

Our direction should be to provide flexibility with the dropdown button (text, icon + text, etc) and let designers decide what they want in each scenario.

[2019-12-23 12:35] drakonux commented on #2577
From our point of view, we would like to have those interactions however if the cost/time is high we can invest time further in the future cc\ @jbalsas

[2019-12-23 16:17] drakonux commented on #2765
Lima-team is asking for this component in Alerts. Check [LEXI-509](https://issues.liferay.com/browse/LEXI-509) Any update on the progress of this ticket?

[2019-12-23 20:01] bryceosterhaus commented on #2577
Hey @interaminense, do you have an example of performance issues? I'd be curious to get the set of data you are working with and demoing it with recharts. Can you slack me an example of the data that is causing issues?

[2019-12-26 20:19] pat270 commented on #2765
@matuzalemsteles I sent a pr with this pattern. The markup should look something like:
[code]

[2019-12-27 00:06] #1041 closed

[2019-12-27 00:19] pat270 commented on #1741
This already exists with:
[code]

[2019-12-27 00:19] #1741 closed

[2019-12-27 09:11] #2785 closed

[2019-12-27 09:12] #2812 closed

[2019-12-27 09:14] #2765 closed

[2019-12-27 09:21] #2813 closed

[2019-12-27 10:15] #2242 closed

[2020-01-07 13:30] kresimir-coko commented on #2102
Do we have an idea on how this should look in the UI?

[2020-01-07 16:55] bryceosterhaus commented on #2102
@kresimir-coko we don't have any official mock ups or anything. I would think another icon next to the "copy" button would be sufficient. Perhaps one that toggles between a chevron icon point down and then sideways.  Check out the panel interactions for collapsing for inspiration, https://clayui.com/docs/components/Panel.html

[2020-01-07 17:53] diegonvs commented on #2102
When I created this issue I was minding about reduce the "readable" size of some CSS Examples, take a look on Dropdown CSS/Markup example: https://clayui.com/docs/components/drop-down.html

[2020-01-07 23:31] bryceosterhaus commented on #2768
@andresfulla would this fix satisfy your need in this component? https://github.com/liferay/clay/pull/2835#issuecomment-571821282

the other option would be to pass a ref, but I thought that would be more of a "gotcha"

[2020-01-08 14:33] laugardie commented on #2820
Hey @pat270, sorry for the late response but I have been PTO.

I see that some colors are the same and others are pretty similar. We would like to update the variables that don't match with the colors that we propose. We follow a rule to calculate them.

For example.-
We use the defalut color for $success:`#287D3C`. Then we calculate the darker colors following this pattern:
$success-d1: Default +

[2020-01-08 18:18] pat270 commented on #2820
@laugardie no worries. The percentage values don't apply across the board for every color. For example, `darken($warning, 5%)` outputs #A04500. The same goes for `-l1` and `-l2`. The forumlas on https://liferay.design/lexicon/foundations/color/ don't match 100% with Sass output.

Do you care if I just set the values to be exactly what you want? If not we need to coordinate on getting the formulas

[2020-01-08 18:48] jaredgorski opened #2836 "ClayTooltipProvider doesn't support newline characters"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?

## What are the steps to reproduce?
- Create an element within `ClayTooltipProvider` and pass a string with `\n` newline character(s) in the `title` attribute
- Observe that newlines are not visible i

[2020-01-08 19:46] john-co opened #2837 "Multiple broken links found on clayui.com"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide?
1. Navigate to https://clayui.com/docs/components/icon.html
2. Click on:
![screenshot_6](https://user-images.githubusercontent.com/35235266/72010046-fda99580-320b-11ea-82c2-5ee016632bc3.png)

- Page navigates to:
![Select

[2020-01-09 09:34] laugardie commented on #2820
@pat270 I have tested both hex values together and the color difference is not perceptible. So we could leave the values as you said before.

[2020-01-10 19:03] diegonvs commented on #2353
Makes sense adding a `sizing` like property on the provider for forcing sizing style variations of some components? It will be like:

[code]

and it will force all `small` properties to be true on Provider's children.

/cc @victorg1991 @sandrodw3

[2020-01-10 19:32] bryceosterhaus commented on #2353
I don't think design is as clear cut as that. I think they typically use a mix of all sizes in an app, so I don't think it'd make sense to default to a different size than the components already offer. Design could probably help answer this though.

[2020-01-10 19:59] diegonvs opened #2840 "Working with option groups using ClaySelect"
## What is your proposal?

Use ClaySelectWithOption with [optgroups](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/optgroup) for grouped options

## Why would adopting this proposal be beneficial?

Avoiding the user to don't use our High Level

[2020-01-10 21:09] bryceosterhaus commented on #2660
closing for now, will reopen if we decide to come back to this.

[2020-01-10 21:09] #2660 closed

[2020-01-10 21:09] bryceosterhaus commented on #2738
cc @pat270 any idea on this?

[2020-01-10 21:12] bryceosterhaus commented on #2819
fixed https://github.com/liferay/clay/pull/2834

[2020-01-10 21:12] #2819 closed

[2020-01-10 21:15] bryceosterhaus commented on #2625
I dont think these are quite necessary yet. Going to close but will reopen if we want to revisit later

[2020-01-10 21:15] #2625 closed

[2020-01-10 21:16] bryceosterhaus commented on #2553
Going to close. If you still need questions answered I can re-open.

[2020-01-10 21:16] #2553 closed

[2020-01-10 21:17] bryceosterhaus commented on #2249
i think we figured this out...

[2020-01-10 21:17] #2249 closed

[2020-01-10 21:18] bryceosterhaus commented on #2551
we can add table later when we create the high level. the card page should already exist.

[2020-01-10 21:18] #2551 closed

[2020-01-10 21:19] bryceosterhaus commented on #1712
I think we have made good progress. Going to close unless more comes up.

btw this is helpful for the TS+react best practices. https://github.com/typescript-cheatsheets/react-typescript-cheatsheet

[2020-01-10 21:19] #1712 closed

[2020-01-10 22:01] pat270 commented on #2738
Bootstrap sets `opacity: 0` on `popover` without the `show` class.

[2020-01-13 16:31] drakonux opened #2843 "ClayCard: Product Card"
# Context
Due to [LEXI-760](https://issues.liferay.com/browse/LEXI-760) we are reviewing the design proposed by Commerce Team.

# What is your question?
Is the [Clay Card](https://clayui.com/docs/components/card.html) component flexible enough to allow Commerce Team to build the following custom Card?

![commerce-card](https://user-images.githubusercontent.com/21216422/72269382-c5e38900-3623-11ea-

[2020-01-13 18:21] drakonux opened #2844 "ClayModal: Additional components in header"
# Context
Reviewing the new features from **team-echo** for Page Collections. I've found they plan to use a simplified version of a [MultiStep](https://storybook.clayui.com/?path=/story/components-claymultistepnav--low-level) component in a modal window aka wizard.

![Multistep simplified](https://user-images.githubusercontent.com/21216422/72280230-28468480-3638-11ea-9195-d6972856ff7a.png)
_Propos

[2020-01-13 20:44] marcosapmf opened #2845 "Too large text in label is not truncated"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

I need a truncate option to pass to the label class component. I tried to pass **text-truncate-inline** class in **elementClasses** attribute but it does not work.

I suggest to create a new attribute called **truncated** that accepts a boolean value

Needed us

[2020-01-13 22:31] bryceosterhaus opened #2846 "Running storybook locally results in error"
Running storybook locally results in this error for any component using "warning"

![Screen Shot 2020-01-13 at 2 29 42 PM](https://user-images.githubusercontent.com/6843530/72297706-4e0c6300-3611-11ea-94ab-7b063fc7bfe9.png)

[2020-01-14 09:55] drakonux commented on #2690
Hi guys,

Reviewing [Clayui.com](https://clayui.com/docs/components/icon.html) we didn't find the heart-full icon in the list. Could you check it out please?

Thanks,
David

[2020-01-14 15:42] laugardie opened #2848 "ClayAlert with action button"
In [clay issue 2765](https://github.com/liferay/clay/issues/2765), @matuzalemsteles mentioned the need to add some extra markup to align the button with the text and add extra spacing in alerts. As we are working on [LEXI-780](https://issues.liferay.com/browse/LEXI-780), we would like to know if this is already implemented?

[2020-01-14 18:01] pat270 commented on #2820
@laugardie I tweaked the colors/formulas in Atlas for the colors you listed. Those should match exactly.

/cc @drakonux

[2020-01-14 22:41] bryceosterhaus commented on #2844
Currently it is not possible to add this sort of functionality to either the high or low level components. We would need to add some additional markup to `clay-css` to allow for this change.

Typically for a multi-step in a modal, I have seen this pattern defined by lexicon https://liferay.design/lexicon/core-components/forms/multi-step-form-simplified/

[2020-01-14 22:48] bryceosterhaus commented on #2843
1. Its not currently possible to change the background color of the image, unless you add custom css, for example `.image-card .aspect-ratio {background-color: red;}`.
2. It's not currently possible to locate the checkbox in a different corner. We would need to update `clay-css` to account for this.
3. In order to make this a high-level component, we would likely want to see multiple use cases acr

[2020-01-14 22:49] pat270 commented on #2844
From the Clay CSS side of things there is no pattern for that, but the markup below:
[code]
will get it to display close to the screenshot and break decently in smaller screens. We will need to decide how to apply proper spacing or create a specific modal-header subcomponents for this.

[2020-01-14 23:00] pat270 commented on #2365
We figured this out? Seems like Portal inconsistency, closing this. Feel free to reopen if we still need to fix here.

[2020-01-14 23:00] #2365 closed

[2020-01-14 23:26] #2846 closed

[2020-01-14 23:26] bryceosterhaus commented on #2775
reopening because of https://github.com/liferay/clay/pull/2851

[2020-01-15 00:34] pat270 commented on #2822
@drakonux do the decorations still show in small screens? Don't mind the colors this is just a test.
<img width="374" alt="menubar-decorated-small" src="https://user-images.githubusercontent.com/788266/72394572-95ffb880-36eb-11ea-9129-936b71b23c18.png">

[2020-01-15 09:48] drakonux commented on #2843
Hello!!

1. We should ease this change. If you need more definition or information please tell me and I will open a new ticket.
2. Ok. It's not a requirement yet. I was exploring how flexible was the component. In anticipation of a new requirement from a product team.
3. Understood. For me it's ok if they can build it with our low-level component. It's all said.

Thanks Bryce!

cc: @laugardie

[2020-01-15 09:58] drakonux commented on #2822
Hey @pat270

For small screens, in the [definition document ](https://docs.google.com/document/d/141prJRHVXVVTNJSLVsGdPZYPtTSUd47T1um3ApRU6jQ/edit?usp=sharing)we wrote: "_It behaves and looks exactly in the same way as the mobile version for the Vertical Navigation component_".

What do you think? Should we keep the same design in the reduced version??

[2020-01-15 10:27] laugardie commented on #2820
@laugardie Thanks @pat270 👍

[2020-01-15 10:27] #2820 closed

[2020-01-15 13:52] drakonux commented on #2844
Yeah @bryceosterhaus it's true. Lexicon created [that component](https://liferay.design/lexicon/core-components/forms/multi-step-form-simplified/) but in my opinion, it wasn't well designed. I think nobody is using it and we would like to remove it at some moment.

I have to admit @pat270 I get lost to decide which option should be better or if create a new component or a variant (because it's a m

[2020-01-15 14:24] matuzalemsteles commented on #2844
I think for this particular case we can provide a low-level header component that allows for a multi-step, I don't think we need to provide a high-level component for it at the moment and if the business rule is needed to deal with steps we can add some logic to the `useModal` hook.

[2020-01-15 14:29] bicienzu opened #2853 "Clay components for Vue.js"
Are you going to develop the same react components for other frameworks such as  Vue.js?

[2020-01-15 14:58] matuzalemsteles commented on #2853
Hey @bicienzu we have no plans at this time to develop Clay components to other frameworks. We have some plans to provide the components in Clay for web components, in theory you could use it in Vue, Angular... but this is still under research.

cc @jbalsas

[2020-01-15 15:05] jbalsas commented on #2853
Hey @bicienzu, as @matuzalemsteles mentioned, we don't have plans to develop the components in other framework than React.

As it's stated in our [philosophy](https://clayui.com/docs/foundations/composing.html), we're structuring Clay as a multilayered API:

That basically means that you can just take the markup and build your own Vue components to output it and use `@clayui/css` to give them styl

[2020-01-15 15:55] drakonux opened #2854 "Icons Page: Icons first"
<img width="1496" alt="Screenshot 2020-01-15 at 15 22 47" src="https://user-images.githubusercontent.com/21216422/72441469-0b7e8e00-37ab-11ea-9108-28fb7b176dfd.png">

## What are the steps to reproduce?
1. Go to [Clayui.com](https://clayui.com/)
2. Select Components
3. Select [Icon](https://clayui.com/docs/components/icon.html)

## What is the expected result?
I would like to see the icons Clay ha

[2020-01-15 16:23] FabioDiegoMastrorilli opened #2855 "ClayTooltipProvider should handle jsx via content props"
Hi, we just stepped into a situation where we need to place some formatted data inside of a tooltip. The basic one accept custom `jsx` as content but the provider doesn't.

This is quite a big constrain for us that could be solved by passing our code via props like:
[code]
Also we could enrich the basic component using the dropdown approach:
[code]

Thank you :)

[2020-01-15 16:35] diegonvs commented on #2855
Something like this was related here: https://github.com/liferay/clay/issues/2836.

Would be a good idea create this `content` property to use like render props like:

[code]

[2020-01-15 17:00] pat270 commented on #2822
Thanks @drakonux, I missed the resources section for some reason.

[2020-01-15 17:38] pat270 commented on #2780
@dgarciasarai I'm pretty sure I won't add a workaround for no space because I can't detect it via CSS. Any white space between buttons will work e.g., tab, space, newline or pass in utility like you mentioned. There were margin and padding utilities merged recently that don't have the `!important` flag. The class names are the same as Bootstrap's except they are prefixed with `.c-` e.g., `.c-mr-1`

[2020-01-15 19:16] #2840 closed

[2020-01-15 19:25] bryceosterhaus commented on #2854
Great point, I totally agree. Thanks for creating this!

[2020-01-15 19:43] marcosapmf opened #2856 "Dropdown component is not rendering options with escaped special characters"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Is there an example you can provide via codesandbox.com?

## What are the steps to reproduce?
Pass an option with label containing escaped special character (ex.: '2 &gt 1')
## What is the expected result?
It should interpret labels as html special character

[2020-01-15 20:52] FabioDiegoMastrorilli commented on #2855
Thank for you feedback @diegonvs  :)
Btw, at that stage, we already know the content so there's no need to pass a function: just jsx would be fine.
Something like: `renderContent ={<button className="btn btn-primary">om nom nom!</button>}`

[2020-01-15 23:27] pat270 commented on #2843
1) I'm not sure if Clay Card allows components other than sticker inside aspect ratio e.g., `.label` and `button`? There are only `background-color` utilities provided by Bootstrap that can be used to change the background-color of `aspect-ratio` at the moment. The only way to align `.label` and `button` is to use `aspect-ratio-item-*` utilities on them with margin utilities:
[code]

2) Clay CSS a

[2020-01-16 18:17] drakonux commented on #2822
Thanks @pat270 we decided to not include a different design for mobile version to not add visual noise. So for now it's ok to keep that decision.  But I always open to suggestions, so don't hesitate to suggest and we can discuss it.

[2020-01-16 18:38] #2768 closed

[2020-01-16 19:26] #2856 closed

[2020-01-16 19:26] #2845 closed

[2020-01-16 20:06] pat270 commented on #2631
https://github.com/liferay/clay/pull/2832

[2020-01-16 20:06] #2631 closed

[2020-01-16 20:13] pat270 commented on #2795
closing duplicates https://github.com/liferay/clay/issues/2792

[2020-01-16 20:13] #2795 closed

[2020-01-16 20:34] bryceosterhaus commented on #2855
Hey @FabioDiegoMastrorilli I went ahead and added this functionality. I went with using a render function since the Provider is a global provider and not necessarily per tooltip instance. Go ahead and check out the demos and let me know if this is what you would expect.

[Storybook](https://5e20c749c648400008f49c2c--storybook-clayui.netlify.com/?path=/story/components-claytooltip--claytooltipprovi

[2020-01-16 20:36] #2836 closed

[2020-01-17 08:45] eduardoallegrini opened #2863 "[ClayWebsite] Create a page for the new spacing utilities"
## What is your proposal?
Some time ago, we introduced [new spacing utility classes for Clay](https://github.com/liferay/clay/issues/2725)

Now, [we are already suggesting to use them](https://github.com/liferay/clay/issues/2780#issuecomment-574771274) but we have no documentation about it, I think we should create an official page on the Clay website to list these new utilities

[2020-01-17 12:08] marcoscv-work opened #2864 "Same size for headings in "3.x" as in "2.x""
In 3.x we need the same size headers as in 2.x.

![image](https://user-images.githubusercontent.com/7963804/72611397-478c2d00-392a-11ea-888e-b8319dee20df.png)

Portal is not yet ready for the resize in headers that we want, so we will apply it in the future.

| Tech  | Version |
| ----- | ------- |
| Clay  | v3.X  |

[2020-01-17 15:50] FabioDiegoMastrorilli commented on #2855
Hi @bryceosterhaus perfect like this. In our scenario we didn't need a callback function but we can just pass no params. Also `targetRef` would be a great thing to add :)

[2020-01-17 16:48] pat270 commented on #2864
@marcoscv-work I thought headers were supposed to match Bootstrap sizes a while ago, but since it would break layouts in 2.x we decided only to put it in 3.x. https://issues.liferay.com/browse/LPS-91488

[2020-01-17 17:10] #2848 closed

[2020-01-17 17:55] jbalsas commented on #2864
Yeah, if we want to move to `3.x` in DXP so we can stop backporting everything to `2.x`, we need this reverted because unfortunately we haven't fixed it on Portal side yet and the impact is way too big to let it go :(

[2020-01-19 01:36] #2864 closed

[2020-01-20 14:29] jbalsas opened #2867 "Paste Sample Code Feature"
Based on https://github.com/liferay/clay/issues/2843#issuecomment-574905300:

It might be a good idea to have some type of "Sandbox" page or feature where we could simply do what @pat270 suggests. That is:
- Go to a page
- A "Paste your HTML Sample" textarea appears
- When pasted, the HTML is injected somewhere to validate the result

Just an idea, feel free to discard it 😉

[2020-01-20 15:46] jbalsas commented on #2577
I think we can close this as work is ongoing and most feedback was gathered/accounted for.

[2020-01-20 15:46] #2577 closed

[2020-01-20 15:52] jbalsas commented on #2253
Doing some spring-cleaning... closing all issues labeled as `2.x` that are not `type:bug` since `2.x` is in maintenance and we won't be proactively be taking these ones.

Please @4lejandrito, reopen if this is important or if it affects our new `3.x` components so we can plan work for it.

Thanks!

[2020-01-20 15:52] #2253 closed

[2020-01-20 15:54] jbalsas commented on #1694
Doing some spring-cleaning... closing all issues labeled as `2.x` that are not `type:bug` since `2.x` is in maintenance and we won't be proactively be taking these ones.

Please @victorvalle, reopen if this is important or if it affects our new `3.x` components so we can plan work for it.

Thanks!

[2020-01-20 15:54] #1694 closed

[2020-01-20 15:55] jbalsas commented on #1580
Doing some spring-cleaning... closing all issues labeled as `2.x` that are not `type:bug` since `2.x` is in maintenance and we won't be proactively be taking these ones.

This should be covered once we get to https://github.com/liferay/clay/milestone/13

Thanks!

[2020-01-20 15:55] #1580 closed

[2020-01-20 15:56] jbalsas commented on #1495
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

I think we can discard this for `2.x`. @matuzalemsteles, @wincent, feel free to add to the conversation and/or reopen if you think this is still relevant.

Thanks!

[2020-01-20 15:56] #1495 closed

[2020-01-20 15:57] jbalsas commented on #1428
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

@marco-leo, feel free to add to the conversation and/or reopen if you think this is still relevant, if it is a current bug in `2.x` or if it affects our new `3.x` components so we can add it to the mix.

Thanks!

[2020-01-20 15:57] #1428 closed

[2020-01-20 15:58] jbalsas commented on #1409
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

I think we don't need to go over the effort for `2.x`, specially since we're already working on https://github.com/liferay/clay/milestone/14. In any case, @carloslancha, @matuzalemsteles , feel free to reopen if still relevant.

Thanks

[2020-01-20 15:58] #1409 closed

[2020-01-20 15:58] jbalsas commented on #1408
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

I think we don't need to go over the effort for 2.x, specially since we're already working on https://github.com/liferay/clay/milestone/14. In any case, @carloslancha, @matuzalemsteles , feel free to reopen if still relevant.

Thanks!

[2020-01-20 15:58] #1408 closed

[2020-01-20 16:00] jbalsas commented on #649
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

@pat270, @matuzalemsteles, please reopen in the context of our `3.x` components if still relevant!

Thanks!

[2020-01-20 16:00] #649 closed

[2020-01-20 16:11] jbalsas commented on #831
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

Thanks!

[2020-01-20 16:11] #831 closed

[2020-01-20 16:12] jbalsas commented on #868
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

Thanks!

[2020-01-20 16:12] #868 closed

[2020-01-20 16:12] jbalsas commented on #875
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

Thanks!

[2020-01-20 16:12] #875 closed

[2020-01-20 16:12] jbalsas commented on #877
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

@victorvalle, @matuzalemsteles, please reopen if you think this is still relevant in the context of our `3.x` components.

Thanks!

[2020-01-20 16:12] #877 closed

[2020-01-20 16:13] jbalsas commented on #985
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

@matuzalemsteles, please reopen if you think this is still relevant in the context of our `3.x` components.

Thanks!

[2020-01-20 16:13] #985 closed

[2020-01-20 16:13] jbalsas commented on #1151
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

@matuzalemsteles, please reopen if you think this is still relevant in the context of our `3.x` components.

Thanks!

[2020-01-20 16:13] #1151 closed

[2020-01-20 16:13] jbalsas commented on #1153
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

@matuzalemsteles, @carloslancha, please reopen if you think this is still relevant in the context of our `3.x` components.

Thanks!

[2020-01-20 16:13] #1153 closed

[2020-01-20 16:13] jbalsas commented on #1161
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

@matuzalemsteles, @carloslancha, please reopen if you think this is still relevant in the context of our `3.x` components.

Thanks!

[2020-01-20 16:13] #1161 closed

[2020-01-20 16:13] jbalsas commented on #1175
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

Thanks!

[2020-01-20 16:13] #1175 closed

[2020-01-20 16:14] jbalsas commented on #375
Moving to `3.x` label

[2020-01-20 16:15] jbalsas commented on #1327
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

Thanks!

[2020-01-20 16:15] #1327 closed

[2020-01-20 16:15] jbalsas commented on #1379
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

@matuzalemsteles, @carloslancha, please reopen if you think this is still relevant in the context of our `3.x` components.

Thanks!

[2020-01-20 16:15] #1379 closed

[2020-01-20 16:16] jbalsas commented on #2037
Removing the `2.x` label so we only consider applying this to `3.x`. With our work on SCSS and stylelint, maybe it's time to revisit this?

[2020-01-20 16:18] jbalsas commented on #459
Doing some spring-cleaning... closing all issues labeled as 2.x that are not type:bug since 2.x is in maintenance and we won't be proactively be taking these ones.

In this case we're in fact already working on https://github.com/liferay/clay/milestone/14, so no need to keep on this, but a good reminder of the conversation @bryceosterhaus!

Thanks!

[2020-01-20 16:18] #459 closed

[2020-01-20 18:03] pat270 commented on #2867
@jbalsas sounds useful, we could toss in some localstorage to make it persist.

[2020-01-20 19:33] pat270 commented on #2811
@matuzalemsteles Not sure if Clay Dropdown can do this already, the only thing that needs to change is `dropdown-item` needs to to be `dropdown-section` for checkbox/radios. See https://github.com/liferay/clay/pull/2861.

[2020-01-20 20:21] matuzalemsteles commented on #2811
Thanks @pat270

[2020-01-21 08:41] jbalsas commented on #2867
/cc @bryceosterhaus, @kresimir-coko, @matuzalemsteles... thoughts??

[2020-01-21 09:27] kresimir-coko commented on #2867
Sounds like something that would provide value to the users.

[2020-01-21 13:20] dgarciasarai commented on #2780
In the end, I added a little space between buttons to fix the reported bug regarding the focus style: https://issues.liferay.com/browse/LPS-105624. Thanks.

[2020-01-21 13:38] matuzalemsteles commented on #2867
We had a similar page in v2 but it was for the components, we can try to do the same here but only for the HTML since for the components in React it doesn't make much sense to fight with Codesandbox 😁.

http://v2.clayui.com/try.html

[2020-01-21 13:49] jbalsas commented on #2867
Hahaha... I forgot we had this!

Yeah, just a simple paste html here and see the result. For the rest we already have storybook and codesandbox and other industry-standard tools, no need for custom development

[2020-01-21 13:53] matuzalemsteles commented on #2867
Yeah, this page is secret 😆

[2020-01-21 14:53] matuzalemsteles opened #2868 "Clay service accounts"
The intention of this issue is to evaluate the accounts we have in some services that are used for the benefit of Clay and to identify who the owners are so that we can give access to the rest of the team and evaluate the costs.

| Company        | Services           | Free Tier  |
| ------------- |:-------------:| -----:|
| Netlify | deploy previews, deploy clayui.com, storybook | Starter / 300 m

[2020-01-21 17:41] rodrigopaulino opened #2869 "Dropdown's _originalItems is never reset when rendering the dropdown list with other values"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## Description:
Liferay's product Forms has a type of field called Select. Select uses ClayDropdown to list their options, and this type of field can be re-rendered depending on other values of the form if the user chooses to. The problem with that is that the

[2020-01-21 17:45] bryceosterhaus commented on #2867
Sounds like a great idea to me

[2020-01-21 17:48] bryceosterhaus commented on #2868
@matuzalemsteles yeah you definitely shouldn't be the one with the bill lol. I do think the auto builds and previews we have on every PR are incredibly useful. We could also consider using `now` from zeit, but I'm not entirely sure what that pricing would look like. Regardless of service, I think we need this sort of functionality though.

[2020-01-21 17:53] jbalsas commented on #2868
Hey @bryceosterhaus, as I told @matuzalemsteles, I can take care of the billing. What I need from you is a definite and clear answer on wether this is useful or not and worth paying for so I can figure out what we need to do to get approval :)

[2020-01-21 18:03] matuzalemsteles commented on #2868
I also agree that the deploy preview is very important for us. It is much better to look at the preview than having to test it locally.

I thought about zeit too, but I was looking at their prices and we would be practically obliged to use the Pro plan which costs $20 but the build time (600 minutes) is very close to the Netlify Starter plan and also the additional time build costs $10 for 600 min

[2020-01-21 18:20] bryceosterhaus commented on #2868
Yes, most definitely. We can also do some work in making sure certain build steps are worth it for CI. But without a doubt I would say its been worth it for what we do have.

[2020-01-22 16:57] jbalsas commented on #2868
Filed an LRIT ticket asking IT to provision an account... will keep you updated! 🤞

[2020-01-24 01:38] pat270 commented on #1248
PR at https://github.com/liferay/clay/pull/2871
Closing this issue in favor of https://github.com/liferay/clay/issues/2734

[2020-01-24 01:38] #1248 closed

[2020-01-24 12:35] #2869 closed

[2020-01-24 18:04] marcosapmf opened #2873 "Modal's footer buttons with wrong position in IE11"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

The bug appears when the modal component is instanced with two footer buttons aligned to right in a Soy template. This only happens in IE11.

## Environment

| Tech  | Version |
| ----- | ------- |
| Clay  | v2.18.1  |

[2020-01-24 18:17] #2855 closed

[2020-01-24 18:44] matuzalemsteles commented on #2873
hey @pat270 could you help us with this? I'm thinking of not adding the `modal-item-first` and `modal-item-last` when there are no buttons for the respective places, solving this in the component, but it is strange to have to do this.

[2020-01-27 09:05] eduardoallegrini commented on #2814
I would add these
https://github.com/liferay/clay/issues/2210
https://github.com/liferay/clay/issues/2654

[2020-01-27 13:19] #2815 closed

[2020-01-27 14:16] #2792 closed

[2020-01-27 14:46] kresimir-coko commented on #2029
I'm thinking of picking this one up next, but I couldn't find the `Icons` referenced in `https://github.com/liferay/clay/blob/master/clayui.com/content/docs/components/css-icons.md` as `[foreach Icons]`. I'm still figuring out how to properly search for things in the repo :smile:

[2020-01-27 14:58] matuzalemsteles commented on #2029
hey @kresimir-coko, don't worry. When we have such syntax in `md` files, we usually create gatsby plugins to handle them. You can find this in particular at `gatsby-remark-foreach-icons`.

[2020-01-27 17:39] pat270 commented on #2873
@matuzalemsteles I can't seem to duplicate this in Clay CSS on my IE11 VM. The way I'm writing the markup is:
[code]

[2020-01-27 17:57] matuzalemsteles commented on #2873
Hmm, @pat270 maybe this just happens in a Modal with the size `sm`? this was the case with the Forms team, I will try to check again if there is no other CSS that is causing this.

[2020-01-27 18:10] matuzalemsteles opened #2877 "Dropdown component is not rendering special escape characters for other types"
`DropDownBase` only correctly renders this case when the `type` is default, just in the case of plain text, we need to do the same for most of the types listed here https://github.com/liferay/clay/blob/2.x/packages/clay-dropdown/src/validators.js#L23-L28.

## Environment

| Tech  | Version |
| ----- | ------- |
| Clay  | v2.20.1  |

[2020-01-27 22:15] #2877 closed

[2020-01-27 23:59] pat270 opened #2881 "Clay CSS use !optional Flag for @extend"
For devs that only want to import a subset of Clay CSS components, `@extend` causes errors during compile time. Code below is one example:
###### components/forms.scss
[code]

We don't need `!optional` for components that are extending the Sass placeholder / selector in the same file e.g., `components/_aspect-ratio.scss`.

[2020-01-28 00:34] pat270 commented on #2873
@matuzalemsteles I'm not sure, I know we have conflicting CSS in Portal since we have old modal styles from the AUI days. It also could be my version of IE11 is too old (I've had issues with IE11 versions in the past).

[2020-01-28 09:14] eduardoallegrini commented on #2029
/cc @drakonux @laugardie @emiliano-cicero

[2020-01-28 11:19] kresimir-coko commented on #2029
Can you confirm @eduardoallegrini ? I was planning on starting work on this today.

[2020-01-28 12:34] kresimir-coko commented on #2029
[Here](https://gist.github.com/kresimir-coko/011bd192f55529930feb23c9313a0cc6) I've gathered all the icon names and added empty values for aliases. In case someone else didn't wanna do the busywork of compiling them.

[2020-01-28 14:32] #2784 closed

[2020-01-28 14:32] #2798 closed

[2020-01-28 14:34] #2881 closed

[2020-01-28 17:30] drakonux commented on #2029
Hey guys! yeah @eduardoallegrini maybe this can help.

We have a [catalog](https://docs.google.com/spreadsheets/d/1Dc_hyiGodSlJHfGx8V1B5ezQgcbZkZzS_93aLn8VxIU/edit?usp=sharing) with all the icons, theirs names and metaphors / related terms.

FYI. We created it to help designers to find icons using Figma and to help us to see conflicts between metaphors.

[2020-01-28 17:35] #2805 closed

[2020-01-28 17:46] matuzalemsteles commented on #2873
@pat270 i did some tests and this is only happening in 7.2, apparently i can't track any CSS code that is colliding with Clay's, there was only a Forms CSS fixing the size of the Modal but this was not causing it.

<img width="378" alt="Screen Shot 2020-01-28 at 14 44 28" src="https://user-images.githubusercontent.com/13750819/73290149-b1cf8800-41dc-11ea-9fdf-99599baada30.png">

[2020-01-28 17:54] pat270 commented on #2873
@matuzalemsteles can you tell me how to get to that modal, I'll test also.

[2020-01-28 17:57] matuzalemsteles commented on #2873
@pat270

1. Go to Forms
2. Create a new Form
3. Add a new language
4. Remove a language (The modal will appear)

[2020-01-28 18:22] pat270 commented on #2873
@matuzalemsteles I see now. I think when I created this I assumed if there were no buttons in `modal-item-first` no markup would be output. I can make it work both ways if I just reverse the styles on `modal-footer`, `modal-item-first`, `modal-item-last`.

[2020-01-28 18:28] matuzalemsteles commented on #2873
@pat270 hmm, the strange thing is that it works well on the master. I'm asking myself if it was an update we missed.

[2020-01-28 18:34] pat270 commented on #2873
@matuzalemsteles I can reproduce it in Clay CSS 3.x when I use:
[code]

[2020-01-28 18:35] matuzalemsteles commented on #2873
Oh no 😱

[2020-01-28 20:41] #2873 closed

[2020-01-29 13:43] kresimir-coko commented on #2029
@bryceosterhaus can you give me some advice on which approach to take for this. I have a json that I exported from the [catalog](https://docs.google.com/spreadsheets/d/1Dc_hyiGodSlJHfGx8V1B5ezQgcbZkZzS_93aLn8VxIU/edit?usp=sharing) containing all the icons and their aliases. I couldn't figure out a proper way of connecting the search functionality with the DOM in the markdown file.

[2020-01-30 10:58] ambrinchaudhary opened #2887 "ClayModal Body should accept custom className or a scroller"
-   [x] I have searched the [issues](https://github.com/liferay/clay/issues) of this repository and believe that this is not a duplicate.

## What are the steps to reproduce?
There is no way to provide custom classes to the <ClayModal.Body> component, i.e:
`<ClayModal.Body className="inline-scroller">` is ignored

## What is the expected result?
The best solution would be that ClayModal shows a sc

[2020-01-30 11:05] marcoscv-work commented on #2887
Inline scroller is here:
http://pat270.github.io/lexicon/v2.16.2/content/modals/#inline-scroller

We have talked with @drakonux and maybe the modal height behavior in `inline-scroller` is not well defined

[2020-01-30 16:25] wincent opened #2888 "ClayPaginationBarWithBasicItems doesn't actually implement initialSelectedDelta"
`<ClayPaginationBarWithBasicItems />` [claims](https://github.com/liferay/clay/blob/f53e37b1d0776821c1a35d93049cb3b63306bfe4/packages/clay-pagination-bar/src/PaginationBarWithBasicItems.tsx#L99) to support a `initialSelectedDelta` prop, but if you try using it you'll see this in the console:

[code]

Grepping to see where `initialSelectedDelta` is used in Clay, it turns up no results apart from th

[2020-01-30 16:40] bryceosterhaus commented on #2888
Oh interesting, looks like we forgot to remove it when we made it more controlled. I think you can achieve the same functionality as just setting the `activeDelta` prop.

I'm thinking this component used a previous beta version and never updated. I will go ahead and remove the unused prop from the interface.

[2020-01-30 18:37] bryceosterhaus commented on #2887
I'm gonna add a `scrollable` prop to Modal.Body to add this class

[2020-01-31 16:33] #2887 closed

[2020-01-31 16:33] #2888 closed

[2020-02-03 11:19] wincent opened #2891 "Size of dependency graph"
Just planting this one as a seed for discussion and thought, although it may not lead to any action. The question:

---

The Clay dependency graph is very large.

The `yarn.lock` has 23k lines.

`yarn audit` reports:

[code]
(Note that it is obviously some double-counting there due to some kind of Yarn bug; there are 80k files in the `node_modules` directory and it must be counting the same packag

[2020-02-03 11:48] jbalsas commented on #833
Hey @victorvalle, do we still need to do this?

[2020-02-03 12:01] jbalsas commented on #1056
Closing due to inactivity and `2.x` being in maintenance. We can reopen if needed or if still broken :/

[2020-02-03 12:01] #1056 closed

[2020-02-03 12:01] jbalsas commented on #1069
We're at least using this in DXP, so I'll count it as done and move on. We can reopen if necessary.

[2020-02-03 12:01] #1069 closed

[2020-02-03 12:03] jbalsas commented on #1087
Closing due to inactivity. We can reopen if needed or if still broken.

/cc @kresimir-coko, mind double-checking?

[2020-02-03 12:03] #1087 closed

[2020-02-03 12:04] jbalsas commented on #1108
I think we have a solid integration workflow right now that's working for the team.

@bryceosterhaus , @kresimir-coko , feel free to reopen or file a new one if still necessary

[2020-02-03 12:04] #1108 closed

[2020-02-03 12:04] jbalsas commented on #1109
I think we have a solid integration workflow right now that's working for the team.

@bryceosterhaus , @kresimir-coko , feel free to reopen or file a new one if still necessary

[2020-02-03 12:04] #1109 closed

[2020-02-03 12:05] jbalsas commented on #1391
Closing due to inactivity. We can reopen if necessary.

/cc @kresimir-coko, @bryceosterhaus, feel free to reopen if needed!

[2020-02-03 12:05] #1391 closed

[2020-02-03 12:05] jbalsas commented on #1404
Closing due to inactivity. We can reopen if necessary.

/cc @kresimir-coko, @bryceosterhaus, feel free to reopen if needed!

[2020-02-03 12:05] #1404 closed

[2020-02-03 12:05] jbalsas commented on #1505
Closing due to inactivity and since this mostly targets 2.x... We can reopen if necessary.

/cc @kresimir-coko, @bryceosterhaus, feel free to reopen if needed!

[2020-02-03 12:05] #1505 closed

[2020-02-03 12:05] jbalsas commented on #1211
Closing due to inactivity. We can reopen if necessary.

/cc @kresimir-coko, @bryceosterhaus, feel free to reopen if needed!

[2020-02-03 12:05] #1211 closed

[2020-02-03 12:06] jbalsas commented on #1621
Closing due to inactivity. We can reopen if necessary.

/cc @pat270, @kresimir-coko, @bryceosterhaus, feel free to reopen if needed!

[2020-02-03 12:06] #1621 closed

[2020-02-03 12:06] jbalsas commented on #1622
Closing due to inactivity. We can reopen if necessary.

/cc @pat270, @kresimir-coko, @bryceosterhaus, feel free to reopen if needed!

[2020-02-03 12:06] #1622 closed

[2020-02-03 12:07] jbalsas commented on #1401
I think this is either done or unnecessary right now... or the team is looking into ways to do this already, so closing for now.

[2020-02-03 12:07] #1401 closed

[2020-02-03 12:10] jbalsas commented on #1864
We're exploring a change in how we integrate and distribute charts, so discarding this for now as we'll likely do something else

/cc @bryceosterhaus, @kresimir-coko

[2020-02-03 12:10] #1864 closed

[2020-02-03 12:12] jbalsas commented on #2853
Closing for now as we won't be implementing this in the near-future.

@bicienzu, feel free to reach out if you attempt this and run into any issues! We'll be glad to assist you! :)

[2020-02-03 12:12] #2853 closed

[2020-02-03 12:15] victorvalle commented on #833
I think we do as they are used in different products

[2020-02-03 13:17] matuzalemsteles commented on #2891
Oh I'm surprised that our lockfile is bigger than Portal 😱. But looking at it quickly it seems that we have a lot of outdated dependencies concentrated in the `@clay/css` package, alias it doesn't work with Node 12, so maybe we need to update the dependencies or modify the build stack to modernize, we would probably be able to decrease this graph of dependencies but I'm not sure how expensive it w

[2020-02-03 13:40] jbalsas commented on #1412
Closing due to inactivity... we can reopen if this every resurfaces...

[2020-02-03 13:40] #1412 closed

[2020-02-03 13:57] jbalsas opened #2893 "[New] ToggleSwitch Component"
This is a formal request to **implement Lexicon's [Toggle Input Variation](https://liferay.design/lexicon/core-components/forms/radio-check-toggle/#toggle)** as a Clay Component.

![switchlabelon](https://user-images.githubusercontent.com/905006/73658330-6c0b3780-4694-11ea-80f0-3dad71a4437f.jpg)

#### References
- [Lexicon Definition](https://liferay.design/lexicon/core-components/forms/radio-chec

[2020-02-03 14:00] kresimir-coko commented on #1087
@jbalsas Looks fixed
![image](https://user-images.githubusercontent.com/24564752/73659146-e9837780-4695-11ea-8a90-9fd22377333a.png)

[2020-02-03 14:23] jbalsas commented on #2783
Reviewing tasks and creating necessary tickets for them (and marking them as done in the list in the main issue description.

Component | Implement | Request |
--- | --- | ---
EmptyState | ✔| https://github.com/liferay/clay/issues/833 |
ToggleSwitch | ✔| https://github.com/liferay/clay/issues/2893 |

[2020-02-03 14:27] jbalsas commented on #833
Adding this to https://github.com/liferay/clay/milestone/15 so we can create a new component for this.

#### References
- [Lexicon Definition](https://liferay.design/lexicon/core-components/empty-states/)
- [search-tuning-rankings-web::ClayEmptyState](https://github.com/liferay/liferay-portal/blob/master/modules/dxp/apps/portal-search-tuning/portal-search-tuning-rankings-web/src/main/resources/MET

[2020-02-03 15:03] jbalsas opened #2894 "[New] Text Input Localizable Component"
This is a formal request to implement Lexicon's Text Input Localizable as a Clay Component.

![InputLocalizable](https://user-images.githubusercontent.com/905006/73663352-b04f0580-469d-11ea-8de9-b4188e09cdd4.jpg)

#### References
- [Lexicon Definition](https://liferay.design/lexicon/core-components/forms/text-input-localizable/)
- [segments-web::LocalizedInput](https://github.com/liferay/liferay-p

[2020-02-03 15:14] jbalsas opened #2895 "[New] UpperToolbar Component"
This is a formal request to implement Lexicon's [UpperToolbar](https://liferay.design/lexicon/core-components/toolbars/toolbar-upper/) as a Clay Component.

![ToolbarUpper](https://user-images.githubusercontent.com/905006/73664413-a3331600-469f-11ea-91aa-ab531287dbe5.jpg)

#### References
- [Lexicon Definition](https://liferay.design/lexicon/core-components/toolbars/toolbar-upper/)
- [app-builder-

[2020-02-03 15:24] jbalsas commented on #2671
Added to https://github.com/liferay/clay/milestone/15 so we can move with implementation for this

[2020-02-03 15:39] jbalsas commented on #2783
Closing here... all components have been analyzed and either scheduled in https://github.com/liferay/clay/milestone/15 or marked as discarded with an explanation here.

[2020-02-03 15:39] #2783 closed

[2020-02-03 16:02] jbalsas opened #2896 "[New] InputMoveBoxes Component"
This is a formal request to **implement [Input Move Boxes](https://liferay.design/lexicon/core-components/forms/radio-check-toggle/#toggle)** (for a lack of a better name) as a Clay Component.

We currently lack documentation proper Lexicon definition and documentation for this component, so this task should start by involving @drakonux and @laugardie in analysis and definition tasks.

<img width=

[2020-02-03 16:04] jbalsas commented on #2844
Added to https://github.com/liferay/clay/milestone/15 so we can prioritize it :)